<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>Grupo Top 10</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    <!-- styles -->
    <?php $this->headLink()->appendStylesheet($this->basePath('/libs/bootstrap/dist/css/bootstrap.min.css')); ?>

    <?php echo $this->headLink(); ?>

</head>
<body class="landing-page" style="background: #52565a">
<?php
for($i=1;$i<=14;$i++){
?>
    <img src="<?php echo $this->basePath('images/affiliate/apresentacao/apresentacao-page-'.str_pad($i, 3, "0", STR_PAD_LEFT).'.jpg');?>" class="img-responsive">
    <br>
<?php
}
?>
</body>
<script>var GA_ID = "<?php echo $this->GA_ID; ?>"; var baseUrl = "<?php echo $this->basePath(); ?>";</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', GA_ID, 'auto');
    ga('send', 'pageview');

</script>
<script type="text/javascript"> //<![CDATA[
    var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
    document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
    //]]>
</script>
<div class="trustLogo">
    <script language="JavaScript" type="text/javascript">
        TrustLogo("https://grupotop10.com.br/images/affiliate/comodo_secure_seal_76x26_transp.png", "CL1", "none");
    </script>
</div>
</body>
</html>