<header id="page-top">
    <div class="container">
        <div class="heading">
            <h1>
                Junte-se a nós e projete
            </h1>
            <h2>
                os seus próximos 12 meses
            </h2>
            <h3>
                Veja como será simples sua atuação e seu sucesso junto a nossa empresa!
            </h3>
            <a href="<?php echo $this->url('cadastro');?>" class="btn btn-warning btn-sm">Cadastre-se agora</a>
        </div>
        <div class="heading-image animate-panel" data-child="img-animate" data-effect="fadeInRight">
            <!--<p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <img class="img-animate" src="images/affiliate/c1.jpg">
            <img class="img-animate" src="images/affiliate/c2.jpg">
            <img class="img-animate" src="images/affiliate/c3.jpg">
            <img class="img-animate" src="images/affiliate/c4.jpg">
            <br/>
            <img class="img-animate" src="images/affiliate/c5.jpg">
            <img class="img-animate" src="images/affiliate/c6.jpg">
            <img class="img-animate" src="images/affiliate/c7.jpg">
            <img class="img-animate" src="images/affiliate/c8.jpg">-->
        </div>
    </div>
</header>
<section>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Visão</h4>
            <p>O presente nos proporciona liberdade financeira no futuro para todos os nossos Membros.</p>
            <!--<p><a class="navy-link btn btn-sm page-scroll" page-scroll href="#planos" role="button">Saiba mais</a></p>-->
        </div>
        <div class="col-md-4">
            <h4>Missão</h4>
            <p>Difundir Top 10 em todo o Brasil, ajudando todos os associados a conquistarem a sua casa própria com menos burrocracia.</p>
            <!--<p><a class="navy-link btn btn-sm page-scroll" page-scroll" href="#beneficios" role="button">Saiba mais</a></p>-->
        </div>
        <div class="col-md-4">
            <h4>Valores</h4>
            <p>Trabalho, dedicação, persistência, fé e amor ao próximo.</p>
            <!--<p><a class="navy-link btn btn-sm" href="<?php echo $this->url('cadastro');?>" role="button">Cadastre-se</a></p>-->
        </div>
    </div>
    </div>
</section>

<section id="quem_somos" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><span class="text-danger">O Grupo Top 10</span></h2>
                <p> </p>
            </div>
        </div>
        <div class="row m-t-md">
            <div class="col-md-6">
                <h4 class="m-t-xxxl">Empresa </h4>
                <p>Somos um grupo de visionários em parceria com a construtora NECKEL, no que diz respeito a desenvolvimentos de projetos arquitetônicos, como, Condomínios residenciais.</p>
                <p>Nossa responsabilidade é auxiliar na administração financeira dos valores investidos pelos cooperados.</p>
            </div>
            <div class="col-md-6">
                <img  src="<?php echo $this->basePath('images/affiliate/quem_somos.jpg');?>" class="img-responsive">
            </div>
        </div><a class="btn btn-primary btn-sm" href="<?php echo $this->basePath('/images/affiliate/apresentacao.pdf');?>">VEJA A APRESENTAÇÃO COMPLETA</a>
    </div>
            
</section>

<section id="planos" class="">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2><span class="text-danger"></span>Ganhe <?php echo $this->params['config']->getPercentualDistribuicao();?>% de divisão de lucro.</h2>
                <p>Junte-se a nós</p>
                <p>São 8 formas de iniciar no Top 10</p>
                <p>Cada pacote é valorizado em Moedas</p>
            </div>
        </div>

        <div class="row m-t-lg">
            <h2 class="text-center"><span class="text-danger">Planos</span></h2>
            <?php echo $this->partial('partial/planoslist');?>
        </div>
    </div>
</section>

<section id="beneficios" class="bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2><span class="text-danger">Benefícios </span>pra você</h2>
                <p>Saiba o que você ganha com tudo isso. </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-exapnd2 text-danger icon-big"></i></h4>
                <strong>01</strong>
                <p>Bônus de participação dos lucros. (moeda)</p>
            </div>
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-users text-danger icon-big"></i></h4>
                <strong>02</strong>
                <p>Bônus de indicação direta do plano.</p>
            </div>
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-display1 text-danger icon-big"></i></h4>
                <strong>03</strong>
                <p>Bônus de prêmios por metas alcançadas.</p>
            </div>
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-home text-danger icon-big"></i></h4>
                <strong>04</strong>
                <p>Bônus por participação de lucros na venda de imóveis</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-md-offset-1">
                <h4 class="m-t-lg"><i class="pe-7s-global text-danger icon-big"></i></h4>
                <strong>05</strong>
                <p>Direito de financiar seu imóvel com 20% de entrada.</p>
            </div>
            <div class="col-md-4">
                <h4 class="m-t-lg"><i class="pe-7s-calculator text-danger icon-big"></i></h4>
                <strong>06</strong>
                <p>Direito de financiar seu imóvel sem burrocracia de banco e sem  consulta SERASA e SPC.</p>
            </div>
            <div class="col-md-3">
                <h4 class="m-t-lg"><i class="pe-7s-science text-danger icon-big"></i></h4>
                <strong>07</strong>
                <p>Direito de comprar imóveis com 10% a 20% de desconto coforme o seu plano.</p>
            </div>
        </div>

    </div>
</section>

<section id="como_recebo">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2><span class="text-danger">Como e quando </span>recebo meus ganhos</h2>
                <p>
                </p>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-md-4 col-md-offset-2">
                <strong>Pagamentos.</strong>
                <p>Seus ganhos são pagos através de depósito em sua conta bancária, você pode solicitar o mesmo pelo painel quando atingir o valor mínimo de saque referente ao seu plano.</p>
                <a href="<?php echo $this->url('adm/default');?>" class="btn btn-warning btn-sm">Acompanhe</a>
            </div>
            <div class="col-md-4">
                <strong>Extrato.</strong>
                <p>Você pode acompanhar seus extratos em seu painel, com informações detalhadas sobre cada movimentação.</p>
                <a href="<?php echo $this->url('adm/default');?>" class="btn btn-warning btn-sm">Acompanhe</a>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-md-8 col-md-offset-2">
                <strong>Atualização de Saldo.</strong>
                <p>Os extratos são atualizados semanalmente.</p>
            </div>
        </div>
    </div>
</section>