<?php
/*
 * @var $form \Zend\Form\Form
 */
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->setMessageOpenFormat('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ')
        ->setMessageCloseString('<button type="button" class="close" data-dismiss="alert">x</buttton></div>')
        ->render($form);

$form->setAttribute('action', $this->url($this->route, array('controller' => $this->controller, 'action' => 'insert')));
$form->setAttribute('class', 'form-horizontal validate');
$form->setAttribute('envtype', 'multipart/form-data');
$form->prepare();

if($form->get('destaque')->getValue()){
    $form->get('destaque')->setAttribute('checked', 'checked');
}
echo $this->form()->openTag($form); 

echo $this->formInput($form->get($formClass->getToken()));
?>
<?php echo $this->partial('admin/categoria/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('destaque'));?>
                        <div class="col-sm-10">
                            <label for="destaque">
                                <?php echo $this->formCheckbox($form->get('destaque')); ?>
                            </label>
                            <?php echo $this->formElementErrors($form->get('destaque'));?>
                        </div>
                        
                    </div>
                                
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('titulo'));?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('titulo')); ?>
                            <?php echo $this->formElementErrors($form->get('titulo'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('cor'));?>
                        <div class="col-sm-10">
                            <div class="cat_cor_list">
                                <ul>
                                    <?php
                                    $categorias = $this->em->getRepository('Admin\Entity\Categoria')->findAll();
                                    $array = array();
                                    foreach($categorias as $categoria){
                                        array_push($array, $categoria->getCor());
                                    }

                                    $checked = 'checked="checked"';
                                    for($i = 2; $i <= 10; $i++){
                                        //if(!in_array($i, $array)){
                                    ?>
                                    <li class="menu_<?php echo $i;?>">
                                        <div class="div<?php echo $i;?>"></div>
                                        <label>
                                            <input type="radio" name="cor" value="<?php echo $i;?>" <?php $checked;?>>
                                        </label>
                                    </li>
                                    <?php
                                            $checked = '';
                                        //}
                                    }
                                    ?>
                                </ul>
                            </div>
                        </div>
                        <?php echo $this->formElementErrors($form->get('cor'));?>
                    </div>
                    
                    <div class="text-center">
                        <a href="<?php echo $this->url($this->route, array('controller'=>$this->controller));?>" class="btn btn-default waves-effect">Cancel</a>
                        <button type="submit" class="btn btn-primary waves-effect">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<?php echo $this->form()->closeTag(); ?>

