<?php
/*
 * @var $form \Zend\Form\Form
 */
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->setMessageOpenFormat('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ')
        ->setMessageCloseString('<button type="button" class="close" data-dismiss="alert">x</buttton></div>')
        ->render($form);

$form->setAttribute('action', $this->url($this->route, array('controller' => $this->controller, 'action' => 'contadeposito')));
$form->setAttribute('class', 'form-horizontal validate');
$form->prepare();

echo $this->form()->openTag($form);

echo $this->formInput($form->get($formClass->getToken()));
?>
<?php echo $this->partial('admin/afiliado/contadepositoheader.phtml'); ?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('numeroBanco')); ?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('numeroBanco')); ?>
                            <?php echo $this->formElementErrors($form->get('numeroBanco')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('banco')); ?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('banco')); ?>
                            <?php echo $this->formElementErrors($form->get('banco')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('agencia')); ?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('agencia')); ?>
                            <?php echo $this->formElementErrors($form->get('agencia')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('conta')); ?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('conta')); ?>
                            <?php echo $this->formElementErrors($form->get('conta')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('titular')); ?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('titular')); ?>
                            <?php echo $this->formElementErrors($form->get('titular')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('obs')); ?>
                        <div class="col-sm-10"><?php echo $this->formTextArea($form->get('obs')); ?></div>
                        <?php echo $this->formElementErrors($form->get('obs')); ?>
                    </div>

                    <div class="text-center">
                        <a href="<?php echo $this->url($this->route, array('controller' => $this->controller)); ?>" class="btn btn-default waves-effect">Cancel</a>
                        <button type="submit" class="btn btn-primary waves-effect">Salvar</button>
                    </div>
                    <br>
                    <div class="alert alert-info text-center"><h3>Informe os dados corretamente, se tiver dúvidas consulte seu gerente.</h3></div>
                </div>
            </div>
        </div>
    </div>
</div>    
<?php echo $this->form()->closeTag(); ?>