<?php
$pessoaFisica = $this->afiliado->getPessoaFisica();
echo $this->partial('admin/afiliado/listheader.phtml');
?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <!--<a class="closebox"><i class="fa fa-times"></i></a>-->
                    </div>
                    &nbsp;
                </div>
                <div class="panel-body">
                    <div class="text-right">
                        <a href="<?php echo $this->url($this->route, array('controller' => $this->controller)); ?>" class="btn btn-default waves-effect">Voltar</a>
                    </div>
                    <!--<div class="alert alert-info text-center"><h3>Em construção.</h3></div>-->
                    <div class="col-lg-4">
                        <div class="hpanel hgreen">
                            <div class="panel-body">
                                <div class="pull-right text-right">
                                    <!--                                    <div class="btn-group">
                                                                            <i class="fa fa-facebook btn btn-default btn-xs"></i>
                                                                            <i class="fa fa-twitter btn btn-default btn-xs"></i>
                                                                            <i class="fa fa-linkedin btn btn-default btn-xs"></i>
                                                                        </div>-->
                                </div>
                                <img alt="logo" class="img-circle m-b m-t-md" src="<?php echo $this->basePath('uploads/pessoaFisica/'.(($pessoaFisica->getFoto()) ? $pessoaFisica->getFoto() : 'profile.jpg'));  ?>">
                                <h3><a href=""><?php echo $pessoaFisica->getNome(); ?></a></h3>
                                <div class="text-muted font-bold m-b-xs"><?php echo $pessoaFisica->getCidade(); ?>, <?php echo $pessoaFisica->getUf(); ?>, <?php echo $pessoaFisica->getCep(); ?></div>
                                <p>
                                    <?php echo $pessoaFisica->getEndereco(); ?>, <?php echo $pessoaFisica->getNumero(); ?><?php if ($pessoaFisica->getComplemento() != '') echo ',' . $pessoaFisica->getComplemento(); ?><br>
                                    <?php echo $pessoaFisica->getBairro(); ?>
                                </p>
                                <div class="progress m-t-xs full progress-small">
                                    <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class=" progress-bar progress-bar-success">
                                        <span class="sr-only">100% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="border-right border-left">
                                <section id="map">
                                    <div id="map1" style="height: 200px"></div>
                                </section>
                            </div>
                            <div class="panel-body">
                                <dl>
                                    <dt></dt>
                                    <dd></dd>
                                </dl>
                            </div>
                            <div class="panel-footer contact-footer">
                                <div class="row">
                                    <div class="col-md-4 border-right">
                                        <div class="contact-stat"><span>Plano: </span> 
                                            <span style="color: #<?php echo $this->plano->getHexadecimal(); ?>">
                                                <i class="pe-7s-medal" style="font-size: 40px;"></i><br>
                                                <?php echo $this->afiliado->getNomePlano(); ?>
                                            </span>
                                            <?php // echo $this->afiliado->getNomePlano();?>
                                        </div>
                                    </div>
                                    <div class="col-md-4 border-right">
                                        <div class="contact-stat"><span>Início: </span> <strong><?php echo $this->afiliado->getInicioVigencia()->format('d/m/Y'); ?></strong></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="contact-stat"><span>Fim: </span> <strong><?php echo $this->afiliado->getFimVigencia()->format('d/m/Y'); ?></strong></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="hpanel">
                            <div class="hpanel">

                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-1">Dados pessoais</a></li>
                                    <li><a data-toggle="tab" href="#tab-2">Contatos</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-3">Dados bancários</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active">
                                        <div class="panel-body">
                                            <dl>
                                                <dt>CPF: </dt>
                                                <dd><?php echo $pessoaFisica->getCpf(); ?></dd>
                                                <dt>RG: </dt>
                                                <dd><?php echo $pessoaFisica->getRg(); ?></dd>
                                                <dt>Data nascimento: </dt>
                                                <dd><?php echo $pessoaFisica->getDataNascimento()->format('d/m/Y'); ?></dd>
                                                <dt>Sexo: </dt>
                                                <dd><?php echo $pessoaFisica->getSexo(); ?></dd>
                                                <dt>Estado Civil: </dt>
                                                <dd><?php echo $pessoaFisica->getEstadoCivil(); ?></dd>
                                                <dt>Nome Pai: </dt>
                                                <dd><?php echo $pessoaFisica->getNomePai(); ?></dd>
                                                <dt>Nome Mãe: </dt>
                                                <dd><?php echo $pessoaFisica->getNomeMae(); ?></dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div id="tab-2" class="tab-pane">
                                        <div class="panel-body">
                                            <dl>
                                                <dt>E-mail: </dt>
                                                <dd><?php echo $this->afiliado->getUser()->getEmail(); ?></dd>
                                                <dt>Fones: </dt>
                                                <dd><?php echo str_replace('<|>', ' / ', $pessoaFisica->getFones()); ?></dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div id="tab-3" class="tab-pane">
                                        <div class="panel-body">
                                            <dl>
                                                <dt>Numero Banco: </dt>
                                                <dd><?php echo $this->afiliado->getNumeroBanco(); ?></dd>
                                                <dt>Banco: </dt>
                                                <dd><?php echo $this->afiliado->getBanco(); ?></dd>
                                                <dt>Agência: </dt>
                                                <dd><?php echo $this->afiliado->getAgencia(); ?></dd>
                                                <dt>Conta: </dt>
                                                <dd><?php echo $this->afiliado->getConta(); ?></dd>
                                                <dt>Titular: </dt>
                                                <dd><?php echo $this->afiliado->getTitular(); ?></dd>
                                                <dt>Obs: </dt>
                                                <dd><?php echo $this->afiliado->getObs(); ?></dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>