<?php
$config = $this->config;
?>
<div class="widget widget_social_icons type_2 type_border">
    <ul>
        <li class="facebook">
            <a href="https://www.facebook.com/dialog/share?app_id=<?php echo $config['app_id'];?>&amp;display=popup&amp;href=<?php echo urlencode($this->serverUrl(true)); ?>&amp;redirect_uri=" class="fb-share">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="twitter">
            <a href="https://twitter.com/intent/tweet?text=<?php echo urlencode($this->serverUrl(true)); ?>" class="tw-share">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <!--<li class="google_plus">
            <span class="tooltip">Google+</span>
            <a href="#">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
        <li class="envelope">
            <span class="tooltip">Email</span>
            <a href="#">
                <i class="fa fa-envelope-o"></i>
            </a>
        </li>-->
    </ul>
</div>