<div id="all">


        <!-- *** INTRO IMAGE ***
_________________________________________________________ -->
        <div id="intro" class="clearfix">
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="carousel-caption">
                            <div data-animate="fadeInDown" class="logo">
                                <img src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/img/logo-big.png" alt="logo" width="130">
                            </div>
                            <h1 data-animate="fadeInDown"><?php echo $this->translate('Bem-vindo!');?></h1>
                            <h2 data-animate="slideInUp"><?php echo $this->translate('Eu desenvolvo HTML e CSS, em seguida, transformado com PHP em sites e sistemas belos e eficientes.');?></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- *** INTRO IMAGE END *** -->

        <!-- *** ABOUT ***
_________________________________________________________ -->
        <div class="section" id="about">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12">
                        <h2 class="title" data-animate="fadeInDown"><?php echo $this->translate('Sobre') ;?></h2>
                    </div>

                    <div class="col-sm-12">

                        <div class="row">

                            <div class="col-sm-6 text-left" data-animate="fadeInUp">
                                 
                                <p><?php echo $this->translate('Bacharel em <strong>Sistemas de Informação</strong>, 6 anos de atuação no mercado web. Conhecimentos avançados em: HTML, HTML5, CSS, CSS3, JAVASCRIPT, PHP, MYSQL, FLASH(ACTIONSCRIPT), PHOTOSHOP. ALÉM DE TRABALHAR TAMBÉM COM JAVA, C#, CORELDRAW, FIREWORKS');?></p>

                                <p><?php echo $this->translate('Utilização de <strong>Zend Framework</strong> para desenvolver aplicações seguras e de qualidade.');?></p>

                                <p><?php echo $this->translate('<strong>Bootstrap</strong> para a melhor performance em responsividade.');?></p>

                            </div>

                            <div class="col-sm-6" data-animate="fadeInUp">

                                <div class="skill-item">
                                    <div class="progress-title">
                                        PHP
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-skill1" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                            <span class="sr-only">90</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="skill-item">
                                    <div class="progress-title">
                                        Zend Framework 1/2
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-skill1" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            <span class="sr-only">60</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="skill-item">
                                    <div class="progress-title">
                                        Javascript
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-skill2" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                            <span class="sr-only">80</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="skill-item">
                                    <div class="progress-title">
                                        HTML5
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-skill3" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                            <span class="sr-only">90</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="skill-item">
                                    <div class="progress-title">
                                        Responsive
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-skill3" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                            <span class="sr-only">90</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="skill-item">
                                    <div class="progress-title">
                                        SEO
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-skill4" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                            <span class="sr-only">70</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 mt-big" data-animate="bounceIn">
                        <img src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/img/about.jpg" class="image img-circle img-responsive" alt="This is me - IT worker">
                    </div>
                </div>
            </div>
        </div>
        <!-- /#about -->

        <!-- *** ABOUT END *** -->

        <!-- *** SERVICES ***
_________________________________________________________ -->
        <div class="section text-gradient" id="services">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="title" data-animate="fadeInDown"><?php echo $this->translate('Serviços');?></h2>

                    <div class="row services">

                        <div class="col-md-4" data-animate="fadeInUp">
                            <div class="icon"><i class="fa fa-search"></i>
                            </div>
                            <h3 class="heading">Responsive</h3>
                            <p><?php echo $this->translate('O conceito de acessar um site mudou muito nos últimos anos, hoje são desktops, notebooks, celulares, tablets, televisões, entre outros dispositivos, por isso tenha um site que seja apresentável em qualquer plataforma.');?></p>
                        </div>

                        <div class="col-md-4" data-animate="fadeInUp">
                            <div class="icon"><i class="fa fa-html5"></i>
                            </div>
                            <h3 class="heading">HTML coding</h3>
                            <p><?php echo $this->translate('Cada vez mais inovando nas aplicações dos conceitos de HTML5, que vem ganhando força e crescendo muito nos últimos anos.');?></p>
                        </div>

                        <div class="col-md-4" data-animate="fadeInUp">
                            <div class="icon"><i class="fa fa-tachometer"></i> 
                            </div>
                            <h3 class="heading">PHP</h3>
                            <p><?php echo $this->translate('Baseado em Zend Framework 2, as aplicações são desenvolvidas com mais alto padrão de qualidade, visando sempre atender a necessidade, segurança e intuitividade.');?></p>
                        </div>

                    </div>

                    <hr>

                    <div class="text-center">

                        <p class="lead"><?php echo $this->translate('Gostaria de saber mais, um orçamento ou apenas discutir algo?');?></p>

                        <p><a href="#contact" class="btn btn-default btn-lg scrollTo"><?php echo $this->translate('Fale comigo');?></a>
                        </p>

                    </div>

                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** SERVICES END *** -->

        <!-- *** TESTIMONIALS ***
_________________________________________________________ -->
        <?php /*
        <div class="section text-gray" id="testimonials" data-animate="fadeInUp">

            <div class="container">
                <div class="col-md-12">

                    <div class="mb20">
                        <h2 class="title" data-animate="fadeInUp">My customers said<br /><span>about me</span></h2>

                        <p class="lead text-center" data-animate="fadeInUp">I am always glad to hear that my customers leave satisfied. Some of them shared with you their insights on our cooperation.</p>
                    </div>

                    <ul class="owl-carousel testimonials same-height-row" data-animate="fadeInUp">
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly,
                                        slightly domed and divided by arches into stiff sections.</p>
                                </div>
                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/img/person-1.jpg">
                                        <h5>John McIntyre</h5>
                                        <p>CEO, TransTech</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?
                                        " he thought. It wasn't a dream.</p>
                                </div>
                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/img/person-2.jpg">
                                        <h5>John McIntyre</h5>
                                        <p>CEO, TransTech</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>

                                    <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded
                                        frame.</p>
                                </div>
                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/img/person-3.jpg">
                                        <h5>John McIntyre</h5>
                                        <p>CEO, TransTech</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.
                                        Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                                </div>

                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/img/person-4.jpg">
                                        <h5>John McIntyre</h5>
                                        <p>CEO, TransTech</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.
                                        Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite
                                        sad.</p>
                                </div>

                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/img/person-4.jpg">
                                        <h5>John McIntyre</h5>
                                        <p>CEO, TransTech</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- /.owl-carousel -->
                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->

        </div>
        <!-- /.section -->

        <!-- *** TESTIMONIALS END *** -->
        
        <!-- *** SHOWCASE ***
_________________________________________________________ -->
        <div class="section text-parallax parallax-image1" id="services">
            <div class="container">
                <div class="row showcase">
                    <div class="col-md-3 col-sm-6" data-animate="fadeInUp">
                        <div class="item">
                            <div class="icon"><i class="fa fa-align-justify"></i>
                            </div>
                            <h4><span class="counter">120</span><br>

			Websites</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" data-animate="fadeInUp">
                        <div class="item">
                            <div class="icon"><i class="fa fa-users"></i>
                            </div>
                            <h4><span class="counter">50</span><br>  

			Satisfied Clients</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" data-animate="fadeInUp">
                        <div class="item">
                            <div class="icon"><i class="fa fa-copy"></i>
                            </div>
                            <h4><span class="counter">320</span><br>

			Projects</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" data-animate="fadeInUp">
                        <div class="item">
                            <div class="icon"><i class="fa fa-font"></i>
                            </div>
                            <h4><span class="counter">333</span><br> 

			Magazines and Brochures</h4>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->

            <div class="dark-mask"></div>

        </div>
        <!-- /.section -->
        */
        ?>
        <!-- *** REFERENCES IMAGE ***
_________________________________________________________ -->
        <div class="section" id="references">
            <div class="container">
                <div class="col-sm-12">

                    <div class="mb20">
                        <h2 class="title" data-animate="fadeInUp">Meus trabalhos</h2>

                        <p class="lead" data-animate="fadeInUp">Eu tenho trabalhado em dezenas de projetos, então eu escolhi os mais recentes para você.</p>
                    </div>

                    <ul id="filter" data-animate="fadeInUp">
                        <li class="active"><a href="#" data-filter="all">All</a>
                        </li>
                        <li><a href="#" data-filter="webdesign">Webdesign</a>
                        </li><!--
                        <li><a href="#" data-filter="seo">SEO</a>
                        </li>
                        <li><a href="#" data-filter="marketing">Marketing</a>
                        </li>
                        <li><a href="#" data-filter="other">Other</a>
                        </li>-->
                    </ul>

                    <div id="detail">

                        <span class="close">&times;</span> 

                        <div id="detail-slider"></div>

                        <div class="text-center">
                            <h1 id="detail-title">&nbsp;</h1>
                        </div>

                        <div id="detail-content"></div>

                    </div>
                    <!-- Reference detail -->

                    <div id="references-masonry" data-animate="fadeInUp">

                        <div class="reference-item" data-category="webdesign">
                            <div class="reference">
                                <a href="#">
                                    <img src="<?php echo $this->basePath('mauricioschmitz/img/portfolio-1.jpg');?>" class="img-responsive" alt="" />

                                    <div class="overlay">
                                        <h3 class="reference-title">Grupo Top 10</h3>
                                        <p>Sistema de marketing digital</p>
                                    </div>
                                </a>

                                <div class="sr-only reference-description" data-images="<?php echo $this->basePath('mauricioschmitz/img/slider-1-portfolio-1.jpg');?>">

                                    <p>Projeto consiste em sistema de marketing digital, sendo ideia desenvolvida pelo, layout e programação criação de <b>Mauricio Schmitz.</b></p>

                                    <p>O site é baseado em uma landing page com as informações sobre o negócio, possui também painel administrativo para o cliente e também painel para seus afiliados.</p>

                                    <p class="buttons">
                                        <a class="btn btn-primary" target="_blank" href="https://www.grupotop10.com.br?referer=mauricioschmitz"><i class="fa fa-globe"></i> Visitar website</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="reference-item" data-category="webdesign">
                            <div class="reference">
                                <a href="#">
                                    <img src="<?php echo $this->basePath('mauricioschmitz/img/portfolio-2.jpg');?>" class="img-responsive" alt="" />

                                    <div class="overlay">
                                        <h3 class="reference-title">Login</h3>
                                        <p>Tela de login do sistema.</p>
                                    </div>
                                </a>

                                <div class="sr-only reference-description" data-images="<?php echo $this->basePath('mauricioschmitz/img/slider-1-portfolio-2.jpg');?>">

                                    <p>Tela de acesso ao painel administrativo dos sistemas.</p>

<!--                                    <p class="buttons">-->
<!--                                        <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>-->
<!--                                        <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>-->
<!--                                    </p>-->
                                </div>
                            </div>
                        </div>

                        <div class="reference-item" data-category="webdesign">
                            <div class="reference">
                                <a href="#">
                                    <img src="<?php echo $this->basePath('mauricioschmitz/img/portfolio-3.jpg');?>" class="img-responsive" alt="" />

                                    <div class="overlay">
                                        <h3 class="reference-title">Painel administrativo</h3>
                                        <p>Painel administrativo dos sistemas/sites.</p>
                                    </div>
                                </a>

                                <div class="sr-only reference-description" data-images="<?php echo $this->basePath('mauricioschmitz/img/slider-1-portfolio-3.jpg');?>">

                                    <p>Painel administrativo dos sistemas/sites com todos cadastros e controles necessários.</p>

                                    <p>Todas as funcionalidades são desenvolvidas sob demanada da necessidade de cada projeto, melhorias sempre são aplicadas a todos os clientes.</p>

<!--                                    <p class="buttons">-->
<!--                                        <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i> Visit website</a>-->
<!--                                        <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-download"></i> Download case study</a>-->
<!--                                    </p>-->
                                </div>

                            </div>
                        </div>

                        <div class="reference-item" data-category="webdesign">
                            <div class="reference">
                                <a href="#">
                                    <img src="<?php echo $this->basePath('mauricioschmitz/img/portfolio-4.jpg');?>" class="img-responsive" alt="" />

                                    <div class="overlay">
                                        <h3 class="reference-title">Vale Alternativo</h3>
                                        <p>Site de notícias</p>
                                    </div>
                                </a>

                                <div class="sr-only reference-description" data-images="<?php echo $this->basePath('mauricioschmitz/img/slider-1-portfolio-4.jpg');?>">

                                    <p>Site completo de notícias com painel 100% administrável, com opções de publicidades entre outros recursos</p>

                                    <p class="buttons">
                                        <a class="btn btn-primary" target="_blank" href="http://www.valealternativo.com.br?referer=mauricioschmitz"><i class="fa fa-globe"></i> Visitar website</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="reference-item" data-category="webdesign">
                            <div class="reference">
                                <a href="#">
                                    <img src="<?php echo $this->basePath('mauricioschmitz/img/portfolio-5.jpg');?>" class="img-responsive" alt="" />

                                    <div class="overlay">
                                        <h3 class="reference-title">Vereador Flávio Molinari</h3>
                                        <p>Site de notícias</p>
                                    </div>
                                </a>

                                <div class="sr-only reference-description" data-images="<?php echo $this->basePath('mauricioschmitz/img/slider-1-portfolio-5.jpg');?>,<?php echo $this->basePath('mauricioschmitz/img/slider-2-portfolio-5.jpg');?>">

                                    <p>Site completo de notícias com painel 100% administrável, com opções de vídeos entre outros recursos</p>

                                    <p class="buttons">
                                        <a class="btn btn-primary" target="_blank" href="http://www.vereadorflaviomolinari.com.br?referer=mauricioschmitz"><i class="fa fa-globe"></i> Visitar website</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /#references-masonry -->

                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** REFERENCES END *** -->
    <?php
    /*
        <!-- *** CUSTOMERS ***
_________________________________________________________ -->

        <div class="section text-gray" id="customers">
            <div class="container">
                <div class="col-md-12">


                    <div class="row">
                        <div class="col-sm-4 col-md-2  col-xs-6">
                            <div class="customer">
                                <img class="img-responsive" src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/img/customers/kofola.png" title="Kofola" data-placement="bottom" data-toggle="tooltip" alt="">
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-2  col-xs-6">
                            <div class="customer">
                                <img class="img-responsive" src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/img/customers/evian.png" title="Evian" data-placement="bottom" data-toggle="tooltip" alt="">
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-2  col-xs-6">
                            <div class="customer">
                                <img class="img-responsive" src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/img/customers/cslink.png" title="CS Link" data-placement="bottom" data-toggle="tooltip" alt="">
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-2  col-xs-6">
                            <div class="customer">
                                <img class="img-responsive" src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/img/customers/botas66.png" title="Botas 66 Concept store" data-placement="bottom" data-toggle="tooltip" alt="">
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-2  col-xs-6">
                            <div class="customer">
                                <img class="img-responsive" src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/img/customers/mdfc.png" title="MediaFabríca" data-placement="bottom" data-toggle="tooltip" alt="">
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-2  col-xs-6">
                            <div class="customer">
                                <img class="img-responsive" src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/img/customers/vanek.png" title="VANĚK Strojírenská výroba" data-placement="bottom" data-toggle="tooltip" alt="">
                            </div>
                        </div>

                    </div>
                    <!-- /.row -->


                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** CUSTOMERS END *** -->
*/ ?>
        <!-- *** CONTACT ***
_________________________________________________________ -->

        <div class="section contact" id="contact" data-animate="bounceIn">
            <div class="container">
                <div class="col-md-12">


                    <h2 class="title"><?php echo $this->translate('FALE COMIGO');?></h2>

                    <div class="row">

                        <div class="col-md-8 col-md-offset-2">
                            <form id="contact-form" method="post" action="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/contact.php">
                                <div class="controls">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="name" id="name"  class="form-control" placeholder="<?php echo $this->translate('Nome');?> *" required="required" data-rule-required="true">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="surname" id="surname" class="form-control" placeholder="<?php echo $this->translate('Sobrenome');?> *" required="required" data-rule-required="true">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="email" id="email" class="form-control" placeholder="<?php echo $this->translate('E-mail');?> *" required="required" data-rule-required="true" data-rule-email="true">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="phone" id="phone" class="form-control" placeholder="<?php echo $this->translate('Telefone');?>">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea name="message" id="message" class="form-control" placeholder="<?php echo $this->translate('Mensagem');?> *" rows="4" required="required" data-rule-required="true"></textarea>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <input type="submit" class="btn btn-primary btn-lg" value="<?php echo $this->translate('Enviar mensagem');?>">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="messages">

                                </div>


                            </form>
                        </div>

                    </div>

                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** CONTACT END *** -->

        <!-- *** MAP ***
_________________________________________________________ -->

        <div class="section" id="map">

        </div>
        <!-- /.section -->

        <!-- *** MAP END *** -->

        <!-- *** FOOTER ***
_________________________________________________________ -->

        <div class="section" id="footer">
            <div class="container">

                <div class="row">

                    <div class="col-sm-6">

                        <p class="social">
                            <a href="https://www.facebook.com/mauricio.fastman" class="external facebook" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-facebook"></i></a>
                            <a href="https://br.linkedin.com/in/mauricio-schmitz-57183334" class="external linkedin" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-linkedin"></i></a>
                            <!--<a href="#" class="external instagram" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="external gplus" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-google-plus"></i></a>-->
                            <a href="mailto:contato@mauricioschmitz.com.br" class="email" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                        </p>
                    </div>
                    <!-- /.6 -->

                    <div class="col-sm-6">
                        <p>&copy; 2015 Mauricio Schmitz. <?php echo $this->translate('Todos Direitos Reservados.');?></p>
                    </div>

                </div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** FOOTER END *** -->



    </div>