<?php
/*
 * @var $form \Zend\Form\Form
 */
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->setMessageOpenFormat('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ')
        ->setMessageCloseString('<button type="button" class="close" data-dismiss="alert">x</buttton></div>')
        ->render($form);

$form->setAttribute('action', $this->url($this->route, array('controller' => $this->controller, 'action' => 'index')));
$form->setAttribute('class', 'form-horizontal');
$form->prepare();

echo $this->form()->openTag($form); 

echo $this->formInput($form->get($formClass->getToken()));
?>
<?php echo $this->partial('admin/renovacao/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <?php
            if(isset($this->params['planos'])){
            ?>
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    &nbsp;
                </div>
                <div class="panel-body">
                    <?php echo $this->partial('partial/planoslist');?>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary waves-effect">Salvar</button>
                    </div>
                </div>
            </div>
            <?php
            }
            ?>
        </div>
    </div>
</div>
<?php echo $this->form()->closeTag(); ?>