<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    &nbsp;
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <div class="col-lg-12">
                            <h2><span class="text-danger">Renovação Finalizada! </span></h2>
                        </div>
                    
                        <p>Sua renovação foi solicitada com sucesso!</p>
                        <p>para ativar seu novo plano você deve realizar o depósito do valor correspondente <span class="text-danger">R$ <?php echo number_format($this->valor,2,',', '.');?></span></p>
                        <p>Você pode optar por uma das seguintes instituições financeiras.</p>
                        <p>Após pagamento confirme o depósito (<a href="<?php echo $this->url('adm/default', array('controller'=>'confirmarpagamento', 'action'=>'index'));?>" class="text-warning">clique aqui</a>).</p>
                        <div class="">
                            <?php echo $this->texto->getTexto();?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>