<?php
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->render($form);

$form->prepare();

?>
<div class="row">
    <div class="col-md-12">
        <div class="text-center m-b-md">
            <h3>POR FAVOR FAÇA SEU LOGIN</h3>
            <!--<small>This is the best app ever!</small>-->
        </div>
        <div class="hpanel">
            <div class="panel-body">
                    <?php echo $this->form()->openTag($form); ?>
                        <?php echo $this->formInput($form->get($formClass->getToken())); ?>
                        <div class="form-group">
                            <?php echo $this->formLabel($form->get('login')); ?>
                            <?php echo $this->formInput($form->get('login')); ?>
                            <span class="small">Seu e-mail/usuário exclusivo para acessar o sistema</span>
                        </div>
                        <div class="form-group">
                            <?php echo $this->formLabel($form->get('password')); ?>
                            <?php echo $this->formInput($form->get('password')); ?>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="small pull-left">Sua senha segura</span>
                                    <span class="small pull-right"> <a href="<?php echo $this->url('recover');?>">Esqueci minha senha</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        <?php echo (isset($this->captcha) && $this->captcha) ? $this->formRow($form->get('captcha')) : '';?>
                        </div>
                        <div class="checkbox">
                            <?php echo $this->formInput($form->get('rememberme')); ?>
                                Lembrar-me
                            <p class="small">(se for um computador pessoal)</p>
                        </div>
                         <?php echo $this->formButton($form->get('submit')); ?>
                    <?php echo $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</div>