<?php
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->render($form);

$form->prepare();

?>
<div class="row">
    <div class="col-md-12">
        <div class="text-center m-b-md">
            <h3>RECUPERAR SENHA</h3>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <p>
                    Informe uma nova senha para seu acesso!
                </p>
                    <?php echo $this->form()->openTag($form); ?>
                        <?php echo $this->formInput($form->get($formClass->getToken())); ?>
                        <div class="form-group">
                            <?php echo $this->formLabel($form->get('password')); ?>
                            <?php echo $this->formInput($form->get('password')); ?>
                            <span class="small">Sua nova senha</span>
                        </div>
                        <div class="form-group">
                            <?php echo $this->formLabel($form->get('password_confirm')); ?>
                            <?php echo $this->formInput($form->get('password_confirm')); ?>
                            <span class="small">Confirme sua senha</span>
                        </div>
                        <?php echo $this->formButton($form->get('submit')); ?>
                    <?php echo $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</div>