<!-- slider -->  
<section class="wrapper100percent">     
    <div class="flexslider">
        <div class="wrapper100percent">     
            <div class="menuswitch"> 
            </div> 
        </div> 
        <!-- breakpoint for menu end -->   

    </div>
</section>
<div class="wrapper100percent">
    <div class="container">
        <div class="row blogpost">      
            <!-- articles --> 
            <div class="col-md-9">       
                <?php
                $post = $this->post;

                $linkPost = $this->url('noticia/default', array('controller' => 'noticia', 'action' => 'detalhes', 'id' => $post->getId(), 'titulo' => Political\Controller\NoticiaController::titleLink($post->getTitulo())));
                ?>
                <!-- blogpost one --> 
                <article> 
                    <h2><?php echo $post->getTitulo(); ?></h2>
                    <div class="divider-space">
                    </div> 
                    <img src="<?php echo $this->basePath('political/images/slider1.jpg'); ?>" alt=""/>
                    <ul class="meta">
                        <li class="metatime">    
                        <?php 
                            echo $post->getDataPublicacao()->format('d'); ?><br><?php 
                            echo Base\Controller\AbstractController::datePt($post->getDataPublicacao()->format('n')); ?><br><?php 
                            echo $post->getDataPublicacao()->format('Y');
                        ?>
                        </li>
                    </ul>
                    <p><?php echo $post->getChamada(); ?>
                    </p>
                    <div class="divider-space">
                    </div> 
                    <?php 
                    
                    echo $post->getDescricao();
                    
                    if ($this->post->getFonte() != '') {
                    ?>
                    <div style="font-size:10px;"><i>Fonte: <?php echo $this->post->getFonte(); ?></i></div>
                    <?php
                    }
                    ?>
                    <?php
                    if (!$post->getImagens()->isEmpty()) {
                        $imagens = $post->getImagens();
                    ?>
                    <div class="section read_post_list gallery_list">
                        <h2 class="section_title section_title_big">Imagens</h2>
                        <ul class="row">
                            <!--Post-->
                        <?php
                        foreach ($imagens as $imagem) {
                            $mini = Admin\Controller\NoticiaController::nomeImagemMiniDetalhes($imagem->getArquivo());
                            ?>
                            <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="section_post_left">
                                    <div class="scale_image_container with_buttons">
                                        <a href="#"><img src="<?php echo $this->basePath('/uploads/noticias/' . $mini); ?>" alt="" class="scale_image"></a>
                                        <div class="open_buttons clearfix">
                                            <div class="f_left"><a href="<?php echo $this->basePath('/uploads/noticias/' . $imagem->getArquivo()); ?>" role="button" class="jackbox jackbox_button button button_grey_light" data-group="gallery_1"><i class="fa fa-search-plus"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <?php
                        }
                        ?>
                        </ul>
                    </div>
                        <?php
                    }
                    ?>
                <div class="divider-space">
                </div> 
                <div class="divider-line">
                </div>
                <div class="divider-space">
                </div> 
                <div class="commentwrapper"> 
                    <h4>Comments</h4>	 
                    <br>
                    <!-- comment one --> 
                    <div class="row">
                        <div class="fb-comments" data-href="<?php echo (isset($_SERVER["HTTPS"]) ? 'https' : 'http') . '://' . $_SERVER['HTTP_HOST'] . $linkPost; ?>" data-numposts="10" data-width="100%"></div>
                    </div> 
                <!-- comment one end --> 
                </div> 
            </article> 
            <!-- blogpost one end -->
            <div class="divider-space">
            </div>
            <div class="divider-space">
            </div> 
        </div> 
        <!-- articles end -->     
        <!-- sidebar -->
        <?php echo $this->partial('partial/sidebar'); ?>
        <!-- sidebar end -->
    </div>
    <!-- row end --> 
</div> 
<!-- container end --> 
</div> 