<!-- slider -->  
<section class="wrapper100percent">     
    <div class="flexslider">
        <div class="wrapper100percent">     
            <div class="menuswitch"> 
            </div> 
        </div> 
        <!-- breakpoint for menu end -->   

    </div>
</section>
<div class="wrapper100percent">
    <div class="container">
        <div class="row blogpost">      
            <!-- articles --> 
            <div class="col-md-9"> 
                <?php
                foreach($this->posts as $post){
                    $linkPost = $this->url('noticia/default', array('controller' => 'noticia', 'action' => 'detalhes', 'id' => $post->getId(), 'titulo' => Political\Controller\NoticiaController::titleLink($post->getTitulo())));
                ?>
                <!-- blogpost one --> 
                <article> 
                    <h2><?php echo $post->getTitulo();?></h2>
                    <div class="divider-space">
                    </div> 
                    <img src="<?php echo $this->basePath('/political/images/noticia.jpg');?>" alt=""/>
                    <ul class="meta">
                        <li class="metatime">    
                        <?php 
                            echo $post->getDataPublicacao()->format('d'); ?><br><?php 
                            echo Base\Controller\AbstractController::datePt($post->getDataPublicacao()->format('n')); ?><br><?php 
                            echo $post->getDataPublicacao()->format('Y');
                        ?>
                        </li>
                    </ul>
                    <p><?php echo $post->getChamada();?>
                    </p> 
                    <div class="text-left">
                        <a href="<?php echo $linkPost;?>" class="button1 firstcolor small">Leia mais</a>
                    </div> 
                </article> 
                <!-- blogpost one end -->       
                <div class="divider-space">
                </div> 
                <div class="divider-line">
                </div>
                <div class="divider-space">
                </div>        
                <?php
                }
                ?>
                
                <div class="pagination_block">
                    <span>Página <?php echo ($this->page + 1) . ' de ' . $this->qtdPg; ?></span><br>
                    <ul class="pagination clearfix">
                    <?php
                    //calculo a página inicial
                    $inicio = $this->page - 3;
                    if ($inicio < 0)
                        $inicio = 0;
                    
                    $fim = $this->page + 3;
                    if ($fim > $this->qtdPg)
                        $fim = $this->qtdPg;

                    if (($this->page) > 0) {
                    ?>

                        <li><a href="<?php echo $this->url('categoria/default', array('controler' => 'noticia', 'action' => 'listbycategoria', 'id' => $this->categoria->getId(), 'titulo' => \Political\Controller\NoticiaController::titleLink($this->categoria->getTitulo()), 'page' => ($this->page))); ?>"><i class="fa fa-angle-left"></i></a></li>
                            <?php
                        }
                        for ($i = $inicio; $i < $fim; $i++) {
                        ?>
                        <li><a href="<?php echo $this->url('categoria/default', array('controler' => 'noticia', 'action' => 'listbycategoria', 'id' => $this->categoria->getId(), 'titulo' => \Political\Controller\NoticiaController::titleLink($this->categoria->getTitulo()), 'page' => ($i + 1))); ?>" class="<?php echo ($this->page == $i ? 'active' : 0); ?>"><?php echo ($i + 1); ?></a></li>
                        <?php
                        }

                        if (($this->page + 1) < $this->qtdPg) {
                        ?>

                        <li><a href="<?php echo $this->url('categoria/default', array('controler' => 'noticia', 'action' => 'listbycategoria', 'id' => $this->categoria->getId(), 'titulo' => \Political\Controller\NoticiaController::titleLink($this->categoria->getTitulo()), 'page' => ($this->page + 2))); ?>"><i class="fa fa-angle-right"></i></a></li>
                        <?php
                        }
                        ?>
                    </ul>
                </div> 
            </div> 
            <!-- articles end -->
            <!-- sidebar -->
            <div class="col-md-3 sidebar"> 
                <div class="divider-space">
                </div> 
                <div class="divider-line">
                </div>
                <div class="divider-space">
                </div> 
                <div class="widget">
                    <img src="<?php echo $this->basePath('political/images/psdb.jpg');?>">
                </div> 
                <div class="divider-space">
                </div> 
                <div class="divider-line">
                </div>
                <div class="divider-space">
                </div> 
            </div> 
            <!-- sidebar end -->
        </div>
    </div> 
</div> 
