<?php echo $this->partial('admin/extratoconta/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel stats">
                <div class="panel-body h-100">
                    <div class="stats-title pull-left">
                        <h4>Situação da minha conta</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-cash fa-4x"></i>
                    </div>
                    <div class="clearfix"></div>
                    <div class="m-t-xs">
                        <div class="row">
                            <div class="col-xs-4">
                                <small class="stat-label">Saldo</small>
                                <h4>R$ <?php echo number_format($this->saldo,2,",", ".");?> </h4>
                            </div>
                            <div class="col-xs-4">
                                
                            </div>
                            <div class="col-xs-4">
                                <h4 class="stat-label">Pontos</h4>
                                <h4 class="badge badge-success"><?php echo ($this->layout()->afiliado->getPontosPessoais()+$this->layout()->afiliado->getPontosRede());?> </h4>
                                <p>Pessoais: <?php echo $this->layout()->afiliado->getPontosPessoais();?> / Rede: <?php echo $this->layout()->afiliado->getPontosRede();?> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    &nbsp;
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" ui-jp="dataTable" class="table table-striped b-t b-b" style="width: 100%" ui-options="{
          sAjaxSource: '<?php echo $this->url('adm/default', array('controller'=>'extratoconta', 'action' => 'list')); ?>',
          aDataSort: [[1,'desc']]
        }">
                        <thead>
                        <tr>
                            <th></th>
                            <th style="width:20%">Data</th>
                            <th style="width:65%">Descrição</th>
                            <th style="width:15%">Valor</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>