<?php
/*
 * @var $form \Zend\Form\Form
 */
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->setMessageOpenFormat('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ')
        ->setMessageCloseString('<button type="button" class="close" data-dismiss="alert">x</buttton></div>')
        ->render($form);

$form->setAttribute('action', $this->url($this->route, array('controller' => $this->controller, 'action' => 'edit', 'id'=>$this->id)));
$form->setAttribute('class', 'form-horizontal validate');
$form->prepare();

echo $this->form()->openTag($form); 

echo $this->formInput($form->get($formClass->getToken()));
$form->get('valor_previsto')->setValue(number_format($form->get('valor_previsto')->getValue(), 2, ",", ""));
$form->get('valor_pago')->setValue(number_format($form->get('valor_pago')->getValue(), 2, ",", ""));
$form->get('data')->setValue(substr($form->get('data')->getValue(), 0, 10));
?>
<?php echo $this->partial('admin/contapagar/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('conta'));?>
                        <div class="col-sm-10">
                            <?php echo $this->formSelect($form->get('conta')); ?>
                            <?php echo $this->formElementErrors($form->get('conta'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('categoria'));?>
                        <div class="col-sm-10">
                            <?php echo $this->formSelect($form->get('categoria')); ?>
                            <?php echo $this->formElementErrors($form->get('categoria'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('titulo'));?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('titulo')); ?>
                            <?php echo $this->formElementErrors($form->get('titulo'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('data'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('data')); ?>
                            <?php echo $this->formElementErrors($form->get('data'));?>
                        </div>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('valor_previsto'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('valor_previsto')); ?>
                            <?php echo $this->formElementErrors($form->get('valor_previsto'));?>
                        </div>
                        
                        <?php echo $this->formLabel($form->get('valor_pago'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('valor_pago')); ?>
                            <?php echo $this->formElementErrors($form->get('valor_pago'));?>
                        </div>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('parcela_atual'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('parcela_atual')); ?>
                            <?php echo $this->formElementErrors($form->get('parcela_atual'));?>
                        </div>
                        
                        <?php echo $this->formLabel($form->get('qtd_parcelas'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('qtd_parcelas')); ?>
                            <?php echo $this->formElementErrors($form->get('qtd_parcelas'));?>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="<?php echo $this->url($this->route, array('controller'=>$this->controller));?>" class="btn btn-default waves-effect">Cancel</a>
                        <button type="submit" class="btn btn-primary waves-effect">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<?php echo $this->form()->closeTag(); ?>
<?php
$this->headScript()->captureStart();
?>
$(function(){
    
});
<?php $this->headScript()->captureEnd();?>