<?php echo $this->partial('admin/contapagar/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <!--<a class="closebox"><i class="fa fa-times"></i></a>-->
                    </div>
                    <div class="btn-group m-b-xs">
                        <a href="<?php echo $this->url($this->route, array('controller'=>$this->controller, 'action'=>'insert')); ?>" class="btn btn-success">
                            <i class="fa fa-plus"></i> Adicionar conta à pagar
                        </a>
                    </div>
                    <div class="btn-group m-b-xs">
                        <button class="btn btn-primary dropdown-toggle" id="veiculo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Selecione uma conta <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="veiculo">
                            <li><a href="<?php echo $this->url($this->route, array('controller'=>$this->controller)); ?>">Todas</a></li>
                            <?php
                            foreach($this->contas as $conta){
                            ?>
                            <li><a href="<?php echo $this->url($this->route, array('controller'=>$this->controller, 'action'=>'index'), array('query' => array('conta' => $conta->getId()))); ?>"><?php echo $conta->getTitulo();?></a></li>
                            <?php
                            }
                            ?>
                        </ul>
                    </div>
                    <div class="btn-group m-b-xs">
                        <a data-href="<?php echo $this->url($this->route, array('controller'=>$this->controller, 'action'=>'import')); ?>" class="btn btn-info ajaxModal" data-toggle="modal" data-target="#defaultModal">
                            <i class="fa fa-refresh"></i> Importar
                        </a>`
                    </div>
                </div>
                <?php
                if(!is_null($this->conta)){
                ?>
                <div class="panel-heading">
                    <h2><?php echo $this->conta->getTitulo();?></h2>
                </div>
                <div class="hpanel stats">
                    <div class="panel-body h-100">
                        <div class="stats-title pull-left">
                            <h4>Situação do mês</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-cash fa-4x"></i>
                        </div>
                        <div class="clearfix"></div>
                        <div class="m-t-xs">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stat-label">Previsão de Gastos</small>
                                    <h4>R$  <?php echo number_format($this->totaisPago['totalPrevisto'], 2, ',', '.');?></h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stat-label">Total Gasto</small>
                                    <h4>R$  <?php echo number_format($this->totaisPago['totalPago'], 2, ',', '.');?></h4>
                                </div>
                                <div class="col-xs-4">
                                    <h4 class="stat-label">Sobra Prevista x Sobra Real</h4>
                                    <h4 class="badge badge-success">R$ <?php echo number_format(($this->totaisRecebido['totalPrevisto']-$this->totaisPago['totalPrevisto']), 2, ',', '.');?></h4>
                                    <h4 class="badge badge-success">R$ <?php echo number_format(($this->totaisRecebido['totalRecebido']-$this->totaisPago['totalPago']), 2, ',', '.');?></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php
                }
                ?>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" ui-jp="dataTable" class="table table-striped b-t b-b" style="width: 100%" ui-options="{
          sAjaxSource: '<?php echo $this->url('adm/default', array('controller'=>$this->controller, 'action' => 'list'), array('query'=>array('conta'=>isset($this->conta) ? $this->conta->getId() : null))); ?>',
          aDataSort: [[3,'desc'],[1,'asc']]
        }">
                        <thead>
                        <tr>
                            <th></th>
                            <th style="width:14%">Conta</th>
                            <th style="width:13%">Categoria</th>
                            <th style="width:8%">Parcelas</th>
                            <th style="width:15%">Título</th>
                            <th style="width:10%">Data</th>
                            <th style="width:10%">Valor Previsto</th>
                            <th style="width:10%">Valor Pago</th>
                            <th style="width:10%">Status</th>
                            <th style="width:10%" class="no-hidden"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>