<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="<?php echo $this->url('adm/default');?>">Dashboard</a></li>
                    <li class="active">
                        <span>Contas à receber</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Contas à receber
            </h2>
            <small>Cadastro de contas à receber</small>
        </div>
    </div>
</div>