<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>Área Restrita - <?php echo $this->setupHelper()->getSiteName();?></title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    <!-- Vendor styles -->
    <?php $this->headLink()->appendStylesheet($this->basePath('/libs/fontawesome/css/font-awesome.min.css')); ?>
    <?php $this->headLink()->appendStylesheet($this->basePath('/libs/bootstrap/dist/css/bootstrap.min.css')); ?>
    <?php $this->headLink()->appendStylesheet($this->basePath('/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css')); ?>
    <?php $this->headLink()->appendStylesheet($this->basePath('/libs/summernote/summernote.css')); ?>
    
    
    <?php $this->headLink()->appendStylesheet($this->basePath('/min?g=admin-css')); ?>
    <?php echo $this->headLink(); ?>
</head>
<body>

<!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Painel Administrativo - <?php echo $this->setupHelper()->getSiteName();?></h1><p>... </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Header -->
<?php echo $this->partial('layout/header.phtml');?>

<!-- Navigation -->
<?php echo $this->partial('layout/aside.phtml');?>

<!-- Main Wrapper -->
<div id="wrapper">
    <?php echo $this->partial('layout/flashMessage'); ?>
    <?php echo $this->content;?>
    
    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                                    
            </div>
        </div>
    </div>
    
    <!-- Footer-->
    <?php echo $this->partial('layout/footer.phtml');?>
    
    
</div>
<!-- Vendor scripts -->
<script type="text/javascript">var baseUrl = '<?php echo $this->basePath(); ?>/';</script>

<?php $this->headScript()->prependFile($this->basePath('/min?g=admin-js'));?>
<?php echo $this->headScript();?>
<?php echo $this->inlineScript() ?>
</body>
</html>
