<aside id="menu">
    <div id="navigation">
        <div class="profile-picture">
            <a href="#">
                <?php
                if(isset($this->layout()->afiliado)){
                ?>
                <img src="<?php echo $this->basePath('uploads/pessoaFisica/'.(($this->layout()->afiliado->getPessoaFisica()->getFoto()) ? $this->layout()->afiliado->getPessoaFisica()->getFoto() : 'profile.jpg'));  ?>" class="img-circle m-b" alt="logo">
                <?php
                }
                ?>
            </a>
            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase"><?php echo $this->userinfo->getName();?></span>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">Perfil <b class="caret"></b></small>
                    </a>
                    <ul class="dropdown-menu animated flipInX m-t-xs">
                        <li><a href="<?php echo $this->url('adm/default', array('controller'=>'perfil', 'action'=>'update'));?>">Minha conta</a></li>
                    </ul>
                </div>


            </div>
        </div>

        <ul class="nav" id="side-menu">
            <li>
                <a href="<?php echo $this->url('adm/default');?>"> <span class="nav-label"><i class="fa fa-home text-success"></i>  Home</span> </a>
            </li>
            <?php
            //Jornal
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$NOTICIA, Login\Utility\Acl::$LER) || $this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$CATEGORIA, Login\Utility\Acl::$LER)){
            ?>
            <li>
                <a href="#"><span class="nav-label"><i class="fa fa-newspaper-o"></i> Notícias</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <?php
                    if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$NOTICIA, Login\Utility\Acl::$LER)){
                    ?>
                    <li><a href="<?php echo $this->url('adm/default', array('controller'=>'noticia'));?>">Notícias</a></li>
                    <?php
                    }
                    if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$CATEGORIA, Login\Utility\Acl::$LER)){
                    ?>
                    <li><a href="<?php echo $this->url('adm/default', array('controller'=>'categoria'));?>">Categorias</a></li>
                    <?php
                    }
                    ?>
                </ul>
            </li>
            <?php
            }
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$PUBLICIDADE, Login\Utility\Acl::$LER)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'publicidade'));?>"> <span class="nav-label"><i class="fa fa-desktop"></i>  Publicidades</span> </a>
            </li>
            <?php
            }
            //Admin Afiliado
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$PLANO, Login\Utility\Acl::$LER)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'plano'));?>"> <span class="nav-label"><i class="fa fa-star text-primary"></i> Planos</span> </a>
            </li>
            <?php
            }
            //Pagamento
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$AFILIADOPAGAMENTO, Login\Utility\Acl::$LER) || $this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$AFILIADODISTRIBUICAO, Login\Utility\Acl::$LER)){
            ?>
            <li>
                <a href="#"><span class="nav-label"><i class="fa fa-dollar text-success"></i> Pagamentos</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <?php
                    if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$AFILIADOPAGAMENTO, Login\Utility\Acl::$LER)){
                    ?>
                    <li><a href="<?php echo $this->url('adm/default', array('controller'=>'afiliadopagamento'));?>"> <span class="nav-label"> Pagar</span> </a></li>
                    <?php
                    }
                    if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$AFILIADODISTRIBUICAO, Login\Utility\Acl::$LER)){
                    ?>
                    <li><a href="<?php echo $this->url('adm/default', array('controller'=>'afiliadodistribuicao'));?>"> <span class="nav-label"> Realizados</span> </a></li>
                    <?php
                    }
                    ?>
                </ul>
            </li>
            <?php
            }
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$AFILIADO, Login\Utility\Acl::$LER)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'afiliado'));?>"> <span class="nav-label"><i class="fa fa-group text-primary-2"></i> Afiliados</span> <span class="label label-success pull-right"><?php echo $this->novosAfiliados;?></span></a>
            </li>
            <?php
            }
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$UPGRADE, Login\Utility\Acl::$LER) && !isset($this->afiliado)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'upgrade'));?>"> <span class="nav-label"><i class="fa fa-refresh text-info"></i> Upgrades</span> <span class="label label-success pull-right"><?php echo $this->novosUpgrades;?></span></a>
            </li>
            <?php
            }
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$AFILIADOCONFIG, Login\Utility\Acl::$LER)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'afiliadoconfig'));?>"> <span class="nav-label"><i class="fa fa-cogs text-danger"></i> Config</span> </a>
            </li>
            <?php
            }
            
            //Afiliado
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$UPGRADE, Login\Utility\Acl::$LER) && (isset($this->afiliado) && $this->afiliado->getPago() == 1 && $this->afiliado->getAtivo() == 1)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'upgrade'));?>"> <span class="nav-label"><i class="fa fa-refresh text-info"></i> Upgrade</span> </a>
            </li>
            <?php
            }else if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$RENOVACAO, Login\Utility\Acl::$LER)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'renovacao'));?>"> <span class="nav-label"><i class="fa fa-refresh text-warning"></i> Renovação</span> </a>
            </li>
            <?php
            }
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$MINHAEQUIPE, Login\Utility\Acl::$LER) && (isset($this->afiliado) && $this->afiliado->getPago() == 1)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'minhaequipe'));?>"> <span class="nav-label"><i class="fa fa-puzzle-piece text-primary-2"></i> Minha Equipe</span> </a>
            </li>
            <?php
            }
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$EXTRATOCONTA, Login\Utility\Acl::$LER) && (isset($this->afiliado) && $this->afiliado->getPago() == 1)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'extratoconta'));?>"> <span class="nav-label"><i class="fa fa-usd text-warning"></i> Extrato da conta</span> </a>
            </li>
            <?php
            }
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$SAQUE, Login\Utility\Acl::$LER) && ((isset($this->afiliado) && $this->afiliado->getPago() == 1) || !isset($this->afiliado))){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'saqueafiliado'));?>"> <span class="nav-label"><i class="fa fa-money text-danger"></i> Saque<?php echo (!isset($this->afiliado) ? 's' : '');?></span> <span class="label label-success pull-right"><?php echo $this->novosSaques;?></span></a>
            </li>
            <?php
            }
            
            //Genéricos
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$PESSOAFISICA, Login\Utility\Acl::$LER)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'pessoafisica'));?>"> <span class="nav-label"><i class="fa fa-user text-primary-2"></i> Pessoa Física</span> </a>
            </li>
            <?php
            }
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$PESSOAJURIDICA, Login\Utility\Acl::$LER)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'pessoajuridica'));?>"> <span class="nav-label"><i class="fa fa-user-secret text-primary"></i> Pessoa Jurídica</span> </a>
            </li>
            <?php
            }
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$TEXTO, Login\Utility\Acl::$LER)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'texto'));?>"> <span class="nav-label"><i class="fa fa-align-center text-primary"></i> Textos</span> </a>
            </li>
            <?php
            }
            //Contas
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$CONTA, Login\Utility\Acl::$LER) || $this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$CONTA_PAGAR, Login\Utility\Acl::$LER) || $this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$CONTA_RECEBER, Login\Utility\Acl::$LER)){
            ?>
            <li>
                <a href="#"><span class="nav-label"><i class="fa fa-dollar"></i> Contas</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <?php
                    if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$CONTA, Login\Utility\Acl::$LER)){
                    ?>
                    <li><a href="<?php echo $this->url('adm/default', array('controller'=>'conta'));?>">Referência</a></li>
                    <?php
                    }
                    if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$CONTA_PAGAR, Login\Utility\Acl::$LER)){
                    ?>
                    <li><a href="<?php echo $this->url('adm/default', array('controller'=>'contapagar'));?>">À pagar</a></li>
                    <?php
                    }
                    if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$CONTA_RECEBER, Login\Utility\Acl::$LER)){
                    ?>
                    <li><a href="<?php echo $this->url('adm/default', array('controller'=>'contareceber'));?>">À receber</a></li>
                    <?php
                    }
                    if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$CATEGORIA_CONTA, Login\Utility\Acl::$LER)){
                    ?>
                    <li><a href="<?php echo $this->url('adm/default', array('controller'=>'categoriaconta'));?>">Categorias</a></li>
                    <?php
                    }
                    ?>
                </ul>
            </li>
            <?php
            }
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$GASTOGASOLINA, Login\Utility\Acl::$LER)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'gastogasolina'));?>"> <span class="nav-label"><i class="fa fa-dollar text-primary"></i> Gasto Gasolina</span> </a>
            </li>
            <?php
            }
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$VEICULO, Login\Utility\Acl::$LER)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'veiculo'));?>"> <span class="nav-label"><i class="fa fa-dollar text-primary"></i> Veículo</span> </a>
            </li>
            <?php
            }
            if(isset($this->afiliado)){
            ?>
            <li>
                <a href="#"><span class="nav-label"><i class="fa fa-cogs text-info"></i> Meus dados</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<?php echo $this->url('adm/default', array('controller'=>'perfil', 'action'=>'update'));?>"> <span class="nav-label"> Perfil</span></a>
                    </li>
                    <li>
                        <a href="<?php echo $this->url('adm/default', array('controller'=>'afiliado', 'action'=>'contadeposito'));?>"> <span class="nav-label"> Conta bancária</span></a>
                    </li>
                </ul>
            </li>
            <?php
            }
            if($this->acl->autorizado($this->userinfo->getRoles(), Login\Utility\Acl::$RASTREAMENTO, Login\Utility\Acl::$LER)){
            ?>
            <li>
                <a href="<?php echo $this->url('adm/default', array('controller'=>'rastreamento'));?>"> <span class="nav-label"><i class="fa fa-truck text-primary"></i> Rastreamento</span> </a>
            </li>
            <?php
            }
            ?>
        </ul>
    </div>
</aside>
