<footer class="footer">
    <span class="pull-right">
        <a href="http://www.mauricioschmitz.com.br" target="_blank"><strong>Mauricio Schmitz</strong> - Desenvolvimento web</a> 
    </span>
    2016 Copyright <?php echo $this->setupHelper()->getSiteName();?>
</footer>
