<?php
$categorias = $this->categoriaHelper();
?>
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9" lang="pt-BR"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="pt-BR"><!--<![endif]-->
    <head>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
        <title>Vale Alternativo - <?php echo $this->headTitle; ?></title>
        <meta name = "format-detection" content = "telephone=no" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!--meta info-->
        <meta name="author" content="">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <!-- Chrome, Firefox OS, Opera and Vivaldi -->
        <!--    <meta name="theme-color" content="#4285f4">
             Windows Phone 
            <meta name="msapplication-navbutton-color" content="#4285f4">
             iOS Safari 
            <meta name="apple-mobile-web-app-status-bar-style" content="#4285f4">-->

        <link rel="apple-touch-icon" sizes="57x57" href="<?php echo $this->basePath('jornal/images/favicon/apple-icon-57x57.png'); ?>">
        <link rel="apple-touch-icon" sizes="60x60" href="<?php echo $this->basePath('jornal/images/favicon/apple-icon-60x60.png'); ?>">
        <link rel="apple-touch-icon" sizes="72x72" href="<?php echo $this->basePath('jornal/images/favicon/apple-icon-72x72.png'); ?>">
        <link rel="apple-touch-icon" sizes="76x76" href="<?php echo $this->basePath('jornal/images/favicon/apple-icon-76x76.png'); ?>">
        <link rel="apple-touch-icon" sizes="114x114" href="<?php echo $this->basePath('jornal/images/favicon/apple-icon-114x114.png'); ?>">
        <link rel="apple-touch-icon" sizes="120x120" href="<?php echo $this->basePath('jornal/images/favicon/apple-icon-120x120.png'); ?>">
        <link rel="apple-touch-icon" sizes="144x144" href="<?php echo $this->basePath('jornal/images/favicon/apple-icon-144x144.png'); ?>">
        <link rel="apple-touch-icon" sizes="152x152" href="<?php echo $this->basePath('jornal/images/favicon/apple-icon-152x152.png'); ?>">
        <link rel="apple-touch-icon" sizes="180x180" href="<?php echo $this->basePath('jornal/images/favicon/apple-icon-180x180.png'); ?>">
        <link rel="icon" type="image/png" sizes="192x192"  href="<?php echo $this->basePath('jornal/images/favicon/android-icon-192x192.png'); ?>">
        <link rel="icon" type="image/png" sizes="32x32" href="<?php echo $this->basePath('jornal/images/favicon/favicon-32x32.png'); ?>">
        <link rel="icon" type="image/png" sizes="96x96" href="<?php echo $this->basePath('jornal/images/favicon/favicon-96x96.png'); ?>">
        <link rel="icon" type="image/png" sizes="16x16" href="<?php echo $this->basePath('jornal/images/favicon/favicon-16x16.png'); ?>">
        <link rel="manifest" href="<?php echo $this->basePath('jornal/images/favicon/manifest.json'); ?>">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="<?php echo $this->basePath('jornal/images/favicon/ms-icon-144x144.png'); ?>">
        <meta name="theme-color" content="#ffffff">

        <!--FACEBOOK-->
        <meta property="og:locale" content="pt_BR">
        <meta property="fb:app_id" content="835833123227168">
        <meta property="og:type" content="website">
        <meta property="og:url" content="<?php echo $this->serverUrl(true); ?>">
        <meta property="og:title" content="Vale Alternativo - <?php echo htmlentities($this->headTitle); ?>">
        <meta property="og:site_name" content="Vale Alternativo">
        <meta property="og:description" content="<?php echo htmlentities($this->description); ?>">
        <?php
        if ($this->image != '') {
            $infos = mime_content_type(getcwd() . '/public/uploads/noticias/' . $this->image);
            $imageSize = getimagesize(getcwd() . '/public/uploads/noticias/' . $this->image);
            ?>
            <meta property="og:image" content="<?php echo $this->serverUrl() . $this->basePath('uploads/noticias/') . $this->image; ?>">

            <meta property="og:image:type" content="<?php echo $infos; ?>">
            <meta property="og:image:width" content="<?php echo $imageSize[0]; ?>">
            <meta property="og:image:height" content="<?php echo $imageSize[1]; ?>">

            <?php
        } else {
            ?>
            <meta property="og:image" content="<?php echo $this->serverUrl() . $this->basePath('jornal/images/logo_for_facebook.jpg') ?>">
            <meta property="og:image:type" content="image/jpg">
            <meta property="og:image:width" content="800">
            <meta property="og:image:height" content="600">
            <?php
        }
        ?>


        <?php $this->headLink()->prependStylesheet($this->basePath('/libs/slick/slick-theme.css')); ?>
        <?php $this->headLink()->prependStylesheet($this->basePath('/libs/slick/slick.css')); ?>
        <?php $this->headLink()->prependStylesheet($this->basePath('/jornal/css/jornal-css.css?v=0.0.0.1')); ?>
        <?php $this->headLink()->prependStylesheet($this->basePath('/libs/fontawesome/css/font-awesome.min.css')); ?>
        <?php echo $this->headLink(); ?>
        <style>
        body{
             -webkit-touch-callout: none;
 -webkit-user-select: none; 
 -khtml-user-select: none;
 -moz-user-select: none; 
 -ms-user-select: none;
 user-select: none; 
        }
        </style>
    </head>
    <body class="wide_layout">
        <?php echo $this->popupHelper('580x400', $this->basePath('uploads/publicidades/'), '', 1); ?>
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6&appId=835833123227168";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>


        <div class="container-fluid">
            <header class="row">
                <div class="conteudo">
                    <div class="topo">
                        <div class="col-md-12 text-center">
                            <?php echo $this->novoPublicidadeHelper('1110x148', $this->basePath('uploads/publicidades/'), '', 1); ?>
                            <?php //echo $this->publicidadeHelper('1110x148', $this->basePath('uploads/publicidades/'), ''); ?>
                        </div>
                        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-offset-3 col-md-6 col-md-offset-3 text-center"><a href="<?php echo $this->url('home'); ?>"><img src="<?php echo $this->basePath('jornal/images/logo_main.png?v=2'); ?>" class="logo-main"></a></div>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="nav-content">
                    <div class="conteudo">
                        <nav class="navbar navbar-custom">
                            <div class="col-md-12">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="menu-icon">
                                            <span class="sr-only">Menu</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </span>
                                        <span class="menu-text">Menu</span>
                                    </button>

                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li class="<?php echo ($this->current_menu == 'capa' ? 'active' : ''); ?>"><a href="<?php echo $this->url('home'); ?>">Capa<span class="plus"></span></a>

                                            <?php
                                            foreach ($categorias as $categoria) {
                                                ?>
                                            <li class="menu_<?php echo $categoria->getCor(); ?> <?php echo ($this->current_menu == $categoria->getCor() ? 'active' : ''); ?>"><a href="<?php echo $this->url('categoria/default', array('controller' => 'noticia', 'action' => 'listbycategoria', 'id' => $categoria->getId(), 'titulo' => \Jornal\Controller\NoticiaController::titleLink($categoria->getTitulo()))); ?>"><?php echo $categoria->getTitulo(); ?><span class="plus"></span></a></li>

                                            <?php
                                        }
                                        ?>
                                        <li class="<?php echo ($this->current_menu == 'contato' ? 'active' : ''); ?>"><a href="<?php echo $this->url('contato'); ?>">Contato<span class="plus"></span></a>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
            
            <?php echo $this->content;?>
            
            <footer>
                <div class="row">
                    <div class="conteudo">
                        <div class="col-md-12">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <a href="<?php echo $this->url('home'); ?>" class="logo"><img src="<?php echo $this->basePath('jornal/images/logo_rodape.png?v=2'); ?>" alt=""></a>
                            </div>

                            <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
                                <div class="">
                                    <h3 class="news_title">Receba notícias</h3>
                                    <div class="form_text">Assine nossa lista de contatos e receba notícias no seu e-mail</div>
                                    <form id="newsletter">
                                        <input type="email" placeholder="Seu endereço de e-mail" name="newsletter-email">
                                        <button type="submit" class="btn-email" data-type="submit"><i class="fa fa-envelope-o"></i></button>
                                    </form>
                                </div>
                            </div>

                            <div class="col-xs-12 publicidade_rodape">
                                <?php echo $this->novoPublicidadeHelper('1140x148', $this->basePath('uploads/publicidades/'), '', 1); ?>
                                <?php //echo $this->publicidadeHelper('1140x148', $this->basePath('uploads/publicidades/')); ?>
                            </div>

                            <div class="col-xs-12">
                                <!--copyright part-->
                                <div class="footer_bottom_part">
                                    <div>
                                        <div class="mobile_menu var2">
                                            <nav>
                                                <ul>
                                                    <li><a href="<?php echo $this->url('home'); ?>">Capa</a></li>
                                                    <?php
                                                    foreach ($categorias as $categoria) {
                                                        ?>
                                                        <li><a href="<?php echo $this->url('categoria/default', array('controller' => 'noticia', 'action' => 'listbycategoria', 'id' => $categoria->getId(), 'titulo' => \Jornal\Controller\NoticiaController::titleLink($categoria->getTitulo()))); ?>"><?php echo $categoria->getTitulo(); ?></a></li>
                                                        <?php
                                                    }
                                                    ?>
                                                    <li><a href="<?php echo $this->url('contato'); ?>">Contato</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <p>&copy; 2016 <span>Jornal Alternativo</span>. Todos os direitos reservados.</p>
                                        <p>Desenvolvido por: <a href="https://www.mauricioschmitz.com.br?referer=valealternativo&bottom=true" target="_blank">Mauricio Schmitz</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
            </footer>
        </div>
    </div>



    <div id="fundoTransparente" style="display: block;"></div>
    <!--scripts include-->
    <script>var GA_ID = "<?php echo $this->GA_ID; ?>"; var baseUrl = "<?php echo $this->basePath(); ?>";</script>
    <?php $this->headScript()->prependFile($this->basePath('/jornal/js/jornal-js.js?v=0.0.0.1')); ?>
    <?php $this->headScript()->appendFile($this->basePath('/libs/slick/slick.min.js')); ?>
    <?php $this->headScript()->appendFile($this->basePath('/jornal/js/script.js')); ?>

    <?php echo $this->headScript(); ?>

    <script type="text/javascript">
$(document).ready(function () {
    //Disable cut copy paste
    $('body').bind('cut copy paste', function (e) {
        e.preventDefault();
    });
   
    //Disable mouse right click
    $("body").on("contextmenu",function(e){
        return false;
    });
});
</script>
</body>
</html>