<?php
/*
 * @var $form \Zend\Form\Form
 */
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->setMessageOpenFormat('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ')
        ->setMessageCloseString('<button type="button" class="close" data-dismiss="alert">x</buttton></div>')
        ->render($form);

$form->setAttribute('action', $this->url($this->route, array('controller' => $this->controller, 'action' => 'edit', 'id'=>$this->id)));
$form->setAttribute('class', 'form-horizontal validate');
$form->prepare();

echo $this->form()->openTag($form); 

echo $this->formInput($form->get($formClass->getToken()));

$form->get('valor')->setValue(number_format($form->get('valor')->getValue(), 2, ",", ""));
?>
<?php echo $this->partial('admin/publicidade/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('espaco_publicidade'));?>
                        <div class="col-sm-10">
                            <?php echo $this->formSelect($form->get('espaco_publicidade')); ?>
                            <?php echo $this->formElementErrors($form->get('espaco_publicidade'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('titulo'));?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('titulo')); ?>
                            <?php echo $this->formElementErrors($form->get('titulo'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('link'));?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('link')); ?>
                            <?php echo $this->formElementErrors($form->get('link'));?>
                        </div>
                        
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('data_publicacao'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('data_publicacao')); ?>
                            <?php echo $this->formElementErrors($form->get('data_publicacao'));?>
                        </div>
                    
                        <?php echo $this->formLabel($form->get('data_expiracao'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('data_expiracao')); ?>
                            <?php echo $this->formElementErrors($form->get('data_expiracao'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('valor'));?>
                        <div class="col-sm-5">
                            <div class="input-group m-b">
                                <span class="input-group-addon">R$</span>
                                <?php echo $this->formInput($form->get('valor')); ?>
                                <?php echo $this->formElementErrors($form->get('valor'));?>
                            </div>
                        </div>
                    </div>

                    <?php
                    foreach($form->getDias() as $value=>$dia) {
                        ?>
                        <div class="form-group">
                            <label class="col-md-2">
                                <?php echo $dia;?>
                            </label>
                            <?php //echo $this->formLabel($form->get($value)); ?>
                            <div class="col-sm-10">
                                <input type="checkbox" value="1" name="<?php echo $value;?>" <?php echo ($this->params['publicidade']->{'get'.ucfirst($value)}() ? 'checked': '');?>>
                                <?php //echo $this->formInput($form->get($value)); ?>
                                <?php //echo $this->formElementErrors($form->get($value)); ?>
                            </div>
                        </div>
                        <?php
                    }
                    ?>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('arquivo'));?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('arquivo')); ?>
                            <?php echo $this->formElementErrors($form->get('arquivo'));?>
                            <a href="<?php echo $this->basePath('uploads/publicidades/'.$this->params['publicidade']->getArquivo());?>" target="_blank" class="btn btn-success">Arquivo atual</a>
                        </div>   
                    </div>
                    
                    <div class="text-center">
                        <a href="<?php echo $this->url($this->route, array('controller'=>$this->controller));?>" class="btn btn-default waves-effect">Cancel</a>
                        <button type="submit" class="btn btn-primary waves-effect">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<?php echo $this->form()->closeTag(); ?>

