<?php
/*
 * @var $form \Zend\Form\Form
 */
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->setMessageOpenFormat('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ')
        ->setMessageCloseString('<button type="button" class="close" data-dismiss="alert">x</buttton></div>')
        ->render($form);

$form->setAttribute('action', $this->url($this->route, array('controller' => $this->controller, 'action' => 'estatisticas', 'id' => $this->publicidade->getId())));
$form->setAttribute('class', 'form-horizontal validate');
$form->setAttribute('envtype', 'multipart/form-data');
$form->prepare();

echo $this->form()->openTag($form); 

echo $this->formInput($form->get($formClass->getToken()));

$aux = '';
$data = '';
$labels = '';
$total = 0;
foreach($this->lista as $row){
    $row['data'] = implode('/', array_reverse(explode('-', $row['data'])));
    $labels .= $aux.'"'.$row['data'].'"';
    //Data
    $data .= $aux.$row['qtd'];
    $aux = ',';
    $total += $row['qtd'];
}
?>
<?php echo $this->partial('admin/publicidade/listheader.phtml'); ?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a href="<?php echo $this->url($this->route, array('controller'=>$this->controller));?>"><i class="fa fa-chevron-left"> Voltar</i></a>
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Filtros
                </div>
                <div class="panel-body">
                    <div style="width:100%">
                        <div>
                            <div class="form-group">
                                <?php echo $this->formLabel($form->get('inicio'));?>
                                <div class="col-sm-3">
                                    <?php echo $this->formInput($form->get('inicio')); ?>
                                    <?php echo $this->formElementErrors($form->get('inicio'));?>
                                </div>

                                <?php echo $this->formLabel($form->get('fim'));?>
                                <div class="col-sm-3">
                                    <?php echo $this->formInput($form->get('fim')); ?>
                                    <?php echo $this->formElementErrors($form->get('fim'));?>
                                </div>
                                
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary waves-effect">Atualizar</button>
                                </div>  
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Cliente: <?php echo $this->publicidade->getTitulo(); ?>
                </div>
                <div class="panel-body">
                    <div style="width:100%">
                        <div>
                            <canvas id="canvas"></canvas>
                            Total de clicks: <?php echo $total;?>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>  
<?php echo $this->form()->closeTag(); ?>
<?php
$this->headScript()->captureStart();
?>
    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100)
    };
    var lineChartData = {
        labels: [<?php echo $labels;?>],
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [<?php echo $data;?>]
            }
        ]

    }

    window.onload = function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx).Line(lineChartData, {
            responsive: true
        });
    }
<?php $this->headScript()->captureEnd();?>