.feedback{
    position:fixed; 
    top:20px; 
    z-index:999999999999;
    width: 50%;
    left: 25%;
    text-align: center;

    -webkit-box-shadow: 3px 3px 3px 3px rgba(0,0,0,.1);
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,.1);
}

.dataTablesMore{
    height: 16px;
    width: 16px;
    display: block;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    text-align: center;
    line-height: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    background-color: #31b131;
}

#loading {
    padding: 20px;
    background-color: #E7E7E7;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid #ccc;
    margin: -40px 0 0 -40px;
    z-index: 99999999999999999999;
}

#blockLoading {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999999999999999998;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}