<?php
/*
 * @var $form \Zend\Form\Form
 */
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->setMessageOpenFormat('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ')
        ->setMessageCloseString('<button type="button" class="close" data-dismiss="alert">x</buttton></div>')
        ->render($form);

$form->setAttribute('action', $this->url($this->route, array('controller' => $this->controller, 'action' => 'calcular')));
$form->setAttribute('class', 'form-horizontal validate pagamento');
$form->setAttribute('envtype', 'multipart/form-data');
$form->prepare();

//$form->get('valor')->setValue(number_format($form->get('valor')->getValue(), 2, ",", ""));

echo $this->form()->openTag($form); 
echo $this->formInput($form->get($formClass->getToken()));
?>
<?php echo $this->partial('admin/afiliadopagamento/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <?php
            if(empty($this->dados['pagou'])){
            ?>
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <!--<a class="closebox"><i class="fa fa-times"></i></a>-->
                    </div>
                    &nbsp;
<!--                    <a href="<?php echo $this->url('adm/default', array('controller'=>'afiliado', 'action'=>'calcular')); ?>" class="btn btn-success">
                        <i class="fa fa-plus"></i> Adicionar afiliado
                    </a>-->
                </div>
            </div>
            <div class="hpanel stats">
                <div class="panel-body h-100">
                    <div class="stats-title pull-left">
                        <h4>Situação da minha conta</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-cash fa-4x"></i>
                    </div>
                    <div class="clearfix"></div>
                    <div class="m-t-xs">
                        <div class="row">
                            <div class="col-xs-2">
                                <small class="stat-label">Valor entradas entre <?php echo $this->dados['segunda']->format('d/m/Y');?> e <?php echo $this->dados['domingo']->format('d/m/Y');?></small>
                                <h4>R$ <?php echo number_format($this->dados['totalSemana'],2,",", ".");?> </h4>
                            </div>
                            <div class="col-xs-2">
                                <small class="stat-label">Valor da moeda</small>
                                <h4 id="valorCotas">R$ <?php echo number_format($this->dados['valorCotas'],2,",", ".");?> </h4>
                            </div>
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <?php echo $this->formLabel($form->get('valor'));?>
                                    <div class="col-sm-6">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">R$</span>
                                            <?php echo $this->formInput($form->get('valor')); ?>
                                            <?php echo $this->formElementErrors($form->get('valor'));?>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"><button type="submit" class="btn btn-primary waves-effect">Calcular</button></div>
                                    <?php
                                    if($this->dados['valor']){
                                    ?>
                                    <div class="col-sm-2"><button type="submit" class="btn btn-primary waves-effect" onclick="$('form.pagamento').attr('action', $('form.pagamento').attr('action') + '?pagar=true');">Pagar</button></div>
                                    <?php
                                    }
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <!--<a class="closebox"><i class="fa fa-times"></i></a>-->
                    </div>
                    Pagamentos Gerados
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" ui-jp="dataTable" class="table table-striped b-t b-b" style="width: 100%" ui-options="{
          sAjaxSource: '<?php echo $this->url($this->route, array('controller'=>$this->controller, 'action' => 'list')); ?>',
          aDataSort: [[1,'asc']]
        }">
                        <thead>
                        <tr>
                            <th  style="width:2%"></th>
                            <th  style="width:35%">Afiliado</th>
                            <th  style="width:30%">Tipo</th>
                            <th  style="width:10%">Moedas</th>
                            <th  style="width:15%">Valor</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <?php
            }else{
            ?>
            <div class="alert alert-info text-center"><h3>Pagamento dessa semana já foi realizado.</h3></div>
            <?php
            }
            ?>
        </div>
    </div>
</div>
<?php echo $this->form()->closeTag(); ?>
<?php
$this->headScript()->captureStart();
?>
$(document).ready(function(){
        $("#valor").TouchSpin({
            verticalbuttons: false,
            decimals: 2,
            decimalSeparator: ',',
            initval: <?php echo $this->dados['valorDistribuido'];?>,
            min: 0,
            max:99999999999
        });
        $('#valor').on('change', function(){
            var valor = $('#valor').val();
            valor = valor.replace(',', '.');
            
            var cotas = <?php echo $this->dados['totalCotas'];?>;
            
            var valorCota = valor/cotas;
            valorCota = valorCota.toFixed(2);
            $('#valorCotas').html('R$ '+valorCota);
        });
        
    });
<?php $this->headScript()->captureEnd();?>