<?php echo $this->partial('admin/texto/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" ui-jp="dataTable" class="table table-striped b-t b-b" style="width: 100%" ui-options="{
          sAjaxSource: '<?php echo $this->url('adm/default', array('controller'=>'texto', 'action' => 'list')); ?>',
          aDataSort: [[1,'desc']]
        }">
                        <thead>
                        <tr>
                            <th  style="width:2%"></th>
                            <th  style="width:88%">Titulo</th>
                            <th  style="width:10%" class="no-hidden"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>