<?php
foreach($this->params['planos'] as $plano){
?>
    
<div class="col-lg-3 col-md-4 col-sm-6">
    <ul class="pricing-plan list-unstyled">
        <li class="pricing-title">
            <span style="color: #<?php echo $plano->getHexadecimal();?>">
                <i class="pe-7s-medal" style="font-size: 40px;"></i><br>
                <?php echo $plano->getTitulo();?>
            </span>
        </li>
        <li class="pricing-price">
            <span>R$ <?php echo number_format($plano->getValor(),2,",", ".");?></span>
        </li>
        <li>
            Moedas: <?php echo $plano->getCota();?>
        </li>
        <li>
            Indicação direta: <?php echo $plano->getPercentualIndicacao();?>%
        </li>
        <li>
            Pontos: <?php echo $plano->getPontos();?>
        </li>
        <li>
            Saque: R$ <?php echo number_format($plano->getValorSaque(),2,",", ".");?>
        </li>
        <li>
            <?php
            if(isset($this->params['planosselect'])){
                $disabled = false;
                $exibe = true;
                if(isset($this->params['valoratual']) && $this->params['valoratual'] > $plano->getValor()){
                    $disabled = true;
                }
                if(isset($this->params['valoratual']) && $this->params['valoratual'] == $plano->getValor()){
                    $exibe = false;
                }
                if($exibe){
                    if(!$disabled){
            ?>
            <input type="radio" name="plano_id" required="true" title="Selecione um plano" value="<?php echo $plano->getId();?>" <?php echo ($this->plano == $plano->getId() ? 'checked' : '');?>>
            <?php 
                    }
                }else{
            ?>
            <span class="label label-success">Atual</span>
            <?php
                }
            }else{
            ?>
            <a class="btn btn-primary btn-sm" href="<?php echo $this->url('cadastro/default', array('controller'=>'cadastro','action'=>'insert', 'plano'=>$plano->getId()));?>">Cadastre-se agora</a>
            <?php
            }
            ?>
        </li>
    </ul>
</div>
<?php
}
?>
