<?php echo $this->partial('admin/pessoajuridica/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <!--<a class="closebox"><i class="fa fa-times"></i></a>-->
                    </div>
                    <a href="<?php echo $this->url('adm/default', array('controller'=>'pessoajuridica', 'action'=>'insert')); ?>" class="btn btn-success">
                        <i class="fa fa-plus"></i> Adicionar Pessoa Jurídica
                    </a>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" ui-jp="dataTable" class="table table-striped b-t b-b" style="width: 100%" ui-options="{
          sAjaxSource: '<?php echo $this->url('adm/default', array('controller'=>'pessoajuridica', 'action' => 'list')); ?>',
          aDataSort: [[3,'desc'],[1,'asc']]
        }">
                        <thead>
                        <tr>
                            <th></th>
                            <th style="width:30%">Nome Fantasia</th>
                            <th style="width:30%">Razão Social</th>
                            <th style="width:20%">CNPJ</th>
                            <th style="width:10%">Status</th>
                            <th style="width:10%" class="no-hidden"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>