<div class="row">
    <div class="conteudo">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 bannerHome">
                        <div id="carousel-banner-1" class="carousel slide" data-ride="carousel" data-interval="4000">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <?php
                                $cont = 0;
                                foreach ($this->noticias['banners'] as $noticia) {
                                    $cont++;
                                    if (!$noticia->getImagens()->isEmpty())
                                        $imagem = $noticia->getImagens()->first()->getArquivo();
                                    else
                                        $imagem = 'sem_imagem.jpg';

                                    $linkNoticia = $this->url('noticia/default', array('controller' => 'noticia', 'action' => 'detalhes', 'id' => $noticia->getId(), 'titulo' => Jornal\Controller\NoticiaController::titleLink($noticia->getTitulo())));
                                    $categoria = $noticia->getCategoria();
                                    ?>
                                    <div class="item <?php echo ($cont == 1 ? 'active' : '');?> scale_image_container">
                                        <a href="<?php echo $linkNoticia; ?>"><img src="<?php echo $this->basePath('uploads/noticias/' . $imagem); ?>" style="width: 100%; max-height: 450px;" alt="" class="scale_image"></a>
                                        <div class="carousel-caption">
                                            <div class="clearfix">
                                                <a href="<?php echo $this->url('categoria/default', array('controller' => 'noticia', 'action' => 'listbycategoria', 'id' => $categoria->getId(), 'titulo' => \Jornal\Controller\NoticiaController::titleLink($categoria->getTitulo()))); ?>" role="button" class="button banner_button corcategoria_<?php echo $categoria->getCor(); ?>"><?php echo $noticia->getCategoria()->getTitulo(); ?></a>
                                                <?php if ($noticia->getExclusivo()) { ?><span class="button banner_button corcategoria_1">Exclusivo</span><?php } ?>
                                                <span class="event_date"><?php echo $noticia->getDataPublicacao()->format('d/m/Y H:i:s'); ?></span>
                                            </div>
                                            <a href="<?php echo $linkNoticia; ?>"><h2><?php echo $noticia->getTitulo(); ?></h2></a>
                                        </div>
                                    </div>
                                    <?php
                                }
                                ?>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-banner-1" role="button" data-slide="prev" style="top:50%;">
                                <span class="fa fa-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-banner-1" role="button" data-slide="next" style="top:50%;">
                                <span class="fa fa-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 publicidadesDestaque">
                        <div id="carousel-left-1" class="carousel slide" data-ride="carousel" data-interval="6000">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <?php echo $this->novoPublicidadeHelper('387x452', $this->basePath('uploads/publicidades/'), '', 4); ?>
                                <?php
                                /*
                                ?>
                                <div class="item active">
                                    <?php echo $this->publicidadeHelper('387x452', $this->basePath('uploads/publicidades/')); ?>
                                </div>
                                <div class="item">
                                    <?php echo $this->publicidadeHelper('387x452', $this->basePath('uploads/publicidades/')); ?>
                                </div>
                                <div class="item">
                                    <?php echo $this->publicidadeHelper('387x452', $this->basePath('uploads/publicidades/')); ?>
                                </div>
                                <div class="item">
                                    <?php echo $this->publicidadeHelper('387x452', $this->basePath('uploads/publicidades/')); ?>
                                </div>
                                */
                                ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row news_gallery news_gallery_var2">
    <div class="container">
        <h3 class="section_title">DESTAQUES</h3>
        <!--Gallery-->
        <div id="owl-demo-5">
            <?php
            foreach ($this->noticias['destaques'] as $noticia) {
                if (!$noticia->getImagens()->isEmpty()) {
                    $imagem = Admin\Controller\NoticiaController::nomeImagemMini($noticia->getImagens()->first()->getArquivo());
                } else
                    $imagem = 'sem_imagem.jpg';

                $linkNoticia = $this->url('noticia/default', array('controller' => 'noticia', 'action' => 'detalhes', 'id' => $noticia->getId(), 'titulo' => Jornal\Controller\NoticiaController::titleLink($noticia->getTitulo())));
                ?>
                <div class="item">
                    <div class="scale_image_container">
                        <a href="<?php echo $linkNoticia; ?>"><img src="<?php echo $this->basePath('uploads/noticias/' . $imagem); ?>" alt="" class="scale_image"></a>
                        <!--caption-->
                        <div class="caption_type_1">
                            <div class="caption_inner">
                                <a href="<?php echo $linkNoticia; ?>"><h4><?php echo $noticia->getTitulo(); ?></h4></a>
                                <div class="event_date"><?php echo $noticia->getDataPublicacao()->format('d/m/Y H:i:s'); ?></div>
                                <?php if ($noticia->getExclusivo()) { ?><span class="button banner_button corcategoria_1">Exclusivo</span><?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
                <?php
            }
            ?>
        </div>
    </div>
</div>

<div class="row">
    <div class="conteudo">
        <!--==============================content================================-->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <?php
                        if (isset($this->noticias['ultimas'])) {
                            ?>
                            <div class="section">
                                <a class="weatherwidget-io" href="https://forecast7.com/pt/n26d90n49d24/indaial/" data-label_1="INDAIAL" data-label_2="PREVISÃO DO TEMPO" data-theme="pure" >INDAIAL PREVISÃO DO TEMPO</a>
                                <script>
                                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
                                </script>
                                <div class="tabs corcategoria_1">
                                    <!--tabs navigation-->
                                    <div class="clearfix">
                                        <h3 class="section_title">Recentes</h3>
                                    </div>
                                    <!--tabs content-->
                                    <div>
                                        <div class="row">
                                            <ul class="listNoticiasHome">
                                                <?php
                                                foreach($this->noticias['ultimas'] as $noticia) {
//                                                    $noticia = $this->noticias['categoriasDestaque'][0]['noticias'][0];
                                                    if (!$noticia->getImagens()->isEmpty()) {
                                                        $imagem = Admin\Controller\NoticiaController::nomeImagemMini($noticia->getImagens()->first()->getArquivo());
                                                    } else
                                                        $imagem = 'sem_imagem.jpg';

                                                    $linkNoticia = $this->url('noticia/default', array('controller' => 'noticia', 'action' => 'detalhes', 'id' => $noticia->getId(), 'titulo' => Jornal\Controller\NoticiaController::titleLink($noticia->getTitulo())));
                                                    ?>
                                                    <li class="clearfix col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="post_image scale_image_container">
                                                                    <a href="<?php echo $linkNoticia; ?>"><img src="<?php echo $this->basePath('uploads/noticias/' . $imagem); ?>" alt="" class="scale_image"></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-sx-6">
                                                                <?php if ($noticia->getExclusivo()) { ?><span class="button banner_button corcategoria_1">Exclusivo</span><?php } ?><a href="<?php echo $linkNoticia; ?>"><h4><?php echo $noticia->getTitulo(); ?></h4></a>
                                                                <div class="event_date"><?php echo $noticia->getDataPublicacao()->format('d/m/Y H:i:s'); ?></div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <?php
                                                }
                                                ?>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php
                        }
                        ?>


                        <div class="clear"></div>
                        <div class="row" style="margin: 30px 0;  ">
                            <div class="col-xs-12">
                                <div id="carousel-center-1" class="carousel slide" data-ride="carousel" data-interval="6000">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox" style="height: 165px;">
                                        <?php echo $this->novoPublicidadeHelper('750x165', $this->basePath('uploads/publicidades/'), '', 1, array('p.id', 'DESC')); ?>
                                        <?php
                                        /*
                                        <div class="item active">
                                            <?php echo $this->publicidadeHelper('750x165', $this->basePath('uploads/publicidades/')); ?>
                                        </div>
                                        <div class="item">
                                            <?php echo $this->publicidadeHelper('750x165', $this->basePath('uploads/publicidades/')); ?>
                                        </div>
                                        <div class="item">
                                            <?php echo $this->publicidadeHelper('750x165', $this->basePath('uploads/publicidades/')); ?>
                                        </div>
                                        */
                                        ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                        <?php
                        if (array_key_exists(0, $this->noticias['categoriasDestaque'])) {
                            ?>
                            <div class="section">
                                <div class="tabs corcategoria_<?php echo $this->noticias['categoriasDestaque'][0]['categoria']->getCor(); ?>">
                                    <!--tabs navigation-->
                                    <div class="clearfix">
                                        <h3 class="section_title"><?php echo $this->noticias['categoriasDestaque'][0]['categoria']->getTitulo(); ?></h3>
                                        <div class="clearfix">
                                            <a href="<?php echo $this->url('categoria/default', array('controller' => 'noticia', 'action' => 'listbycategoria', 'id' => $this->noticias['categoriasDestaque'][0]['categoria']->getId(), 'titulo' => \Jornal\Controller\NoticiaController::titleLink($this->noticias['categoriasDestaque'][0]['categoria']->getTitulo()))); ?>" class="button button_grey view_button">Ver mais</a>
                                        </div>
                                    </div>
                                    <!--tabs content-->
                                    <div>
                                        <div class="row">
                                            <ul class="listNoticiasHome">
                                                <?php
                                                foreach($this->noticias['categoriasDestaque'][0]['noticias'] as $noticia) {
//                                                    $noticia = $this->noticias['categoriasDestaque'][0]['noticias'][0];
                                                    if (!$noticia->getImagens()->isEmpty()) {
                                                        $imagem = Admin\Controller\NoticiaController::nomeImagemMini($noticia->getImagens()->first()->getArquivo());
                                                    } else
                                                        $imagem = 'sem_imagem.jpg';

                                                    $linkNoticia = $this->url('noticia/default', array('controller' => 'noticia', 'action' => 'detalhes', 'id' => $noticia->getId(), 'titulo' => Jornal\Controller\NoticiaController::titleLink($noticia->getTitulo())));
                                                    ?>
                                                    <li class="clearfix col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="post_image scale_image_container">
                                                                    <a href="<?php echo $linkNoticia; ?>"><img src="<?php echo $this->basePath('uploads/noticias/' . $imagem); ?>" alt="" class="scale_image"></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-sx-6">
                                                                <?php if ($noticia->getExclusivo()) { ?><span class="button banner_button corcategoria_1">Exclusivo</span><?php } ?><a href="<?php echo $linkNoticia; ?>"><h4><?php echo $noticia->getTitulo(); ?></h4></a>
                                                                <div class="event_date"><?php echo $noticia->getDataPublicacao()->format('d/m/Y H:i:s'); ?></div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <?php
                                                }
                                                ?>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php
                        }
                        ?>
                        <div class="clear"></div>
                        <div class="row" style="margin: 30px 0;  ">
                            <div class="col-xs-12">
                                <div id="carousel-center-1" class="carousel slide" data-ride="carousel" data-interval="6000">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox" style="height: 165px;">
                                        <?php echo $this->novoPublicidadeHelper('750x165', $this->basePath('uploads/publicidades/'), '', 1); ?>
                                        <?php
                                        /*
                                        <div class="item active">
                                            <?php echo $this->publicidadeHelper('750x165', $this->basePath('uploads/publicidades/')); ?>
                                        </div>
                                        <div class="item">
                                            <?php echo $this->publicidadeHelper('750x165', $this->basePath('uploads/publicidades/')); ?>
                                        </div>
                                        <div class="item">
                                            <?php echo $this->publicidadeHelper('750x165', $this->basePath('uploads/publicidades/')); ?>
                                        </div>
                                        */
                                        ?>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <?php
                        if (array_key_exists(1, $this->noticias['categoriasDestaque'])) {
                            ?>
                            <div class="section">
                                <div class="tabs corcategoria_<?php echo $this->noticias['categoriasDestaque'][1]['categoria']->getCor(); ?>">
                                    <!--tabs navigation-->
                                    <div class="clearfix">
                                        <h3 class="section_title"><?php echo $this->noticias['categoriasDestaque'][1]['categoria']->getTitulo(); ?></h3>
                                        <div class="clearfix">
                                            <a href="<?php echo $this->url('categoria/default', array('controller' => 'noticia', 'action' => 'listbycategoria', 'id' => $this->noticias['categoriasDestaque'][1]['categoria']->getId(), 'titulo' => \Jornal\Controller\NoticiaController::titleLink($this->noticias['categoriasDestaque'][1]['categoria']->getTitulo()))); ?>" class="button button_grey view_button">Ver mais</a>
                                        </div>
                                    </div>
                                    <!--tabs content-->
                                    <div>
                                        <div class="row">
                                            <ul class="listNoticiasHome">
                                                <?php
                                                foreach($this->noticias['categoriasDestaque'][1]['noticias'] as $noticia) {
//                                                    $noticia = $this->noticias['categoriasDestaque'][0]['noticias'][0];
                                                    if (!$noticia->getImagens()->isEmpty()) {
                                                        $imagem = Admin\Controller\NoticiaController::nomeImagemMini($noticia->getImagens()->first()->getArquivo());
                                                    } else
                                                        $imagem = 'sem_imagem.jpg';

                                                    $linkNoticia = $this->url('noticia/default', array('controller' => 'noticia', 'action' => 'detalhes', 'id' => $noticia->getId(), 'titulo' => Jornal\Controller\NoticiaController::titleLink($noticia->getTitulo())));
                                                    ?>
                                                    <li class="clearfix col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="post_image scale_image_container">
                                                                    <a href="<?php echo $linkNoticia; ?>"><img src="<?php echo $this->basePath('uploads/noticias/' . $imagem); ?>" alt="" class="scale_image"></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-sx-6">
                                                                <?php if ($noticia->getExclusivo()) { ?><span class="button banner_button corcategoria_1">Exclusivo</span><?php } ?><a href="<?php echo $linkNoticia; ?>"><h4><?php echo $noticia->getTitulo(); ?></h4></a>
                                                                <div class="event_date"><?php echo $noticia->getDataPublicacao()->format('d/m/Y H:i:s'); ?></div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <?php
                                                }
                                                ?>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php
                        }
                        ?>


                        <div class="clear"></div>
                        <div class="row" style="margin: 30px 0;" >
                            <div class="col-xs-12">
                                <div id="carousel-center-1" class="carousel slide" data-ride="carousel" data-interval="6000">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox" style=" height: 165px;">
                                        <?php echo $this->novoPublicidadeHelper('750x165', $this->basePath('uploads/publicidades/')); ?>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <?php
                        for($k = 2; $k < 7; $k++){
                            if (array_key_exists($k, $this->noticias['categoriasDestaque'])) {
                                ?>
                                <div class="section">
                                    <div class="tabs corcategoria_<?php echo $this->noticias['categoriasDestaque'][$k]['categoria']->getCor(); ?>">
                                        <!--tabs navigation-->
                                        <div class="clearfix">
                                            <h3 class="section_title"><?php echo $this->noticias['categoriasDestaque'][$k]['categoria']->getTitulo(); ?></h3>
                                            <div class="clearfix">
                                                <a href="<?php echo $this->url('categoria/default', array('controller' => 'noticia', 'action' => 'listbycategoria', 'id' => $this->noticias['categoriasDestaque'][$k]['categoria']->getId(), 'titulo' => \Jornal\Controller\NoticiaController::titleLink($this->noticias['categoriasDestaque'][$k]['categoria']->getTitulo()))); ?>" class="button button_grey view_button">Ver mais</a>
                                            </div>
                                        </div>
                                        <!--tabs content-->
                                        <div>
                                            <div class="row">
                                                <ul class="listNoticiasHome">
                                                    <?php
                                                    foreach($this->noticias['categoriasDestaque'][$k]['noticias'] as $noticia) {
//                                                    $noticia = $this->noticias['categoriasDestaque'][0]['noticias'][0];
                                                        if (!$noticia->getImagens()->isEmpty()) {
                                                            $imagem = Admin\Controller\NoticiaController::nomeImagemMini($noticia->getImagens()->first()->getArquivo());
                                                        } else
                                                            $imagem = 'sem_imagem.jpg';

                                                        $linkNoticia = $this->url('noticia/default', array('controller' => 'noticia', 'action' => 'detalhes', 'id' => $noticia->getId(), 'titulo' => Jornal\Controller\NoticiaController::titleLink($noticia->getTitulo())));
                                                        ?>
                                                        <li class="clearfix col-sm-6">
                                                            <div class="row">
                                                                <div class="col-xs-6">
                                                                    <div class="post_image scale_image_container">
                                                                        <a href="<?php echo $linkNoticia; ?>"><img src="<?php echo $this->basePath('uploads/noticias/' . $imagem); ?>" alt="" class="scale_image"></a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sx-6">
                                                                    <?php if ($noticia->getExclusivo()) { ?><span class="button banner_button corcategoria_1">Exclusivo</span><?php } ?><a href="<?php echo $linkNoticia; ?>"><h4><?php echo $noticia->getTitulo(); ?></h4></a>
                                                                    <div class="event_date"><?php echo $noticia->getDataPublicacao()->format('d/m/Y H:i:s'); ?></div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <?php
                                                    }
                                                    ?>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="row" style="margin: 30px 0;  ">
                                    <div class="col-xs-12">
                                        <div id="carousel-center-1" class="carousel slide" data-ride="carousel" data-interval="6000">
                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner" role="listbox" style="height: 165px;">
                                                <?php echo $this->novoPublicidadeHelper('750x165', $this->basePath('uploads/publicidades/')); ?>
                                                <?php
                                                /*
                                                <div class="item active">
                                                    <?php echo $this->publicidadeHelper('750x165', $this->basePath('uploads/publicidades/')); ?>
                                                </div>
                                                <div class="item">
                                                    <?php echo $this->publicidadeHelper('750x165', $this->basePath('uploads/publicidades/')); ?>
                                                </div>
                                                <div class="item">
                                                    <?php echo $this->publicidadeHelper('750x165', $this->basePath('uploads/publicidades/')); ?>
                                                </div>
                                                */
                                                ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <?php
                            }
                        }
                        ?>
                    </div>

                    <aside id="sidebar" class="col-lg-4 col-md-4 col-sm-12">
                        <div class="slick-class" style="max-width: 317px; margin: auto">
                            <?php $this->novoPublicidadeHelper('280x317', $this->basePath('uploads/publicidades/'), '', -1); ?>
                        </div>
                    </aside>

                </div>
            </div>
        </div>
    </div>
</div>

                        