<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>Grupo Top 10</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    <!-- styles -->
    <?php //  $this->headLink()->prependStylesheet($this->basePath('/min?g=aff-css')); ?>
    <?php $this->headLink()->appendStylesheet($this->basePath('/libs/fontawesome/css/font-awesome.min.css')); ?>
    <?php $this->headLink()->appendStylesheet($this->basePath('/libs/metisMenu/dist/metisMenu.min.css')); ?>
    <?php $this->headLink()->appendStylesheet($this->basePath('/libs/bootstrap/dist/css/bootstrap.min.css')); ?>
    <?php $this->headLink()->appendStylesheet($this->basePath('/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css')); ?>
    <?php $this->headLink()->appendStylesheet($this->basePath('/fonts/pe-icon-7-stroke/css/helper.css')); ?>
    <?php $this->headLink()->appendStylesheet($this->basePath('/libs/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css')); ?>
    <?php $this->headLink()->appendStylesheet($this->basePath('/css/styles.css')); ?>
    <?php $this->headLink()->appendStylesheet($this->basePath('/css/affiliate/styles.css')); ?>
    
    
    <?php echo $this->headLink(); ?>

</head>
<body class="landing-page">
<!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Grupo Top 10</h1><p>...</p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="<?php echo $this->url('home');?>" page-scroll  class="page-scroll navbar-brand"><img src="<?php echo $this->basePath('images/affiliate/logo.jpg');?>"></a>
            <div class="brand-desc">
                ...
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <?php
                if($this->menu){
                ?>
                <li><a class="page-scroll" page-scroll href="#quem_somos">Sobre</a></li>
                <li><a class="page-scroll" page-scroll target="_blank" href="<?php echo $this->url('apresentacao');?>">Apresentação </a></li>
                <li><a class="page-scroll" page-scroll href="#planos">Planos </a></li>
                <li><a class="page-scroll" page-scroll href="#beneficios">Benefícios </a></li>
                <li><a class="page-scroll" page-scroll href="#como_recebo">Como recebo</a></li>
                <li><a class="page-scroll" page-scroll href="#contato">Contato</a></li>
                <?php
                }else{
                ?>
                <li><a class="page-scroll" page-scroll href="<?php echo $this->url('home');?>">Voltar ao site</a></li>
                <li class="active"><a class="page-scroll" page-scroll href="<?php echo $this->url('cadastro');?>">Cadastro</a></li>
                <?php
                }
                ?>
                <li><a class="page-scroll" page-scroll href="<?php echo $this->url('adm/default');?>">Entrar</a></li>
            </ul>
        </div>
    </div>
</nav>
<?php echo $this->partial('layout/flashMessage'); ?>
<?php echo $this->content;?>

<section id="contato" class="bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-danger">Contato</span></h2>
                <p>
                    Temos uma equipe qualificada para lhe atender.
                </p>
            </div>
        </div>

        <div class="row text-center m-t-lg">
            <div class="col-md-4 col-md-offset-3">

                <form class="form-horizontal" role="form" method="post" action="#">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Nome</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Seu nome completo" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">E-mail</label>

                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="email" name="email" placeholder="email@servidor.com" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-3 control-label">Mensagem</label>

                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3" name="message"  placeholder="Sua mensagem aqui..."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input id="submit" name="submit" type="submit" value="Enviar mensagem" class="btn btn-warning">
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-3 text-left">
                <address>
                    <strong><span class="navy">Grupo Top 10.</span></strong><br/>
                    Rua das azaleias, 302 Box 39<br/>
                    Bairro Jaraguá Esquerdo<br/>
                    Jaraguá do Sul/SC<br/>
                    89253-415<br/>
                    <!--<abbr title="Phone">P:</abbr> (123) 678-8674-->
                </address>
                <p class="text-color">
                    <b>Whatsapp</b><br/>
                    Tim (47) 9957-5502<br/>
                    Vivo (47) 9275-6949<br/>
                    <br/><br/>
                    <a href="mailto:grupo.top10nkl@gmail.com"><i class="fa fa-envelope fa-lg"></i> grupo.top10nkl@gmail.com</a><br/>
                    <a href="http://www.facebook.com/nklgrupotop10" target="_blank"><i class="fa fa-facebook-official fa-lg"></i> /nklgrupotop10</a>
                </p>
            </div>
        </div>

        <div>
            <div class="pull-left" style="font-size: 10px;">Desenvolvido por: <a href="http://www.mauricioschmitz.com.br" target="_blank">Mauricio Schmitz</a></div>
            <div class="pull-right"></div>
        </div>
    </div>
</section>
<script>var GA_ID = "<?php echo $this->GA_ID; ?>"; var baseUrl = "<?php echo $this->basePath(); ?>";</script>
<!--  scripts-->
<?php $this->headScript()->prependFile($this->basePath('/js/affiliate/min.js?date='.date('d-m-Y-H-i-s')));?>
<?php // $this->headScript()->prependFile($this->basePath('/min?g=aff-js'));?>
<?php echo $this->headScript();?>

<!-- Local script for menu handle -->
<!-- It can be also directive -->
<script>
    $(document).ready(function () {

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
        });

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

    });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', GA_ID, 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript"> //<![CDATA[ 
//var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
//document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
<div class="trustLogo">
    <script language="JavaScript" type="text/javascript">
//    TrustLogo("https://grupotop10.com.br/images/affiliate/comodo_secure_seal_76x26_transp.png", "CL1", "none");
    </script>
</div>
</body>
</html>