<?php
$categorias = $this->categoriaHelper();
?>
<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="utf-8">
        <title>Flávio Molinari - PSDB 45123</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href='https://fonts.googleapis.com/css?family=Domine:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <?php $this->headLink()->appendStylesheet($this->basePath('/political/css/bootstrap.css')); ?>
        <?php $this->headLink()->appendStylesheet($this->basePath('/political/css/style.min.css')); ?>
        <?php $this->headLink()->appendStylesheet($this->basePath('/political/css/font-awesome.css')); ?>
        <?php $this->headLink()->appendStylesheet($this->basePath('/political/css/colorbox.css')); ?>
           
        <?php echo $this->headLink(); ?>
    </head>
    <body> 
        <header>
            <div class="navbar-fixed-top"> 
                <div class="top1 top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </div>
                            <div class="col-lg-6 topright">  
                                <!--<a href="skype:...?call"><i class="fa fa-phone"> <span>(232) 235 23 55</span></i></a>
                                <a href="mailto:someone@yoursite.com"><i class="fa fa-envelope last"> <span> example@example.com</span></i></a>-->
                            </div>
                        </div>
                    </div> 
                </div>
                <!-- menu -->
                <nav class="navbar navbar-height1 menuswitch-js"> 
                    <div class="container navbar-inner">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="responsive-wrapper"> 
                                    <a class="navbar-brand" href="<?php echo $this->url('home');?>">
                                        <h1>FLÁVIO MOLINARI - PSDB 45123</h1><!--<img src="political/images/logo.png" alt=""/>-->
                                    </a> 
                                    <div id="toggle-icon" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div> 
                                <div class="collapse navbar-collapse navbar-ex1-collapse"> 
                                    <div class="cl-effect-12">
                                        <ul class="nav navbar-nav pull-right">
                                            <li><a href="<?php echo $this->url('home');?>">Capa</a></li>          
                                            
                                            <?php
                                            foreach ($categorias as $categoria) {
                                                if($categoria->getCor() == 5){
                                            ?>
                                            <li><a href="<?php echo $this->url('categoria/default', array('controller' => 'noticia', 'action' => 'listbycategoria', 'id' => $categoria->getId(), 'titulo' => \Political\Controller\NoticiaController::titleLink($categoria->getTitulo()))); ?>"><?php echo $categoria->getTitulo(); ?></a></li>
                                            <?php
                                                }
                                            }
                                            ?>
                                            <li><a href="<?php echo $this->url('about');?>">Sobre mim</a></li>
                                            <li><a href="<?php echo $this->url('contato');?>">Contato</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- menu end -->
            </div>
        </header>  
        <?php echo $this->content; ?>
        <!-- social icons cta -->  
        <section class="wrapper100percent section3">
            <div class="col-md-12 socialicons-big">
                <h2>Siga-me nas redes!</h2>
                <ul class="socialicons">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- social icons cta end -->    
        <div class="divider-space">
        </div> 
        <div class="divider-space">
        </div>  
        <div class="container"> 
            <div class="row">
                <div class="col-lg-12">
                    <div class="section9"> 
                        <div class="section9a">
                            <h2>Assine nossa nesletter</h2>
                            Receba novidades direto no seu e-mail
                        </div>
                        <div class="section9b">
                            <form action="submit.php" method="post">
                                <div id="main1">
                                    <input type="text" placeholder="seu endereço de e-mail" name="email1" id="email1"/> 
                                    <p>
                                        <input type="button" name="submit1" id="submit1" value="Assine !">
                                    </p>
                                    <ul class="col-sm-12" id="response1"></ul> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
        <!-- content is above this -->
        <!-- /footer is below this -->
        <footer class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Todos os direitos reservados Flávio Molinari - PSDB 45123 - Desenvolvido por: <a href="http://www.mauricioschmitz.com.br">Mauricio Schmitz</a> 2016.</p>
                        </div>
                        <div class="scrollbutton">
                            <a href="javascript:scrollToTop()" title="go to top"><i class="fa fa-chevron-up"></i></a>
                        </div> 
                    </div>
                </div>
            </div>
        </footer>
        <!--scripts include-->
        <script>var GA_ID = "<?php echo $this->GA_ID; ?>"; var baseUrl = "<?php echo $this->basePath(); ?>";</script>
        <?php $this->headScript()->prependFile($this->basePath('/political/js/jquery.js')); ?>
        <?php $this->headScript()->appendFile($this->basePath('/political/js/jquery-migrate.js')); ?>
        <?php $this->headScript()->appendFile($this->basePath('/political/js/bootstrap.js')); ?>
        <?php $this->headScript()->appendFile($this->basePath('/political/js/flexslider.js')); ?>
        <?php $this->headScript()->appendFile($this->basePath('/political/js/flickity.js')); ?>
        <?php $this->headScript()->appendFile($this->basePath('/political/js/waypoints.js')); ?>
        <?php $this->headScript()->appendFile($this->basePath('/political/js/scriptcontact.js')); ?>
        <?php $this->headScript()->appendFile($this->basePath('/political/js/scriptsubmit.js')); ?>
        <?php $this->headScript()->appendFile($this->basePath('/political/js/countto.js')); ?>
        <?php $this->headScript()->appendFile($this->basePath('/political/js/colorbox.js')); ?>
        <?php $this->headScript()->appendFile($this->basePath('/political/js/isotope.js')); ?>
        <?php $this->headScript()->appendFile($this->basePath('/political/js/jquery.plugin.js')); ?>
        <?php $this->headScript()->appendFile($this->basePath('/political/js/jquery.countdown.js')); ?>
        <?php $this->headScript()->appendFile($this->basePath('/political/js/retina.js')); ?>
        <?php $this->headScript()->appendFile($this->basePath('/political/js/scripts.js')); ?>
        <?php // $this->headScript()->appendFile($this->basePath('/political/js/less.js')); ?>

        <?php echo $this->headScript(); ?>
        	
    </body>
</html>