<div class="error-container">
    <i class="pe-7s-way text-success big-icon"></i>
    <h1>403</h1>
    <strong>Permissão negada</strong>
    <p>
        Desculpe, mas você não tem permissão para acessar essa página

    </p>
    <a href="#" onclick="window.history.back();" class="btn btn-xs btn-success">Voltar</a>
</div>