<div class="mainheadlinewrapperpage">
    <div class="mainheadlinewrapperpage-inner" style="background: none">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="mainheadlinepage">
                        <h1>Contato</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="<?php echo $this->url('home'); ?>">Home</a></li>
                        <li class="active">Contato</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breakpoint for menu -->  
<div class="wrapper100percent">     
    <div class="menuswitch"> 
    </div> 
</div> 
<!-- breakpoint for menu end -->  
<div class="divider-space">
</div> 
<div class="divider-space">
</div> 
<div class="wrapper100percent">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2 text-center">       
                <div class="divider-space">
                </div> 
                <div class="divider-space">
                </div> 
                <h2> <b> Envie nos uma mensagem  </b></h2>
                <div class="divider-space">
                </div> 
                <!-- comment-form -->
                <form class="wrapper100percent" method="post" action="">
                    <div id="main">
                        <div>
                            <p>
                                <input type="text" placeholder="seu nome" name="cf_name" id="cf_name"/>
                            </p> 
                        </div>
                        <div>
                            <p> 
                                <input type="text" placeholder="seu e-mail" name="cf_email" id="cf_email" />
                            </p> 
                        </div>
                        <div>
                            <p> 
                                <input type="text" placeholder="assunto" name="cf_subject" id="cf_subject" /> 
                            </p> 
                        </div>
                        <p>
                            <textarea placeholder="sua mensagem" name="cf_message" id="cf_message" rows="12" cols="5"></textarea>
                        </p>
                        <div class="buttoncontact">
                            <p>
                                <input  type="submit"  name="submit" id="submit" value="Enviar mensagem"/>
                            </p>
                        </div>
                        <ul class="col-sm-12" id="response"></ul> 
                    </div>
                </form> 
                <!-- comment-form-end end -->  
            </div>                      
        </div>  
        <div class="divider-line">
        </div> 
        <div class="divider-space">
        </div> 
        <div class="divider-space">
        </div> 
    </div>
    <div class="divider-space">
    </div>
    <div class="divider-space">
    </div> 
</div> 