<section class="wrapper100percent">     
    <div class="flexslider">
        <div class="wrapper100percent">     
            <div class="menuswitch"> 
            </div> 
        </div> 
        <!-- breakpoint for menu end -->   
        <ul class="slides">
            <li>
                <img src="political/images/slider1.jpg" alt=""/>
            </li>
        </ul>
    </div>
</section>
<!--slider end--> 
<div class="divider-space">
</div> 
<div class="divider-space">
</div>
<div class="wrapper100percent">
    <div class="main-boxes">
        <div class="one-box2">
            <a href="<?php echo $this->url('about'); ?>">
                <div class="one-box2-inner">
                    <h3> Conheça Flávio Molinari </h3>
                </div>
            </a>
        </div>
        <div class="one-box3">
            <a href="<?php echo $this->url('work'); ?>">
                <div class="one-box3-inner" style="padding: 30px 0">
                    <h3> Conheça um pouco do trabalho de Flávio Molinari </h3>
                </div>
            </a>
        </div>
        <div class="one-box2">
            <a href="<?php echo $this->url('categoria/default', array('controller' => 'noticia', 'action' => 'listbycategoria', 'id' => $this->postsCat->getId(), 'titulo' => \Political\Controller\NoticiaController::titleLink($this->postsCat->getTitulo()))); ?>">
                <div class="one-box2-inner">
                    <h3> Últimas Notícias </h3>
                </div>
            </a>
        </div>
        <div class="one-box3">
            <a href="<?php echo $this->url('videos'); ?>">
                <div class="one-box3-inner">
                    <h3> Vídeos </h3>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="divider-space">
</div> 
<div class="divider-space">
</div>   
<div class="wrapper100percent">
    <div class="main-boxes">
        <div class="one-box2">
            <a href="<?php echo $this->url('projetos');?>">
                <div class="one-box2-inner">
                    <h3> Projetos e Metas </h3>
                </div>
            </a>
        </div>
        <div class="one-box3">
            <a href="<?php echo $this->url('depoimentos'); ?>">
                <div class="one-box3-inner">
                    <h3> Depoimentos </h3>
                </div>
            </a>
        </div>
        <div class="one-box2">
            <a href="#<?php //echo $this->url('categoria/default', array('controller' => 'noticia', 'action' => 'listbycategoria', 'id' => $this->postsCat->getId(), 'titulo' => \Political\Controller\NoticiaController::titleLink($this->postsCat->getTitulo()))); ?>">
                <div class="one-box2-inner">
                    <h3> ... </h3>
                </div>
            </a>
        </div>
        <div class="one-box3">
            <a href="<?php echo $this->url('contato'); ?>">
                <div class="one-box3-inner">
                    <h3> Fale com a gente </h3>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="divider-space">
</div> 
<div class="divider-space">
</div>   

<!--icons end-->  
<div class="mainheadlinewrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mainheadline">
                    <h2>Últimas postagens</h2>
                    <h3>acompanhe aqui minha campanha, saiba quais são minhas propostas e muito mais.
                    </h3>
                </div> 
            </div>
        </div>
    </div>
</div>
<div class="divider-space">
</div> 
<div class="divider-space">
</div>

<div class="wrapper100percent">
    <div class="container">
        <div class="row blogpost">      
            <!-- articles --> 
            <div class="col-md-9"> 
                <?php
                if(count($this->posts)){
                    foreach ($this->posts as $post) {
                        $linkPost = $this->url('noticia/default', array('controller' => 'noticia', 'action' => 'detalhes', 'id' => $post->getId(), 'titulo' => Political\Controller\NoticiaController::titleLink($post->getTitulo())));
                    ?>
                    <!-- blogpost one --> 
                    <article> 
                        <h2><?php echo $post->getTitulo(); ?></h2>
                        <div class="divider-space">
                        </div> 
                        <img src="political/images/noticia.jpg" alt=""/>
                        <ul class="meta">
                            <li class="metatime">   <?php echo $post->getDataPublicacao()->format('d'); ?><br><?php echo Base\Controller\AbstractController::datePt($post->getDataPublicacao()->format('n')); ?><br><?php
                                echo $post->getDataPublicacao()->format('Y');
                                ?></li>
                        </ul>
                        <p><?php echo $post->getChamada(); ?>
                        </p> 
                        <div class="text-left">
                            <a href="<?php echo $linkPost; ?>" class="button1 firstcolor small">Leia mais</a>
                        </div> 
                    </article>       
                <?php
                    }
                }
                ?>
            </div>
            
            <!-- articles end -->
            <!-- sidebar -->
<?php echo $this->partial('partial/sidebar'); ?>
            <!-- sidebar end -->
        </div>
    </div> 
</div>
<div class="divider-space">
</div> 
<div class="divider-space">
</div>


<?php
if($this->video){
?>
<!--icons end-->  
<div class="mainheadlinewrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mainheadline">
                    <h2>Vídeos</h2>
                    <h3>acompanhe nossos vídeos.
                    </h3>
                </div> 
            </div>
        </div>
    </div>
</div>
<div class="divider-space">
</div> 
<div class="divider-space">
</div>
<?php
}
?>
<div class="wrapper100percent">
    <div class="container">
        <div class="row blogpost">      
            <?php
            if($this->video){
            ?>
            <!-- articles --> 
            <div class="col-md-9">
                <article>
                    <p><?php echo $this->video->getTexto(); ?>
                    <div class="text-left">
                        <a href="<?php echo $this->url('videos') ?>" class="button1 firstcolor small">Mais vídeos</a>
                    </div> 
                </article>
            </div>
            <?php
            }
            ?>           
            <div class="col-md-<?php echo ( $this->video ? '3' : '12');?> sidebar">
                <h1>Jingle </h1>
                <audio controls>
                    <source src="political/jingle.ogg" type="audio/ogg">
                    <source src="political/jingle.mp3" type="audio/mpeg">
                    Seu navegador não suporta áudio
                </audio>
                <br>
                <a href="<?php echo $this->url('download', array(), array('query'=>array('file'=>  base64_encode('jingle.mp3'))));?>"><i class="fa fa-download"></i> Download</a>
                <br>
                <h1>Música </h1>
                <audio controls>
                    <source src="political/musica.ogg" type="audio/ogg">
                    <source src="political/musica.mp3" type="audio/mpeg">
                    Seu navegador não suporta áudio
                </audio>
                <br>
                <a href="<?php echo $this->url('download', array(), array('query'=>array('file'=>  base64_encode('musica.mp3'))));?>"><i class="fa fa-download"></i> Download</a>
            </div>
        </div>
    </div>
</div>
                
<div class="divider-space">
</div> 
<div class="divider-space">
</div>

<!--cta--> 
<div class="section4"> 
    <!--clock-->
    <div class="container text-center"> 
        <div class="row">
            <div class="col-md-6 col-md-push-3">
                <h3>Eleições começam em...</h3>
                <div id="defaultCountdown"></div>
            </div>
        </div>
    </div>
    <!--clock end-->
</div>
<!-- testimonials --> 
<?php
/*
<section class="wrapper100percent section2">
    <div class="container">
        <div class="row">
            <!-- carousel-->
            <div class="gallery js-flickity" data-flickity-options='{ 
                 "contain": true, 
                 "imagesLoaded": true, 
                 "autoPlay": true,
                 "pageDots": true,
                 "prevNextButtons": false,
                 "wrapAround": false
                 }'> 
                <!-- one testimonial -->  
                <div class="col-md-12 testimonials">
                    <div class="testimonialsinner">
                        <div class="testimonial">
                            <img src="political/images/team1.jpg" alt="">
                            <i class="fa fa-quote-left"></i>  
                            <h4> Suas iracundia his ea errem ridens nam an veniam equidem lorem. Suas iracundia his ea errem ridens nam an veniam equidem lorem. 
                            </h4>
                            <h6> Flávio Molinari
                            </h6>
                        </div>
                    </div> 
                </div> 
                <!-- one testimonial end -->  
                <!-- one testimonial -->  
                <div class="col-md-12 testimonials">
                    <div class="testimonialsinner">
                        <div class="testimonial">
                            <img src="political/images/team2.jpg" alt="">
                            <i class="fa fa-quote-left"></i>  
                            <h4> Suas iracundia his ea errem ridens nam an veniam equidem lorem. Suas iracundia his ea errem ridens nam an veniam equidem lorem. 
                            </h4>
                            <h6> Flávio Molinari
                            </h6>
                        </div>
                    </div> 
                </div> 
                <!-- one testimonial end -->  
                <!-- one testimonial -->  
                <div class="col-md-12 testimonials">
                    <div class="testimonialsinner">
                        <div class="testimonial">
                            <img src="political/images/team1.jpg" alt="">
                            <i class="fa fa-quote-left"></i>  
                            <h4> Suas iracundia his ea errem ridens nam an veniam equidem lorem. Suas iracundia his ea errem ridens nam an veniam equidem lorem. 
                            </h4>
                            <h6> Flávio Molinari
                            </h6>
                        </div>
                    </div> 
                </div> 
                <!-- one testimonial end --> 
            </div>
            <!-- carousel end -->
        </div>
    </div>
    <!-- container end -->	 
</section>
<!-- testimonials end -->  
*/
?>
<?php
                /*if($this->video){
                    $linkCategoria = $this->url('categoria/default', array('controller' => 'noticia', 'action' => 'listbycategoria', 'id' => $this->video->getCategoria()->getId(), 'titulo' => \Political\Controller\NoticiaController::titleLink($this->video->getCategoria()->getTitulo())));;
                ?>
                <div class="mainheadlinewrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mainheadline">
                                    <h2>Vídeos</h2>
                                    <h3>acompanhe nosso vídeos.
                                    </h3>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper100percent">
                    <div class="container">
                        <div class="row blogpost">      
                            <!-- articles --> 
                            <div class="col-md-12">
                                <article>
                                    <p><?php echo $this->video->getDescricao(); ?>
                                    <div class="text-right">
                                        <a href="<?php echo $linkCategoria; ?>" class="button1 firstcolor small">Leia mais</a>
                                    </div> 
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <?php
                }
                */
?>