<div class="mainheadlinewrapperpage">
    <div class="mainheadlinewrapperpage-inner" style="background: none">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="mainheadlinepage">
                        <h1>Projetos e metas</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li>
                            <a href="<?php echo $this->url('home');?>">Home</a>
                        </li>
                        <li class="active">Projetos e metas</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breakpoint for menu -->  
<div class="wrapper100percent">     
    <div class="menuswitch"> 
    </div> 
</div> 
<!-- breakpoint for menu end -->  
<div class="divider-space">
</div> 
<div class="divider-space">
</div> 
<div class="wrapper100percent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="divider-space">
                </div> 
                <div class="divider-space">
                </div>  
                <div class="divider-space">
                </div> 
                <div class="divider-space">
                </div> 
                <?php echo $this->texto->getTexto();?>       
            </div>  
        </div>
    </div>    
    <div class="divider-space">
    </div> 
    <div class="divider-space">
    </div>    
</div>