<?php
/*
 * @var $form \Zend\Form\Form
 */
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->setMessageOpenFormat('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ')
        ->setMessageCloseString('<button type="button" class="close" data-dismiss="alert">x</buttton></div>')
        ->render($form);

$form->setAttribute('action', $this->url($this->route, array('controller' => $this->controller, 'action' => 'edit', 'id'=>$this->id)));
$form->setAttribute('class', 'form-horizontal validate');
$form->prepare();

echo $this->form()->openTag($form); 

echo $this->formInput($form->get($formClass->getToken()));
$form->get('situacao')->setValue(1);
$form->get('valor')->setValue(number_format($form->get('valor')->getValue(), 2, ",", ""));
?>
<?php echo $this->partial('admin/saqueafiliado/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <?php echo $this->formInput($form->get('situacao')); ?>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('valor'));?>
                        <div class="col-sm-3">
                            <div class="input-group m-b">
                                <span class="input-group-addon">R$</span>
                                <?php echo $this->formInput($form->get('valor')); ?>
                                <?php echo $this->formElementErrors($form->get('valor'));?>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('data_pagamento'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('data_pagamento')); ?>
                            <?php echo $this->formElementErrors($form->get('data_pagamento'));?>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('descricao'));?>
                        <div class="col-sm-10"><?php echo $this->formTextArea($form->get('descricao')); ?></div>
                        <?php echo $this->formElementErrors($form->get('descricao'));?>
                    </div>
                    
                    
                    <div class="text-center">
                        <a href="<?php echo $this->url($this->route, array('controller'=>$this->controller));?>" class="btn btn-default waves-effect">Cancel</a>
                        <button type="submit" class="btn btn-primary waves-effect">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<?php echo $this->form()->closeTag(); ?>
<?php
$this->headScript()->captureStart();
?>
$(function(){
    $("#valor").TouchSpin({
        verticalbuttons: true,
        min: <?php echo $this->params['valorMinimo'];?>,
        max:<?php echo $this->params['saldo'];?>,
        initval: <?php echo $form->get('valor')->getValue();?>
    });
});
<?php $this->headScript()->captureEnd();?>
