<?php echo $this->partial('admin/saqueafiliado/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <?php 
            if(isset($this->saldo) && isset($this->valorMinimo)){
            ?>
            <div class="hpanel stats">
                <div class="panel-body h-100">
                    <div class="stats-title pull-left">
                        <h4></h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-cash fa-4x"></i>
                    </div>
                    <div class="clearfix"></div>
                    <div class="m-t-xs">
                        <div class="row">
                            <div class="col-xs-4">
                                <small class="stat-label">Saldo</small>
                                <h4>R$ <?php echo number_format($this->saldo,2,",", ".");?> </h4>
                            </div>
                            <div class="col-xs-4">
                                <small class="stat-label">Valor mínimo para saque</small>
                                <h4>R$ <?php echo number_format($this->valorMinimo,2,",", ".");?> </h4>
                            </div>
                            <div class="col-xs-4 text-right">
                                <?php
                                if($this->saldo >= $this->valorMinimo || (($this->saldo+$this->valorSacado)) >= $this->valorMaximo){
                                ?>
                                <a href="<?php echo $this->url('adm/default', array('controller'=>'saqueafiliado', 'action'=>'insert')); ?>" class="btn btn-success">
                                    <i class="fa fa-dollar"></i> Solicitar saque
                                </a>
                                <?php
                                }
                                ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php
            }
            ?>
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    &nbsp;
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" ui-jp="dataTable" class="table table-striped b-t b-b" style="width: 100%" ui-options="{
          sAjaxSource: '<?php echo $this->url('adm/default', array('controller'=>'saqueafiliado', 'action' => 'list')); ?>',
          aDataSort: [[1,'desc']]
        }">
                        <thead>
                        <tr>
                            <th></th>
                            <?php if(!isset($this->layout()->afiliado)) {?><th style="width:15%">Nome</th> <?php }?>
                            <th style="width:15%">Data Solicitado</th>
                            <th style="width:15%">Data Pagamento</th>
                            <th style="width:30%">Obs</th>
                            <th style="width:15%">Valor</th>
                            <th style="width:15%">Situação</th>
                            <?php
                            if(!isset($this->layout()->afiliado)){
                            ?>
                            <th style="width:10%"></th>
                            <?php
                            }
                            ?>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>