<?php
/*
 * @var $form \Zend\Form\Form
 */
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->setMessageOpenFormat('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ')
        ->setMessageCloseString('<button type="button" class="close" data-dismiss="alert">x</buttton></div>')
        ->render($form);

$form->setAttribute('action', $this->url($this->route, array('controller' => $this->controller, 'action' => 'insert')));
$form->setAttribute('class', 'form-horizontal validate');
$form->setAttribute('envtype', 'multipart/form-data');
$form->prepare();

echo $this->form()->openTag($form); 

echo $this->formInput($form->get($formClass->getToken()));

?>
<?php echo $this->partial('admin/saqueafiliado/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('valor'));?>
                        <div class="col-sm-5">
                            <div class="input-group m-b">
                                <span class="input-group-addon">R$</span>
                                <?php echo $this->formInput($form->get('valor')); ?>
                                <span class="input-group-addon">.00</span>
                                <?php echo $this->formElementErrors($form->get('valor'));?>
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <a href="<?php echo $this->url($this->route, array('controller'=>$this->controller));?>" class="btn btn-default waves-effect">Cancel</a>
                        <button type="submit" class="btn btn-primary waves-effect">Solicitar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<?php echo $this->form()->closeTag(); ?>
<?php
$this->headScript()->captureStart();
?>
$(function(){
    $("#valor").TouchSpin({
        verticalbuttons: false,
        decimals: 0,
        forcestepdivisibility: 'floor',
        initval: <?php echo $this->params['valorMinimo'];?>,
        min: <?php if ((($this->params['saldo']+$this->params['valorSacado'])) >= $this->params['valorMaximo']) echo $this->params['saldo']; else echo $this->params['valorMinimo'];?>,
        max:<?php echo floor($this->params['saldo']);?>
    });
});
<?php $this->headScript()->captureEnd();?>