<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Pirez</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="HandheldFriendly" content="true"/>
    <link rel="stylesheet" href="blog/assets/css/master.css"/>
    <link rel="stylesheet" href="blog/assets/css/custom.css"/>
    <!-- SWITCHER-->
    <link href="blog/assets/plugins/switcher/css/switcher.css" rel="stylesheet" id="switcher-css" media="all"/>
    <link href="blog/assets/plugins/switcher/css/color1.css" rel="alternate stylesheet" title="color1" media="all"/>
    <link href="blog/assets/plugins/switcher/css/color2.css" rel="alternate stylesheet" title="color2" media="all"/>
    <link href="blog/assets/plugins/switcher/css/color3.css" rel="alternate stylesheet" title="color3" media="all"/>
    <link href="blog/assets/plugins/switcher/css/color4.css" rel="alternate stylesheet" title="color4" media="all"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
</head>
<body>
<!-- Loader-->
<div id="page-preloader"><span class="spinner"></span></div>
<!-- Loader end-->

<!-- Mobile Trigger-->
<div class="mobile-menu">
    <br><br>
    <button class="trigger   js-toggle-mobile-slidebar    toggle-menu-button " style="background: #3b4097;"> <span class="toggle-menu-button-icon"> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> </span> </button>
<!--    <a href="#fakelink" class="search-open"><i class="icon fa fa-search"></i></a>-->
</div>
<!-- Mobile Menu end-->

<!-- ========================== -->
<!-- SLIDE MENU  -->
<!-- ========================== -->
<div data-off-canvas="mobile-slidebar right overlay">
    <ul class="nav navbar-nav">
        <li class="dropdown"><a href="#">Home</a></li>
        <li><a href="#">Sobre Flávio Molinari</a></li>
        <li><a href="#">Contato</a></li>
    </ul>
</div>
<div data-header-top="200" class="layout-theme animated-css">

    <!-- Start Switcher-->
<!--    <div class="switcher-wrapper">-->
<!--        <div class="demo_changer">-->
<!--            <div class="demo-icon color-primary"><i class="fa fa-cog fa-spin fa-2x"></i></div>-->
<!--            <div class="form_holder">-->
<!--                <div class="predefined_styles">-->
<!--                    <div class="skin-theme-switcher">-->
<!--                        <h4>Color</h4>-->
<!--                        <a href="javascript:void(0);" data-switchcolor="color1" style="background-color:#FFAC3A;" class="styleswitch"></a><a href="javascript:void(0);" data-switchcolor="color2" style="background-color:#0097c2;" class="styleswitch"></a><a href="javascript:void(0);" data-switchcolor="color3" style="background-color:#5062a9;" class="styleswitch"></a><a href="javascript:void(0);" data-switchcolor="color4" style="background-color:#333;" class="styleswitch"></a> </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <!-- ========================== -->
    <!-- SEARCH MODAL  -->
    <!-- ========================== -->

    <div class="header-search">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <div class="navbar-search">
                        <form class="search-global">
                            <input type="text" placeholder="Type to search" autocomplete="off" name="s" value="" class="search-global__input">
                            <button class="search-global__btn"><i class="icon fa fa-search"></i></button>
                            <div class="search-global__note">Begin typing your search above and press return to search.</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="search-close close"><i class="fa fa-times"></i></button>
    </div>

    <div data-canvas="container" class=" logo_line">
        <header class="header header-3 header-3_mod-a">
            <nav class="navbar yamm">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="nav navbar-nav">
                                <li class="dropdown"><a href="#">Home</a></li>
                                <li><a href="#">Sobre Flávio Molinari</a></li>
                                <li><a href="#">Contato</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- end nav-->
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="">
                            <a href="#" class="logo"><img src="blog/img/logo.jpg" alt="Logo" class="logo__img img-responsive"/></a>
                        </div>
                        <?php
                        /*
                        ?>
                        <div class="header-link">
                            <ul class="social-list">
                                <li><a href="http://html.templines.com/pirez/twitter.com" class="social-list__item_link"><i class="icon fa fa-twitter"></i></a></li>
                                <li><a href="http://html.templines.com/pirez/facebook.com" class="social-list__item_link"><i class="icon fa fa-facebook"></i></a></li>
                                <li><a href="http://html.templines.com/pirez/linkedin.com" class="social-list__item_link"><i class="icon fa fa-linkedin"></i></a></li>
                                <li><a href="http://html.templines.com/pirez/behance.com" class="social-list__item_link"><i class="icon fa fa-behance"></i></a></li>
                                <li><a href="http://html.templines.com/pirez/rss.com" class="social-list__item_link"><i class="icon fa fa-rss"></i></a></li>
                                <li><a href="http://html.templines.com/pirez/plus.google.com" class="social-list__item_link"><i class="icon fa fa-google-plus"></i></a></li>
                                <li><a href="http://html.templines.com/pirez/mail.com" class="social-list__item_link"><i class="icon fa fa-envelope"></i></a></li>
                            </ul>
                            <a href="#fakelink" class="search-open"><i class="icon fa fa-search"></i></a> </div>
                        */
                        ?>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header-->

        <div class="bg-grey pruning">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <aside class="sidebar">
<!--                            <section class="widget">-->
<!--                                <h3 class="widget-title ui-title-block border-left border-left_primary">connect socially</h3>-->
<!--                                <div class="widget-content">-->
<!--                                    <ul class="social-list">-->
<!--                                        <li><a href="http://html.templines.com/pirez/twitter.com" class="social-list__item_link"><i class="icon fa fa-twitter"></i></a></li>-->
<!--                                        <li><a href="http://html.templines.com/pirez/facebook.com" class="social-list__item_link"><i class="icon fa fa-facebook"></i></a></li>-->
<!--                                        <li><a href="http://html.templines.com/pirez/linkedin.com" class="social-list__item_link"><i class="icon fa fa-linkedin"></i></a></li>-->
<!--                                        <li><a href="http://html.templines.com/pirez/behance.com" class="social-list__item_link"><i class="icon fa fa-behance"></i></a></li>-->
<!--                                        <li><a href="http://html.templines.com/pirez/rss.com" class="social-list__item_link"><i class="icon fa fa-rss"></i></a></li>-->
<!--                                        <li><a href="http://html.templines.com/pirez/plus.google.com" class="social-list__item_link"><i class="icon fa fa-google-plus"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </section>-->
                            <!-- end widget-->

<!--                            <section class="widget widget-form">-->
<!--                                <h3 class="widget-title ui-title-block border-left border-left_primary">subscribe now</h3>-->
<!--                                <div class="widget-content">-->
<!--                                    <div class="widget-form__info">Zorem ipsum dolor sit amet elit sed eiusmod tempor.</div>-->
<!--                                    <form action="#" method="post" class="ui-form ui-form-2">-->
<!--                                        <input type="email" placeholder="Your email here" class="form-control">-->
<!--                                        <button class="ui-form__btn btn btn-info btn-effect btn-block">submit</button>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </section>-->
                            <!-- end widget-->

                            <section class="widget">
                                <h3 class="widget-title ui-title-block border-left border-left_primary">Vídeos</h3>
                                <div class="widget-content">
                                    <div class="post-widget post-widget_mod-a clearfix">
                                        <div class="post-widget__media"><a href="http://html.templines.com/pirez/#"><img src="blog/assets/media/content/posts/262x200/1.jpg" alt="foto" class="img-responsive"></a></div>
                                        <a href="http://html.templines.com/pirez/#" class="post-widget__title">Lorem ipsum dolor sit amet elit sed eiusmod</a>
                                        <time datetime="2012-10-27 15:20" class="post-widget__date">ApR 30,2016</time>
                                    </div>
                                    <div class="post-widget post-widget_mod-a clearfix">
                                        <div class="post-widget__media"><a href="http://html.templines.com/pirez/#"><img src="blog/assets/media/content/posts/262x200/2.jpg" alt="foto" class="img-responsive"></a></div>
                                        <a href="http://html.templines.com/pirez/#" class="post-widget__title">Magna aliqua enim adun minim veniam quis nostrud</a>
                                        <time datetime="2012-10-27 15:20" class="post-widget__date">ApR 30,2016</time>
                                    </div>
                                    <div class="post-widget post-widget_mod-a clearfix">
                                        <div class="post-widget__media"><a href="http://html.templines.com/pirez/#"><img src="blog/assets/media/content/posts/262x200/3.jpg" alt="foto" class="img-responsive"></a></div>
                                        <a href="http://html.templines.com/pirez/#" class="post-widget__title">Exercitation ullamco laboris nisi aliquip ex ea sed</a>
                                        <time datetime="2012-10-27 15:20" class="post-widget__date">ApR 30,2016</time>
                                    </div>
                                </div>
                            </section>
                            <!-- end widget-->

                            <section class="widget">
                                <h3 class="widget-title ui-title-block border-left border-left_primary">categories</h3>
                                <div class="widget-content">
                                    <ul class="list-widget list-unstyled">
                                        <li class="list-widget__item"><a href="#" class="list-widget__link">Photography<span class="badge pull-right">(80)</span></a></li>
                                        <li class="list-widget__item"><a href="#" class="list-widget__link">Business<span class="badge pull-right">(74)</span></a></li>
                                        <li class="list-widget__item"><a href="#" class="list-widget__link">Ecommerce<span class="badge pull-right">(26)</span></a></li>
                                        <li class="list-widget__item"><a href="#" class="list-widget__link">Fashion<span class="badge pull-right">(31)</span></a></li>
                                    </ul>
                                </div>
                            </section>
                            <!-- end widget-->

                        </aside>
                        <!-- end sidebar-->

                    </div>
                    <div class="col-md-9">
                        <div class="main-content main-content_mod-b main-content_mod-d">
                            <div class="post-group post-group_right post-group_mod-a">
                                <article class="post post-1 post-1_mod-a clearfix">
                                    <div class="entry-media"><a href="blog/assets/media/content/posts/780x420/3.jpg" class="zoom-images"><img src="blog/assets/media/content/posts/780x420/3.jpg" alt="Foto" class="img-responsive"/></a>
                                        <div class="entry-meta"><span class="entry-meta__item"><a href="#" class="entry-meta__link">
                      <time datetime="2012-10-27 15:20">ApR 30,2016</time>
                      </a></span></div>
                                    </div>
                                    <div class="entry-category">
                                        <div class="entry-category__item">inspiration</div>
                                        <div class="entry-category__item">business</div>
                                    </div>
                                    <div class="entry-main">
                                        <div class="entry-header">
                                            <h2 class="entry-title entry-title_spacing ui-title-inner">Neeo Can be a Competitor to WhatsApp</h2>
                                        </div>
                                        <div class="entry-content">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco labor nisi ut aliquip exea commodo consequat duis aute irudre dolor in elit sed uta labore dolore reprehenderit.</p>
                                        </div>
                                        <div class="entry-footer"><a href="#" class="btn btn-primary btn-sm btn-effect">leia mais</a></div>
                                    </div>
                                </article>
                                <!-- end post-->

                                <div class="post-container-2 clearfix">
                                    <article class="post post-1 post-1_mod-f post-1_2-col post-1_narrow clearfix">
                                        <div class="entry-media"><a href="blog/assets/media/content/posts/360x300/3.jpg" class="zoom-images"><img src="blog/assets/media/content/posts/360x300/3.jpg" alt="Foto" class="img-responsive"/></a>
                                            <div class="entry-meta"><span class="entry-meta__item"><a href="#" class="entry-meta__link">
                        <time datetime="2012-10-27 15:20">ApR 30,2016</time>
                        </a></span></div>
                                        </div>
                                        <div class="entry-main">
                                            <div class="entry-header">
                                                <h2 class="entry-title ui-title-inner">Breaking Golden Rule of Politics</h2>
                                                <div class="entry-category">event pics</div>
                                            </div>
                                            <div class="entry-content">
                                                <p>Lorem ipsum dolor sit amt adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua minim veniam.</p>
                                            </div>
                                            <div class="entry-footer"><a href="#" class="btn btn-default btn-sm btn-effect">leia mais</a></div>
                                        </div>
                                    </article>
                                    <!-- end post-->

                                    <article class="post post-1 post-1_mod-f post-1_2-col post-1_narrow clearfix">
                                        <div class="entry-media"><a href="blog/assets/media/content/posts/360x300/2.jpg" class="zoom-images"><img src="blog/assets/media/content/posts/360x300/2.jpg" alt="Foto" class="img-responsive"/></a>
                                            <div class="entry-meta"><span class="entry-meta__item"><a href="#" class="entry-meta__link">
                        <time datetime="2012-10-27 15:20">ApR 30,2016</time>
                        </a></span></div>
                                        </div>
                                        <div class="entry-main">
                                            <div class="entry-header">
                                                <h2 class="entry-title ui-title-inner">Repair Home Appliance With Technician</h2>
                                                <div class="entry-category">old is gold</div>
                                            </div>
                                            <div class="entry-content">
                                                <p>Lorem ipsum dolor sit amt adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua minim veniam.</p>
                                            </div>
                                            <div class="entry-footer"><a href="#" class="btn btn-default btn-sm btn-effect">leia mais</a></div>
                                        </div>
                                    </article>
                                    <!-- end post-->

                                    <article class="post post-1 post-1_mod-f post-1_2-col post-1_narrow clearfix">
                                        <div class="entry-media"><a href="blog/assets/media/content/posts/360x300/16.jpg" class="zoom-images"><img src="blog/assets/media/content/posts/360x300/16.jpg" alt="Foto" class="img-responsive"/></a>
                                            <div class="entry-meta"><span class="entry-meta__item"><a href="#" class="entry-meta__link">
                        <time datetime="2012-10-27 15:20">ApR 30,2016</time>
                        </a></span></div>
                                        </div>
                                        <div class="entry-main">
                                            <div class="entry-header">
                                                <h2 class="entry-title ui-title-inner">Pinhole Security Camera vs Dome</h2>
                                                <div class="entry-category">reviews</div>
                                            </div>
                                            <div class="entry-content">
                                                <p>Lorem ipsum dolor sit amt adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua minim veniam.</p>
                                            </div>
                                            <div class="entry-footer"><a href="#" class="btn btn-default btn-sm btn-effect">leia mais</a></div>
                                        </div>
                                    </article>
                                    <!-- end post-->

                                    <article class="post post-1 post-1_mod-f post-1_2-col post-1_narrow clearfix">
                                        <div class="entry-media"><a href="blog/assets/media/content/posts/360x300/6.jpg" class="zoom-images"><img src="blog/assets/media/content/posts/360x300/6.jpg" alt="Foto" class="img-responsive"/></a>
                                            <div class="entry-meta"><span class="entry-meta__item"><a href="#" class="entry-meta__link">
                        <time datetime="2012-10-27 15:20">ApR 30,2016</time>
                        </a></span></div>
                                        </div>
                                        <div class="entry-main">
                                            <div class="entry-header">
                                                <h2 class="entry-title ui-title-inner">Various Types of Mobile Applications</h2>
                                                <div class="entry-category">technology</div>
                                            </div>
                                            <div class="entry-content">
                                                <p>Lorem ipsum dolor sit amt adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua minim veniam.</p>
                                            </div>
                                            <div class="entry-footer"><a href="#" class="btn btn-default btn-sm btn-effect">leia mais</a></div>
                                        </div>
                                    </article>
                                    <!-- end post-->

                                    <article class="post post-1 post-1_mod-f post-1_2-col post-1_narrow clearfix">
                                        <div class="entry-media"><a href="blog/assets/media/content/posts/360x300/15.jpg" class="zoom-images"><img src="blog/assets/media/content/posts/360x300/15.jpg" alt="Foto" class="img-responsive"/></a>
                                            <div class="entry-meta"><span class="entry-meta__item"><a href="#" class="entry-meta__link">
                        <time datetime="2012-10-27 15:20">ApR 30,2016</time>
                        </a></span></div>
                                        </div>
                                        <div class="entry-main">
                                            <div class="entry-header">
                                                <h2 class="entry-title ui-title-inner">China moves to limit Coal Glut</h2>
                                                <div class="entry-category">trending news</div>
                                            </div>
                                            <div class="entry-content">
                                                <p>Lorem ipsum dolor sit amt adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua minim veniam.</p>
                                            </div>
                                            <div class="entry-footer"><a href="#" class="btn btn-default btn-sm btn-effect">leia mais</a></div>
                                        </div>
                                    </article>
                                    <!-- end post-->

                                    <article class="post post-1 post-1_mod-f post-1_2-col post-1_narrow clearfix">
                                        <div class="entry-media"><a href="blog/assets/media/content/posts/360x300/8.jpg" class="zoom-images"><img src="blog/assets/media/content/posts/360x300/8.jpg" alt="Foto" class="img-responsive"/></a>
                                            <div class="entry-meta"><span class="entry-meta__item"><a href="#" class="entry-meta__link">
                        <time datetime="2012-10-27 15:20">ApR 30,2016</time>
                        </a></span></div>
                                        </div>
                                        <div class="entry-main">
                                            <div class="entry-header">
                                                <h2 class="entry-title ui-title-inner">Alibaba and Tencent in new year Battle</h2>
                                                <div class="entry-category">business</div>
                                            </div>
                                            <div class="entry-content">
                                                <p>Lorem ipsum dolor sit amt adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua minim veniam.</p>
                                            </div>
                                            <div class="entry-footer"><a href="#" class="btn btn-default btn-sm btn-effect">leia mais</a></div>
                                        </div>
                                    </article>
                                    <!-- end post-->

                                    <article class="post post-1 post-1_mod-f post-1_2-col post-1_narrow clearfix">
                                        <div class="entry-media"><a href="blog/assets/media/content/posts/360x300/11.jpg" class="zoom-images"><img src="blog/assets/media/content/posts/360x300/11.jpg" alt="Foto" class="img-responsive"/></a>
                                            <div class="entry-meta"><span class="entry-meta__item"><a href="#" class="entry-meta__link">
                        <time datetime="2012-10-27 15:20">ApR 30,2016</time>
                        </a></span></div>
                                        </div>
                                        <div class="entry-main">
                                            <div class="entry-header">
                                                <h2 class="entry-title ui-title-inner">LED Warning Lights – How Useful</h2>
                                                <div class="entry-category">fashion</div>
                                            </div>
                                            <div class="entry-content">
                                                <p>Lorem ipsum dolor sit amt adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua minim veniam.</p>
                                            </div>
                                            <div class="entry-footer"><a href="#" class="btn btn-default btn-sm btn-effect">leia mais</a></div>
                                        </div>
                                    </article>
                                    <!-- end post-->

                                    <article class="post post-1 post-1_mod-f post-1_2-col post-1_narrow clearfix">
                                        <div class="entry-media"><a href="blog/assets/media/content/posts/360x300/12.jpg" class="zoom-images"><img src="blog/assets/media/content/posts/360x300/12.jpg" alt="Foto" class="img-responsive"/></a>
                                            <div class="entry-meta"><span class="entry-meta__item"><a href="#" class="entry-meta__link">
                        <time datetime="2012-10-27 15:20">ApR 30,2016</time>
                        </a></span></div>
                                        </div>
                                        <div class="entry-main">
                                            <div class="entry-header">
                                                <h2 class="entry-title ui-title-inner">Understanding What Academic</h2>
                                                <div class="entry-category">photography</div>
                                            </div>
                                            <div class="entry-content">
                                                <p>Lorem ipsum dolor sit amt adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua minim veniam.</p>
                                            </div>
                                            <div class="entry-footer"><a href="#" class="btn btn-default btn-sm btn-effect">leia mais</a></div>
                                        </div>
                                    </article>
                                    <!-- end post-->

                                    <article class="post post-1 post-1_mod-f post-1_2-col post-1_narrow clearfix">
                                        <div class="entry-media"><a href="blog/assets/media/content/posts/360x300/9.jpg" class="zoom-images"><img src="blog/assets/media/content/posts/360x300/9.jpg" alt="Foto" class="img-responsive"/></a>
                                            <div class="entry-meta"><span class="entry-meta__item"><a href="#" class="entry-meta__link">
                        <time datetime="2012-10-27 15:20">ApR 30,2016</time>
                        </a></span></div>
                                        </div>
                                        <div class="entry-main">
                                            <div class="entry-header">
                                                <h2 class="entry-title ui-title-inner">6 Ways of Using Solar Panels</h2>
                                                <div class="entry-category">tips &amp; tricks</div>
                                            </div>
                                            <div class="entry-content">
                                                <p>Lorem ipsum dolor sit amt adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua minim veniam.</p>
                                            </div>
                                            <div class="entry-footer"><a href="#" class="btn btn-default btn-sm btn-effect">leia mais</a></div>
                                        </div>
                                    </article>
                                    <!-- end post-->

                                    <article class="post post-1 post-1_mod-f post-1_2-col post-1_narrow clearfix">
                                        <div class="entry-media"><a href="blog/assets/media/content/posts/360x300/17.jpg" class="zoom-images"><img src="blog/assets/media/content/posts/360x300/17.jpg" alt="Foto" class="img-responsive"/></a>
                                            <div class="entry-meta"><span class="entry-meta__item"><a href="#" class="entry-meta__link">
                        <time datetime="2012-10-27 15:20">ApR 30,2016</time>
                        </a></span></div>
                                        </div>
                                        <div class="entry-main">
                                            <div class="entry-header">
                                                <h2 class="entry-title ui-title-inner">Ease your shop operations with Us</h2>
                                                <div class="entry-category">shopping</div>
                                            </div>
                                            <div class="entry-content">
                                                <p>Lorem ipsum dolor sit amt adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua minim veniam.</p>
                                            </div>
                                            <div class="entry-footer"><a href="#" class="btn btn-default btn-sm btn-effect">leia mais</a></div>
                                        </div>
                                    </article>
                                    <!-- end post-->

                                </div>
                            </div>
                            <ul class="pager">
                                <li><a href="#"><i class="icon fa fa-angle-double-left"></i>older posts</a></li>
                                <li><a href="#">newer posts<i class="icon fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- end main-content-->
                    </div>
                </div>
            </div>
        </div>

        <!-- end social-carousel-->
        <footer class="footer footer_mod-a">
            <div class="footer-main">
                <div class="container">

                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="link-top icon fa fa-angle-up"></div>
                            <ul class="footer-nav list-inline">
                                <li class="footer-nav__item"><a href="#" class="footer-nav__link">home</a></li>
                                <li class="footer-nav__item"><a href="#" class="footer-nav__link">sobre flávio molinari</a></li>
                                <li class="footer-nav__item"><a href="#" class="footer-nav__link">contato</a></li>
                            </ul>
                            <div class="copyright">Created & Developed by<a href="http://www.mauricioschmitz.com.br" class="copyright__link"> Mauricio Schmitz</a> © 2017</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer-->

    </div>
    <!-- canvas-->

</div>
<!-- end layout-theme-->

<script src="blog/assets/js/main.js"></script>
<script src="blog/assets/js/separate-js/custom.js"></script>
<script src="blog/assets/plugins/bootstrap/bootstrap.min.js"></script>
<script src="blog/assets/plugins/slider-pro/jquery.sliderPro.min.js"></script>
<script src="blog/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="blog/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="blog/assets/plugins/bootstrap-select/bootstrap-select.js"></script>
<script src="blog/assets/plugins/doubletaptogo.js"></script>
<script src="blog/assets/plugins/waypoints.min.js"></script>
<script src="blog/assets/plugins/flowplayer/flowplayer.min.js"></script>
<script src="blog/assets/plugins/classie.js"></script>
<script src="blog/assets/plugins/scrollreveal/scrollreveal.js"></script>
<script src="blog/assets/plugins/switcher/js/dmss.js"></script>
<script src="blog/assets/plugins/header/slidebar.js" type="text/javascript"></script>
<script src="blog/assets/plugins/header/header.js" type="text/javascript"></script>
</body>
</html>