<section>
    <div class="container firstDivContent">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2><span class="text-danger">Cadastro Finalizado! </span></h2>
            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="text-center">
                        <p>Seu cadastro foi realizado com sucesso!</p>
                        <p>para ativar sua conta você deve realizar o depósito do valor de seu plano <span class="text-danger">R$ <?php echo number_format($this->afiliado->getValorInvestimento(),2,',', '.');?></span></p>
                        <p>Você pode optar por uma das seguintes instituições financeiras.</p>
                        <p>Após pagamento acesse sua conta e confirme o depósito.</p>
                        <div class="">
                            <?php echo $this->texto->getTexto();?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>