<?php
/*
 * @var $form \Zend\Form\Form
 */
$form = $this->form;
$indicacao = $this->indicacao;

$formClass = $this->form;
$this->formElementErrors()
        ->setMessageOpenFormat('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ')
        ->setMessageCloseString('<button type="button" class="close" data-dismiss="alert">x</buttton></div>')
        ->render($form);

$form->setAttribute('action', $this->url($this->route, array('controller' => $this->controller, 'action' => 'insert')));
$form->setAttribute('class', 'form-horizontal validate');
$form->setAttribute('envtype', 'multipart/form-data');
$form->prepare();

echo $this->form()->openTag($form); 

echo $this->formInput($form->get($formClass->getToken()));

?>
<section class="bg-light">
    <div class="container firstDivContent">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2><span class="text-danger">Cadastre-se! </span>faça parte de nossa equipe.</h2>
            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body small">
                        <div class="text-center m-b-md" id="wizardControl">
                            <a class="btn btn-primary disabled" href="#step1" data-toggle="tab" id="btn-step1">Passo 1 - Dados pessoais</a>
                            <a class="btn btn-default disabled" href="#step2" data-toggle="tab" id="btn-step2">Passo 2 - Dados de acesso</a>
                            <a class="btn btn-default disabled" href="#step3" data-toggle="tab" id="btn-step3">Passo 3 - Plano</a>
                            <a class="btn btn-default disabled" href="#step4" data-toggle="tab" id="btn-step4">Passo 4 - Finalizar</a>
                        </div>

                        <div class="tab-content">
                            <br>
                            <div id="step1" class="p-m tab-pane active">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <div class="row">
<!--                                            <div class="form-group">
                                                <?php // echo $this->formLabel($form->get('indicacao'));?>
                                                <div class="col-sm-4">
                                                    <?php // echo $this->formInput($form->get('indicacao')); ?>
                                                    <?php // echo $this->formElementErrors($form->get('indicacao'));?>
                                                </div>
                                                <div class="col-sm-6 nomeIndicado"></div>
                                            </div>-->
                                            <?php 
                                            if($indicacao){
                                            ?>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Indicação</label>
                                                <div class="col-sm-4">
                                                    <input type="text" value="<?php echo $indicacao['nome'];?>" name="indicado" id="indicado" class="form-control readonly" readonly="readonly">
                                                </div>
                                                <div class="col-sm-6 nomeIndicado"></div>
                                            </div>
                                            <?php
                                            }
                                            ?>
                                            <div class="form-group">
                                                <?php echo $this->formLabel($form->get('nome'));?>
                                                <div class="col-sm-10">
                                                    <?php echo $this->formInput($form->get('nome')); ?>
                                                    <?php echo $this->formElementErrors($form->get('nome'));?>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <?php echo $this->formLabel($form->get('cpf'));?>
                                                <div class="col-sm-4">
                                                    <?php echo $this->formInput($form->get('cpf')); ?>
                                                    <?php echo $this->formElementErrors($form->get('cpf'));?>
                                                </div>

                                                <?php echo $this->formLabel($form->get('rg'));?>
                                                <div class="col-sm-4">
                                                    <?php echo $this->formInput($form->get('rg')); ?>
                                                    <?php echo $this->formElementErrors($form->get('rg'));?>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <?php echo $this->formLabel($form->get('telefone'));?>
                                                <div class="col-sm-4">
                                                    <?php echo $this->formInput($form->get('telefone')); ?>
                                                    <?php echo $this->formElementErrors($form->get('telefone'));?>
                                                </div>

                                                <?php echo $this->formLabel($form->get('celular'));?>
                                                <div class="col-sm-4">
                                                    <?php echo $this->formInput($form->get('celular')); ?>
                                                    <?php echo $this->formElementErrors($form->get('celular'));?>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <?php echo $this->formLabel($form->get('data_nascimento'));?>
                                                <div class="col-sm-2">
                                                    <?php echo $this->formInput($form->get('data_nascimento')); ?>
                                                    <?php echo $this->formElementErrors($form->get('data_nascimento'));?>
                                                </div>

                                                <?php echo $this->formLabel($form->get('sexo'));?>
                                                <div class="col-sm-2">
                                                    <?php echo $this->formSelect($form->get('sexo')); ?>
                                                    <?php echo $this->formElementErrors($form->get('sexo'));?>
                                                </div>

                                                <?php echo $this->formLabel($form->get('estado_civil'));?>
                                                <div class="col-sm-2">
                                                    <?php echo $this->formSelect($form->get('estado_civil')); ?>
                                                    <?php echo $this->formElementErrors($form->get('estado_civil'));?>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <?php echo $this->formLabel($form->get('nome_pai'));?>
                                                <div class="col-sm-4">
                                                    <?php echo $this->formInput($form->get('nome_pai')); ?>
                                                    <?php echo $this->formElementErrors($form->get('nome_pai'));?>
                                                </div>

                                                <?php echo $this->formLabel($form->get('nome_mae'));?>
                                                <div class="col-sm-4">
                                                    <?php echo $this->formInput($form->get('nome_mae')); ?>
                                                    <?php echo $this->formElementErrors($form->get('nome_mae'));?>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <?php echo $this->formLabel($form->get('cep'));?>
                                                <div class="col-sm-4">
                                                    <?php echo $this->formInput($form->get('cep')); ?>
                                                    <?php echo $this->formElementErrors($form->get('cep'));?>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <?php echo $this->formLabel($form->get('uf'));?>
                                                <div class="col-sm-2">
                                                    <?php echo $this->formInput($form->get('uf')); ?>
                                                    <?php echo $this->formElementErrors($form->get('uf'));?>
                                                </div>

                                                <?php echo $this->formLabel($form->get('cidade'));?>
                                                <div class="col-sm-6">
                                                    <?php echo $this->formInput($form->get('cidade')); ?>
                                                    <?php echo $this->formElementErrors($form->get('cidade'));?>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <?php echo $this->formLabel($form->get('endereco'));?>
                                                <div class="col-sm-6">
                                                    <?php echo $this->formInput($form->get('endereco')); ?>
                                                    <?php echo $this->formElementErrors($form->get('endereco'));?>
                                                </div>

                                                <?php echo $this->formLabel($form->get('numero'));?>
                                                <div class="col-sm-2">
                                                    <?php echo $this->formInput($form->get('numero')); ?>
                                                    <?php echo $this->formElementErrors($form->get('numero'));?>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <?php echo $this->formLabel($form->get('bairro'));?>
                                                <div class="col-sm-4">
                                                    <?php echo $this->formInput($form->get('bairro')); ?>
                                                    <?php echo $this->formElementErrors($form->get('bairro'));?>
                                                </div>

                                                <?php echo $this->formLabel($form->get('complemento'));?>
                                                <div class="col-sm-4">
                                                    <?php echo $this->formInput($form->get('complemento')); ?>
                                                    <?php echo $this->formElementErrors($form->get('complemento'));?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center m-t-xs">
                                    <a class="btn btn-success next" href="#">Continuar</a>
                                </div>

                            </div>

                            <div id="step2" class="p-m tab-pane">

                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <div class="row">
                                            <div class="form-group">
                                                <?php echo $this->formLabel($form->get('email'));?>
                                                <div class="col-sm-10">
                                                    <?php echo $this->formInput($form->get('email')); ?>
                                                    <?php echo $this->formElementErrors($form->get('email'));?>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <?php echo $this->formLabel($form->get('password'));?>
                                                <div class="col-sm-4">
                                                    <?php echo $this->formInput($form->get('password')); ?>
                                                    <?php echo $this->formElementErrors($form->get('password'));?>
                                                </div>

                                                <?php echo $this->formLabel($form->get('password_confirm'));?>
                                                <div class="col-sm-4">
                                                    <?php echo $this->formInput($form->get('password_confirm')); ?>
                                                    <?php echo $this->formElementErrors($form->get('password_confirm'));?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center m-t-xs">
                                    <br><br>
                                    <a class="btn btn-default prev" href="#">Voltar</a>
                                    <a class="btn btn-success next" href="#">Continuar</a>
                                </div>

                            </div>
                            <div id="step3" class="tab-pane">
                                <div class="row text-center m-t-lg m-b-lg">
                                    <div class="col-lg-12">
                                        <?php echo $this->partial('partial/planoslist');?>
                                    </div>
                                </div>
                                <div class="text-center m-t-xs">
                                    <br><br>
                                    <a class="btn btn-default prev" href="#">Voltar</a>
                                    <a class="btn btn-success next" href="#">Continuar</a>
                                </div>
                            </div>

                            <div id="step4" class="tab-pane">
                                <div class="row text-center m-t-lg m-b-lg">
                                    <div class="col-lg-12">
                                        <i class="pe-7s-check fa-5x text-muted"></i>
                                        <p class="small m-t-md">
                                            <strong>Termos de uso</strong> Por favor leia e aceito nossos termos de uso. <a href="#" data-toggle="modal" data-target="#myModal5">Clique aqui</a>
                                        </p>
                                    </div>
                                    <div class="checkbox col-lg-12">
                                        <div class="checkbox"><label> <input type="checkbox" value="1" name="approve" title="Você deve ler e concordar com os termos"> Eu li e concordo </label></div>
                                    </div>
                                </div>
                                <div class="text-center m-t-xs">
                                    <br>
                                    <a class="btn btn-default prev" href="#">Voltar</a>
                                    <button type="submit" class="btn btn-success submitWizard">Enviar</button>
                                </div>
                            </div>
                        </div>

                        <div class="m-t-md text-center">
                            <p>
                                Atenção, preencha corretamente todos os dados solicitados para que possamos validar seu cadastro.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade hmodal-info" id="myModal5" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 class="modal-title">Contrato</h4>
                    <small class="font-bold">CONTRATO DE ADESÃO DE AJUDA MUTUA ENTRE PESSOAS E ATIVIDADE DE TRABALHO GRUPO TOP10</small>
                </div>
                <div class="modal-body">
                    <?php echo $this->params['texto']->getTexto();?>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</section>
<?php echo $this->form()->closeTag(); ?>
<?php
$this->headScript()->captureStart();
?>
    $(function(){
        
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $('a[data-toggle="tab"]').removeClass('btn-primary');
            $('a[data-toggle="tab"]').addClass('btn-default');
            $(this).removeClass('btn-default');
            $(this).addClass('btn-primary');
        })

        $('.next').click(function(){
            var nextId = $(this).parents('.tab-pane').next().attr("id");
            if($("form.validate").valid()){
                $('#btn-'+nextId).click();
            }
        })

        $('.prev').click(function(){
            var prevId = $(this).parents('.tab-pane').prev().attr("id");
            $('#btn-'+prevId).click();
        })

        $('.submitWizard').click(function(){
            if($("form.validate").validate()){
                $(this).submit();
            } 
        });
    });
<?php $this->headScript()->captureEnd();?>