<!--==============================content================================-->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-0"></div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="section page_404">
                    <h2 class="title_404">404</h2>
                    <h2 class="section_title section_title_big">Página não encontrada!</h2>
                    <p>Lamentamos , mas não podemos encontrar a página que você estava procurando . Provavelmente alguma coisa que fizemos de errado , mas agora sabemos sobre isso e vamos tentar corrigir . Enquanto isso , tente uma destas opções :</p>
                    <div class="buttons_404">
                        <a href="#" onclick="window.history.back();" class="button button_type_2 button_grey_light">Ir para a página anterior</a>
                        <a href="<?php echo $this->url('home');?>" class="button button_type_2 button_grey_light">Ir para a página inicial</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-0"></div>
        </div>
    </div>
</div>