<?php
/*
 * @var $form \Zend\Form\Form
 */
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->setMessageOpenFormat('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ')
        ->setMessageCloseString('<button type="button" class="close" data-dismiss="alert">x</buttton></div>')
        ->render($form);

$form->setAttribute('action', $this->url($this->route, array('controller' => $this->controller, 'action' => 'insert')));
$form->setAttribute('class', 'form-horizontal validate');
$form->setAttribute('envtype', 'multipart/form-data');
$form->prepare();

echo $this->form()->openTag($form); 

echo $this->formInput($form->get($formClass->getToken()));

?>
<?php echo $this->partial('admin/conta/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('titulo'));?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('titulo')); ?>
                            <?php echo $this->formElementErrors($form->get('titulo'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('link'));?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('link')); ?>
                            <?php echo $this->formElementErrors($form->get('link'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('data'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('data')); ?>
                            <?php echo $this->formElementErrors($form->get('data'));?>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <a href="<?php echo $this->url($this->route, array('controller'=>$this->controller));?>" class="btn btn-default waves-effect">Cancel</a>
                        <button type="submit" class="btn btn-primary waves-effect">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<?php echo $this->form()->closeTag(); ?>