<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mauricio Schmitz | Desenvolvimento Web</title>

    <meta name="keywords" content="">

    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,100%7CRoboto:400,700,300,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap and Font Awesome css -->
    <?php $this->headLink()->appendStylesheet($this->basePath('mauricioschmitz/css/font-awesome.css')); ?>
    <?php $this->headLink()->appendStylesheet($this->basePath('mauricioschmitz/css/bootstrap.min.css')); ?>

    <!-- Theme stylesheet -->
    <?php $this->headLink()->appendStylesheet($this->basePath('mauricioschmitz/css/style.default.css')); ?>

    <!-- Custom stylesheet - for your changes -->
    <?php $this->headLink()->appendStylesheet($this->basePath('mauricioschmitz/css/custom.css')); ?>

    <!-- owl carousel css -->
    <?php $this->headLink()->appendStylesheet($this->basePath('mauricioschmitz/css/owl.carousel.css')); ?>
    <?php $this->headLink()->appendStylesheet($this->basePath('mauricioschmitz/css/owl.theme.css')); ?>

    <!-- CSS Animations -->
    <?php $this->headLink()->appendStylesheet($this->basePath('mauricioschmitz/css/animate.css')); ?>
    <?php echo $this->headLink(); ?>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png">

    <!-- Mordernizr -->
    <script src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/js/modernizr-2.6.2.min.js"></script>

    <!-- Responsivity for older IE -->
    <!--[if lt IE 9]>
    <script src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/js/respond.min.js"></script>


<![endif]-->
</head>

<body data-spy="scroll" data-target="#navigation" data-offset="120">

    <!-- *** NAVBAR ***
_________________________________________________________ -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand scrollTo" href="#intro">Mauricio Schmitz</a>
            </div>

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#intro"><?php echo $this->translate('Intro');?></a>
                    </li>
                    <li><a href="#about"><?php echo $this->translate('Sobre');?></a>
                    </li>
                    <li><a href="#services"><?php echo $this->translate('Serviços');?></a>
                    </li>
                    <!--<li><a href="#testimonials"><?php echo $this->translate('Depoimentos');?></a>
                    </li>-->
                    <li><a href="#references"><?php echo $this->translate('Meus Trabalhos');?></a>
                    </li><!--
                    <li><a href="#customers"><?php echo $this->translate('Clientes');?></a>
                    </li>-->
                    <li><a href="#contact"><?php echo $this->translate('Contato');?></a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->

        </div>
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->

    <?php echo $this->content;?>

    <!-- /#all -->

    <!-- #### JAVASCRIPT FILES ### -->
    <script>var GA_ID = "<?php echo $this->GA_ID; ?>"; var baseUrl = "<?php echo $this->basePath(); ?>";</script>
    <!-- js base -->
    <script src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/js/jquery-1.11.0.min.js"></script>
    <script src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/js/bootstrap.min.js"></script>

    <!-- for demo purpose -->
    <script src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/js/jquery.cookie.js"></script>

    <!-- waypoints for scroll spy -->
    <script src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/js/waypoints.min.js"></script>

    <!-- maps -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/js/gmaps.js"></script>

    <!-- masonry layout -->
    <script src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/js/masonry.pkgd.min.js"></script>

    <!-- owl carousel -->
    <script src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/js/owl.carousel.min.js"></script>


    <!-- jQuery scroll to -->
    <script src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/js/jquery.scrollTo.min.js"></script>

    <!-- jQuery counter -->
    <script src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/js/jquery.counterup.min.js"></script>

    <!-- jQuery parallax -->
    <script src="https://www.mauricioschmitz.com.br/home/public/mauricioschmitz/js/jquery.parallax-1.1.3.js"></script>

    <!-- main js file -->
    <script src="https://www.mauricioschmitz.com.br/home/public/libs/jquery-validation/jquery.validate.min.js"></script>
    <script src="https://www.mauricioschmitz.com.br/home/public/libs/jquery-validation/pt-BR.js"></script>

    <script src="<?php echo $this->basePath('mauricioschmitz/js/front.js');?>"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', GA_ID, 'auto');
      ga('send', 'pageview');

    </script>

</body>

</html>