<?php echo $this->partial('admin/rastreamento/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-8">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up m-b"></i></a>
                    </div>
                    Mapa
                </div>
                <div class="panel-body m-t">
                    <h3>Código: <b><?php echo $this->oRastreamento->getCodigo();?></b></h3>
                    <div class="col-xs-12">
                        <div id="map" style="width: 100%; height: 500px;"></div>
                    </div>
                    <div id="directions-panel" class="m-t"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Andamento
                </div>
                <div class="panel-body list m-t">
                    <div class="list-item-container">
                        <?php
                        foreach ($this->oRastreamento->getOcorrencias()  as $oOcorrencia){
                            ?>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <?php
                                        $date = $oOcorrencia->getData();
                                        echo $date->format('d/m/Y').'<br>'.$date->format('H:i');
                                        ?>

                                    </div>
                                    <div class="col-md-8">
                                        <strong><?php echo $oOcorrencia->getSituacao();?></strong>
                                        <br>
                                        <?php echo $oOcorrencia->getLocal();?>
                                        <?php echo $oOcorrencia->getDetalhes();?><br>
                                    </div>
                                </div>
                            </div>
                            <?php
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php $this->headScript()->captureStart();?>
$(document).ready(function(){
    calculateAndDisplayRoute('<?php echo $this->origem;?>','<?php echo $this->destino;?>',
    [
    <?php
        $aux = '';
        foreach ($this->waypoints as $point){
            echo $aux . "'".$point."'";
            $aux = ',';
        }
    ?>
    ]);
});
<?php $this->headScript()->captureEnd();?>