<?php
/*
 * @var $form \Zend\Form\Form
 */
$form = $this->form;
$formClass = $form;
$formClass = $this->form;
$this->formElementErrors()
        ->setMessageOpenFormat('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ')
        ->setMessageCloseString('<button type="button" class="close" data-dismiss="alert">x</buttton></div>')
        ->render($form);

$form->setAttribute('action', $this->url($this->route, array('controller' => $this->controller, 'action' => 'update')));
$form->setAttribute('class', 'form-horizontal validate');
$form->prepare();

echo $this->form()->openTag($form);

echo $this->formInput($form->get($formClass->getToken()));

if(isset($this->params['afiliado'])){
    $valores = explode('<|>', $this->params['afiliado']->getPessoaFisica()->getFones());
    if(isset($valores[0]))
        $form->get('telefone')->setValue($valores[0]);
    if(isset($valores[1]))
        $form->get('celular')->setValue($valores[1]);

    $form->get('cpf')->setAttribute('readonly', 'readonly');
    $form->get('email')->setAttribute('readonly', 'readonly');
}
$form->get('old_password')->removeAttribute('required');
$form->get('password')->removeAttribute('required');
$form->get('password_confirm')->removeAttribute('required');
?>
<?php echo $this->partial('admin/perfil/listheader.phtml'); ?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <?php
                    if(isset($this->layout()->afiliado)){
                    ?>
                    <div class="form-group text-center"><img alt="logo" class="img-circle m-b m-t-md" src="<?php echo $this->basePath('uploads/pessoaFisica/'.(($this->layout()->afiliado->getPessoaFisica()->getFoto()) ? $this->layout()->afiliado->getPessoaFisica()->getFoto() : 'profile.jpg'));  ?>"></div>
                    <p class="text-center">Tamanho recomendado: 76x76 pixels</p>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('foto'));?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('foto')); ?>
                            <?php echo $this->formElementErrors($form->get('foto'));?>
                        </div>
                    </div>
                    <?php
                    }
                    ?>
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('name')); ?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('name')); ?>
                            <?php echo $this->formElementErrors($form->get('name')); ?>
                        </div>
                    </div>
                    <?php
                    if(isset($this->layout()->afiliado)){
                    ?>
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('cpf')); ?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('cpf')); ?>
                            <?php echo $this->formElementErrors($form->get('cpf')); ?>
                        </div>

                        <?php echo $this->formLabel($form->get('rg')); ?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('rg')); ?>
                            <?php echo $this->formElementErrors($form->get('rg')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('telefone')); ?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('telefone')); ?>
                            <?php echo $this->formElementErrors($form->get('telefone')); ?>
                        </div>

                        <?php echo $this->formLabel($form->get('celular')); ?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('celular')); ?>
                            <?php echo $this->formElementErrors($form->get('celular')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('data_nascimento')); ?>
                        <div class="col-sm-2">
                            <?php echo $this->formInput($form->get('data_nascimento')); ?>
                            <?php echo $this->formElementErrors($form->get('data_nascimento')); ?>
                        </div>

                        <?php echo $this->formLabel($form->get('sexo')); ?>
                        <div class="col-sm-2">
                            <?php echo $this->formSelect($form->get('sexo')); ?>
                            <?php echo $this->formElementErrors($form->get('sexo')); ?>
                        </div>

                        <?php echo $this->formLabel($form->get('estado_civil')); ?>
                        <div class="col-sm-2">
                            <?php echo $this->formSelect($form->get('estado_civil')); ?>
                            <?php echo $this->formElementErrors($form->get('estado_civil')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('nome_pai')); ?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('nome_pai')); ?>
                            <?php echo $this->formElementErrors($form->get('nome_pai')); ?>
                        </div>

                        <?php echo $this->formLabel($form->get('nome_mae')); ?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('nome_mae')); ?>
                            <?php echo $this->formElementErrors($form->get('nome_mae')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('cep')); ?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('cep')); ?>
                            <?php echo $this->formElementErrors($form->get('cep')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('uf')); ?>
                        <div class="col-sm-2">
                            <?php echo $this->formInput($form->get('uf')); ?>
                            <?php echo $this->formElementErrors($form->get('uf')); ?>
                        </div>

                        <?php echo $this->formLabel($form->get('cidade')); ?>
                        <div class="col-sm-6">
                            <?php echo $this->formInput($form->get('cidade')); ?>
                            <?php echo $this->formElementErrors($form->get('cidade')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('endereco')); ?>
                        <div class="col-sm-6">
                            <?php echo $this->formInput($form->get('endereco')); ?>
                            <?php echo $this->formElementErrors($form->get('endereco')); ?>
                        </div>

                        <?php echo $this->formLabel($form->get('numero')); ?>
                        <div class="col-sm-2">
                            <?php echo $this->formInput($form->get('numero')); ?>
                            <?php echo $this->formElementErrors($form->get('numero')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('bairro')); ?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('bairro')); ?>
                            <?php echo $this->formElementErrors($form->get('bairro')); ?>
                        </div>

                        <?php echo $this->formLabel($form->get('complemento')); ?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('complemento')); ?>
                            <?php echo $this->formElementErrors($form->get('complemento')); ?>
                        </div>
                    </div>
                    <?php
                    }
                    ?>
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('email')); ?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('email')); ?>
                            <?php echo $this->formElementErrors($form->get('email')); ?>
                        </div>
                    </div>
                    <p class="alert alert-warning text-center">Se não quiser alterar sua senha mantenha os campos abaixo em branco</p>
                    <br>
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('old_password')); ?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('old_password')); ?>
                            <?php echo $this->formElementErrors($form->get('old_password')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('password')); ?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('password')); ?>
                            <?php echo $this->formElementErrors($form->get('password')); ?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('password_confirm')); ?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('password_confirm')); ?>
                            <?php echo $this->formElementErrors($form->get('password_confirm')); ?>
                        </div>
                    </div>

                    <div class="text-center">
                        <!--<a href="<?php echo $this->url($this->route, array('controller' => $this->controller)); ?>" class="btn btn-default waves-effect">Cancel</a>-->
                        <button type="submit" class="btn btn-primary waves-effect">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<?php echo $this->form()->closeTag(); ?>
<?php $this->headScript()->captureStart(); ?>
$(function(){
$("#formPerfil").validate({
rules: {
password: {
required: true,
minlength: 3
}
},
submitHandler: function(form) {
form.submit();
}
});
});
<?php $this->headScript()->captureEnd(); ?>

