<div class="col-md-3 sidebar"> 
    <div class="divider-space">
    </div> 
    <div class="divider-line">
    </div>
    <div class="divider-space">
    </div> 
    <div class="widget">
        <img src="<?php echo $this->basePath('political/images/psdb.jpg'); ?>">
    </div> 
    <div class="divider-space">
    </div> 
    <div class="divider-line">
    </div>
    <div class="divider-space">
    </div> 
</div> 
