<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>Login</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    <?php $this->headLink()->appendStylesheet($this->basePath('/css/login.min.css')); ?>
    <?php echo $this->headLink(); ?>
</head>
<body class="blank">

<!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Login</h1><p>Loading </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="color-line"></div>

<div class="back-link">
    <a href="<?php echo $this->url('home');?>" class="btn btn-primary">Voltar ao site</a>
</div>

<div class="login-container">
    <?php echo $this->partial('layout/flashMessage'); ?>
    <?php echo $this->content;?>
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="http://www.mauricioschmitz.com.br" target="_blank"><strong>Mauricio Schmitz</strong> - Desenvolvimento web</a> <br/> 2016 Copyright <?php echo $this->setupHelper()->getSiteName();?>
        </div>
    </div>
</div>

<!-- Vendor scripts -->
<script type="text/javascript">var baseUrl = '<?php echo $this->basePath(); ?>/';</script>
<?php $this->headScript()->appendFile($this->basePath('/min?g=login-js'));?>
<?php echo $this->headScript();?>
<?php echo $this->inlineScript();?>

</body>
</html>