<?php
/*
 * @var $form \Zend\Form\Form
 */
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->setMessageOpenFormat('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ')
        ->setMessageCloseString('<button type="button" class="close" data-dismiss="alert">x</buttton></div>')
        ->render($form);

$form->setAttribute('action', $this->url($this->route, array('controller' => $this->controller, 'action' => 'edit', 'id'=>$this->id)));
$form->setAttribute('class', 'form-horizontal');
$form->prepare();

if($form->get('exclusivo')->getValue()){
    $form->get('exclusivo')->setAttribute('checked', 'checked');
}
echo $this->form()->openTag($form); 

echo $this->formInput($form->get($formClass->getToken()));

$linkNoticia = $this->url('noticia/default', array('controller'=>'noticia', 'action'=>'detalhes', 'id'=>$this->id, 'titulo'=>  Base\Controller\AbstractController::titleLink($form->get('titulo')->getValue())));

?>
<?php echo $this->partial('admin/noticia/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <a href="<?php echo $linkNoticia;?>" target="_blank" class="btn btn-info pull-right">Preview</a>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('exclusivo'));?>
                        <div class="col-sm-10">
                            <div class="checkbox checkbox-success">
                                <label for="checkbox3">
                                    <?php echo $this->formCheckbox($form->get('exclusivo')); ?>
                                   
                                </label>
                            </div>
                        </div>
                        <?php echo $this->formElementErrors($form->get('exclusivo'));?>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('categoria'));?>
                        <div class="col-sm-4"><?php echo $this->formSelect($form->get('categoria')); ?></div>
                        <?php echo $this->formElementErrors($form->get('categoria'));?>
                        
                        <?php echo $this->formLabel($form->get('status'));?>
                        <div class="col-sm-4"><?php echo $this->formSelect($form->get('status')); ?></div>
                        <?php echo $this->formElementErrors($form->get('status'));?>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('data_publicacao'));?>
                        <div class="col-sm-4"><?php echo $this->formInput($form->get('data_publicacao')); ?></div>
                        <?php echo $this->formElementErrors($form->get('data_publicacao'));?>
                        
                        <?php echo $this->formLabel($form->get('nivel'));?>
                        <div class="col-sm-4"><?php echo $this->formSelect($form->get('nivel')); ?></div>
                        <?php echo $this->formElementErrors($form->get('nivel'));?>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('titulo'));?>
                        <div class="col-sm-10"><?php echo $this->formInput($form->get('titulo')); ?></div>
                        <?php echo $this->formElementErrors($form->get('titulo'));?>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('chamada'));?>
                        <div class="col-sm-10"><?php echo $this->formTextArea($form->get('chamada')); ?></div>
                        <?php echo $this->formElementErrors($form->get('chamada'));?>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('descricao'));?>
                        <div class="col-sm-10"><?php echo $this->formTextArea($form->get('descricao')); ?></div>
                        <?php echo $this->formElementErrors($form->get('descricao'));?>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('tag'));?>
                        <div class="col-sm-10"><?php echo $this->formTextArea($form->get('tag')); ?></div>
                        <?php echo $this->formElementErrors($form->get('tag'));?>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('fonte'));?>
                        <div class="col-sm-10"><?php echo $this->formInput($form->get('fonte')); ?></div>
                        <?php echo $this->formElementErrors($form->get('fonte'));?>
                    </div>
                    
                    <div class="form-group">
                        <label><input id="marcadagua" type="checkbox" value="1"> Marcadagua</label>
                        <label class="col-sm-2 control-label">Imagens</label>
                        <div class="col-sm-10">
                            <input id="files" type="file" multiple="" name="files" data-min-file-count="1">
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <a href="<?php echo $this->url($this->route, array('controller'=>$this->controller));?>" class="btn btn-default waves-effect">Cancel</a>
                        <button type="submit" class="btn btn-primary waves-effect">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<?php echo $this->form()->closeTag(); ?>
<?php
$urlSalvaAutor = $this->url($this->route, array('controller'=>$this->controller, 'action'=>'salvaautor'));
$this->headScript()->captureStart();
?>
    function salvaAutor(id, autor){
        $.post( "<?php echo $urlSalvaAutor;?>", { id: id, autor: autor })
            .done(function( data ) {
                alert( "Autor alterado" );
            }
        );
    }
    $(document).ready(function(){
        $('#marcadagua').on('change', function(){
            var marca = 0;
            if($(this).is(':checked'))
                marca = 1;
            else
                marca = 0;

            $("#files").fileinput('refresh', {uploadUrl: '<?php echo $this->url($this->route, array('controller'=>$this->controller, 'action'=>'imageUpload', 'id' => $this->id));?>?marcadagua='+marca});
        });
        
        startMultipleUpload(0);

        function startMultipleUpload(marca){
            Scripts.uploadMultiple(
                '<?php echo $this->url($this->route, array('controller'=>$this->controller, 'action'=>'imageUpload', 'id' => $this->id));?>?marcadagua='+marca,
                ['jpg','jpeg','png', 'pneg'],
                [
                <?php
                $aux = '';
                foreach($this->params['noticia']->getImagens() as $imagem){
                    $nomeArquivo = $imagem->getArquivo();
                    $nomeArquivo = pathinfo($this->basePath('uploads/' . $params['dir'] .'/' . $nomeArquivo), PATHINFO_FILENAME).'_220.'.pathinfo($this->basePath('uploads/' . $params['dir'] .'/' . $nomeArquivo), PATHINFO_EXTENSION);
                    $nomeArquivoMedi = $imagem->getArquivo();
                    $nomeArquivoMedi = pathinfo($this->basePath('uploads/' . $params['dir'] .'/' . $nomeArquivoMedi), PATHINFO_FILENAME).'_400.'.pathinfo($this->basePath('uploads/' . $params['dir'] .'/' . $nomeArquivoMedi), PATHINFO_EXTENSION);
                    echo $aux;
                ?>
                '<img src="<?php echo $this->basePath('uploads/' . $params['dir'] . $nomeArquivo);?>" class="file-preview-image" alt="" title=""><br><br>Autor:<br><input type="text" value="<?php echo $imagem->getTitulo();?>" onblur="salvaAutor(<?php echo $imagem->getId();?>, this.value)"><br><br><button type="button" class="btn btn-success btn-sm" data-clipboard-text="<?php echo $this->basePath('uploads/' . $params['dir'] .'' . $nomeArquivoMedi);?>" data-toggle="tooltip" title="Copiar endereço"><i class="fa fa-copy"></i></button>&nbsp;<button type="button" class="btn <?php echo ($aux == '' ? 'btn-success' : 'btn-info');?> btn-sm btn-capa" data-toggle="tooltip" title="Definir como capa" data-image-id="<?php echo $imagem->getId();?>" data-noticia-id="<?php echo $this->id;?>" data-urldestino="<?php echo $this->url($this->route, array('controller'=>$this->controller, 'action'=>'changeorder'));?>"><i class="fa fa-cog"></i></button>'
                <?php
                    $aux = ',';
                }
                //
                ?>
                ],[
                <?php
                $aux = '';
                foreach($this->params['noticia']->getImagens() as $i=> $imagem){
                    echo $aux;
                ?>
                {url: "<?php echo $this->url($this->route, array('controller'=>$this->controller, 'action'=>'removeImage'));?>", key: <?php echo $imagem->getId(); ?>}
                <?php
                    $aux = ',';
                }
                ?>
                ]


            );
        }
        
        
        Scripts.imagemCapa = function(){
            $('.btn-capa').unbind('click');
            $('.btn-capa').on('click', function(){
                Scripts.showLoading();
                var target = $(this);
                var noticia_id = $(this).attr('data-noticia-id');
                var imagem_id = $(this).attr('data-image-id');
                var urlDestino = $(this).attr('data-urldestino');
                $.post( urlDestino, { id: noticia_id, imageid: imagem_id })
                    .done(function( data ) {
                        $('.btn-capa').each(function(el){
                            if($(this) != target)
                                $(this).removeClass('btn-success').addClass('btn-info');
                        });
                        target.removeClass('btn-info').addClass('btn-success');
                        Scripts.hideLoading();
                });
            });

        }
        Scripts.imagemCapa();

    });
<?php $this->headScript()->captureEnd();?>