<form method="post" action="<?php echo $this->url('adm/default', array('controller' => $this->controller, 'action' => 'import')); ?>">
    <div class="modal-header text-center">
        <h4 class="modal-title">Itens a importar</h4>
        <small class="font-bold">Selecione os itens que deseja importar.</small>
    </div>
    <div class="modal-body">
<?php
    foreach ($this->lista as $item) {
?>
        <div class="checkbox"><label> <input type="checkbox" class="i-checks" name="item[]" value="<?php echo $item->getId(); ?>" checked="checked"> <?php echo $item->getTitulo(); ?> </label></div>
<?php
    }
?>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit">Confirmar</button>
    </div>
</form>