<?php echo $this->partial('admin/gastogasolina/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <?php
            if(!is_null($this->somas)){
            ?>
            <div class="hpanel stats">
                <div class="panel-body h-100">
                    <div class="m-t-xs">
                        <div class="row">
                            <div class="col-xs-4">
                                <h4 class="stat-label">Km/l</h4>
                                <h4 class="badge badge-success"><?php  echo ($this->somas['km']/$this->somas['litros']);?> </h4>
                            </div>
                            <div class="col-xs-4">
                                <h4 class="stat-label">R$/km</h4>
                                <h4 class="badge badge-success">R$ <?php  echo number_format($this->somas['gasto']/$this->somas['km'],2,",", ".");?> </h4>
                            </div>
                            <div class="col-xs-4">
                                <h4 class="stat-label">Total gasto</h4>
                                <h4 class="badge badge-success">R$ <?php  echo number_format($this->somas['gasto'],2,",", ".");?> </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php
            }
            ?>
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <!--<a class="closebox"><i class="fa fa-times"></i></a>-->
                    </div>
                    <div class="btn-group m-b-xs">
                        <a href="<?php echo $this->url($this->route, array('controller'=>$this->controller, 'action'=>'insert')); ?>" class="btn btn-success">
                            <i class="fa fa-plus"></i> Adicionar gasto
                        </a>
                    </div>
                    <div class="btn-group m-b-xs">
                        <button class="btn btn-primary dropdown-toggle" id="veiculo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Selecione um veículo <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="veiculo">
                            <?php
                            foreach($this->veiculos as $veiculo){
                            ?>
                            <li><a href="<?php echo $this->url($this->route, array('controller'=>$this->controller, 'action'=>'index'), array('query' => array('veiculo' => $veiculo->getId()))); ?>"><?php echo $veiculo->getTitulo();?></a></li>
                            <?php
                            }
                            ?>
                        </ul>
                    </div>
                    <div class="btn-group m-b-xs">
                        <a data-href="<?php echo $this->url($this->route, array('controller'=>$this->controller, 'action'=>'import')); ?>" class="btn btn-info ajaxModal" data-toggle="modal" data-target="#defaultModal">
                            <i class="fa fa-refresh"></i> Importar
                        </a>`
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" ui-jp="dataTableInline" class="table table-striped b-t b-b" style="width: 100%" ui-options="{
          aDataSort: [[1,'desc']]
        }">
                        <thead>
                        <tr>
                            <th></th>
                            <th style="width:15%">Veículo</th>
                            <th style="width:10%">Data</th>
                            <th style="width:10%">Km</th>
                            <th style="width:10%">Litros</th>
                            <th style="width:10%">Preço/l</th>
                            <th style="width:10%">Gasto</th>
                            <th style="width:15%">Média</th>
                            <th style="width:10%">Status</th>
                            <th style="width:10%" class="no-hidden"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        $anterior = 0;
                        foreach($this->lista as $gasto){
                        ?>
                        <tr>
                            <td></td>
                            <td><?php echo $gasto->getVeiculo()->getTitulo();?></td>
                            <td><?php echo $gasto->getData()->format('d/m/Y');?></td>
                            <td><?php echo $gasto->getKm();?></td>
                            <td><?php echo $gasto->getLitros();?></td>
                            <td><?php echo $gasto->getPrecoCombustivel();?></td>
                            <td><?php echo ($gasto->getLitros() * $gasto->getPrecoCombustivel());?></td>
                            <td><?php echo (($gasto->getKm()-$anterior)/$gasto->getLitros());?></td>
                            <td><?php echo ($gasto->getAtivo() ? '<span class="label label-success" title="Ativo">Ativo</span>' : '<span class="label label-danger" title="Inativo">Inativo</span>');?></td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-icon btn-rounded btn-primary dropdown-toggle" type="button" id="dropdownMenu<?php echo $gasto->getId();?>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-cog"></i></button>                   
                                    <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu<?php echo $gasto->getId();?>">
                                        <li><a href="<?php echo $this->url($this->route, array('controller'=>$this->controller, 'action'=>'edit', 'id'=>$gasto->getId()));?>"> <i class="fa fa-pencil"></i> Editar</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li>
                                            <a href="<?php echo $this->url($this->route, array('controller'=>$this->controller, 'action'=>'activeset', 'id'=>$gasto->getId(), 'ativo'=>($gasto->getAtivo() ? '0' : '1')));?>"> <i class="fa fa-<?php echo($gasto->getAtivo() ? 'remove' : 'check');?>"></i> <?php echo($gasto->getAtivo() ? 'Desativar' : 'Ativar');?></a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <?php
                            $anterior = $gasto->getKm();
                        }
                        ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>