<?php echo $this->partial('admin/afiliadodistribuicao/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <!--<a class="closebox"><i class="fa fa-times"></i></a>-->
                    </div>
                    &nbsp;
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" ui-jp="dataTable" class="table table-striped b-t b-b" style="width: 100%" ui-options="{
          sAjaxSource: '<?php echo $this->url('adm/default', array('controller'=>'afiliadodistribuicao', 'action' => 'list')); ?>',
          aDataSort: [[1,'desc'],[1,'asc']]
        }">
                        <thead>
                        <tr>
                            <th  style="width:2%"></th>
                            <th  style="width:10%">Data</th>
                            <th  style="width:30%">Descrição</th>
                            <th  style="width:15%">Valor arrecadado</th>
                            <th  style="width:15%">Moedas pagas</th>
                            <th  style="width:15%">Comissões pagas</th>
                            <th  style="width:15%">Sobra</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>