<?php
/*
 * @var $form \Zend\Form\Form
 */
$form = $this->form;
$formClass = $this->form;
$this->formElementErrors()
        ->setMessageOpenFormat('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ')
        ->setMessageCloseString('<button type="button" class="close" data-dismiss="alert">x</buttton></div>')
        ->render($form);

$form->setAttribute('action', $this->url($this->route, array('controller' => $this->controller, 'action' => 'validinsert')));
$form->setAttribute('class', 'form-horizontal validate');
$form->setAttribute('envtype', 'multipart/form-data');
$form->prepare();

echo $this->form()->openTag($form); 

echo $this->formInput($form->get($formClass->getToken()));

?>
<?php echo $this->partial('admin/pessoafisica/listheader.phtml');?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('nome'));?>
                        <div class="col-sm-10">
                            <?php echo $this->formInput($form->get('nome')); ?>
                            <?php echo $this->formElementErrors($form->get('nome'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('cpf'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('cpf')); ?>
                            <?php echo $this->formElementErrors($form->get('cpf'));?>
                        </div>
                        
                        <?php echo $this->formLabel($form->get('rg'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('rg')); ?>
                            <?php echo $this->formElementErrors($form->get('rg'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('telefone'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('telefone')); ?>
                            <?php echo $this->formElementErrors($form->get('telefone'));?>
                        </div>
                        
                        <?php echo $this->formLabel($form->get('celular'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('celular')); ?>
                            <?php echo $this->formElementErrors($form->get('celular'));?>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('data_nascimento'));?>
                        <div class="col-sm-2">
                            <?php echo $this->formInput($form->get('data_nascimento')); ?>
                            <?php echo $this->formElementErrors($form->get('data_nascimento'));?>
                        </div>

                        <?php echo $this->formLabel($form->get('sexo'));?>
                        <div class="col-sm-2">
                            <?php echo $this->formSelect($form->get('sexo')); ?>
                            <?php echo $this->formElementErrors($form->get('sexo'));?>
                        </div>

                        <?php echo $this->formLabel($form->get('estado_civil'));?>
                        <div class="col-sm-2">
                            <?php echo $this->formSelect($form->get('estado_civil')); ?>
                            <?php echo $this->formElementErrors($form->get('estado_civil'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('nome_pai'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('nome_pai')); ?>
                            <?php echo $this->formElementErrors($form->get('nome_pai'));?>
                        </div>
                        
                        <?php echo $this->formLabel($form->get('nome_mae'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('nome_mae')); ?>
                            <?php echo $this->formElementErrors($form->get('nome_mae'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('cep'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('cep')); ?>
                            <?php echo $this->formElementErrors($form->get('cep'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('uf'));?>
                        <div class="col-sm-2">
                            <?php echo $this->formInput($form->get('uf')); ?>
                            <?php echo $this->formElementErrors($form->get('uf'));?>
                        </div>
                        
                        <?php echo $this->formLabel($form->get('cidade'));?>
                        <div class="col-sm-6">
                            <?php echo $this->formInput($form->get('cidade')); ?>
                            <?php echo $this->formElementErrors($form->get('cidade'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('endereco'));?>
                        <div class="col-sm-6">
                            <?php echo $this->formInput($form->get('endereco')); ?>
                            <?php echo $this->formElementErrors($form->get('endereco'));?>
                        </div>
                        
                        <?php echo $this->formLabel($form->get('numero'));?>
                        <div class="col-sm-2">
                            <?php echo $this->formInput($form->get('numero')); ?>
                            <?php echo $this->formElementErrors($form->get('numero'));?>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('bairro'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('bairro')); ?>
                            <?php echo $this->formElementErrors($form->get('bairro'));?>
                        </div>
                        
                        <?php echo $this->formLabel($form->get('complemento'));?>
                        <div class="col-sm-4">
                            <?php echo $this->formInput($form->get('complemento')); ?>
                            <?php echo $this->formElementErrors($form->get('complemento'));?>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <a href="<?php echo $this->url($this->route, array('controller'=>$this->controller));?>" class="btn btn-default waves-effect">Cancel</a>
                        <button type="submit" class="btn btn-primary waves-effect">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<?php echo $this->form()->closeTag(); ?>