/* Validation */
.form-control.error {
  border-color: #e74c3c !important;
}
label.error,
label span.help-block {
  color: #e74c3c;
  margin: 5px 0 0 0;
  font-weight: 400;
}
label span.help-block {
  margin-left: 5px;
}
.has-error span.help-block:before {
  content: "\f071";
  font-family: 'FontAwesome';
  margin: 0 4px;
}