<?php echo $this->partial('admin/minhaequipe/listheader.phtml'); ?>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="v-timeline vertical-container animate-panel"  data-child="vertical-timeline-block" data-delay="1">
                    <?php
                    foreach($this->indicados as $indicado){
                    ?>    
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg" style="background: #<?php echo $indicado['hexadecimal'];?>">
                            <i class="fa fa-user text-white"></i>
                        </div>
                        <div class="vertical-timeline-content">
                            <div class="p-sm">
                                <span class="vertical-date pull-right"> Membro desde <br/> <small><?php echo $indicado['desde']->format('d/m/Y');?></small> </span>

                                <h2><?php echo $indicado['nomePessoa'];?></h2>
                                <p>Plano: <?php echo $indicado[0]['nomePlano'];?></p>
                            </div>
                            <div class="panel-footer">
                                
                            </div>
                        </div>
                    </div>
                    <?php
                    }
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>