<?php
$linkNoticia = $this->url('noticia/default', array('controller' => 'noticia', 'action' => 'detalhes', 'id' => $this->noticia->getId(), 'titulo' => Jornal\Controller\NoticiaController::titleLink($this->noticia->getTitulo())));
?>
<div class="row">
    <!--==============================Breadcrumb================================-->
    <div class="breadcrumb">
        <div class="container">
            <div>
                <span><a href="<?php echo $this->url('home'); ?>">Home</a></span> / <?php echo $this->noticia->getCategoria()->getTitulo(); ?>
            </div>
        </div>
    </div>
    <div class="conteudo">
        <!--==============================content================================-->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <?php if ($this->noticia->getExclusivo()) { ?><span class="button banner_button corcategoria_1">Exclusivo</span><?php } ?>
                        <h2 class="section_title section_title_big"><?php echo $this->noticia->getTitulo(); ?></h2>
                        <div class="section_title">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <?php echo $this->partial('partial/share'); ?>
                                </div>
                                <div class="col-sm-6 col-xs-12 ">
                                    <div class="text-right"><?php echo $this->noticia->getDataPublicacao()->format('d/m/Y H:i:s'); ?></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <?php
                            if ($this->noticia->getChamada() != '') {
                                ?>
                                <div class="a_title"><?php echo $this->noticia->getChamada(); ?></div>
                                <br>
                                <?php
                            }

                            $total = count($this->detalhes);
                            foreach ($this->detalhes as $key => $detalhe) {
                                ?>
                                <div style="text-align: justify" class="textDetails">
                                    <?php echo $detalhe; ?>
                                </div>
                                <?php
                                if ($key < ($total - 1)) {
                                    ?>
                                    <div class="row">
                                        <div class="section col-sm-6">
                                            <div id="carousel-center-1" class="carousel slide" data-ride="carousel" data-interval="6000">
                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner" role="listbox" style="height:182px;">
                                                    <?php echo $this->novoPublicidadeHelper('362x182xDN', $this->basePath('uploads/publicidades/')); ?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section col-sm-6">
                                            <div id="carousel-center-2" class="carousel slide" data-ride="carousel" data-interval="6000">
                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner" role="listbox" style="height:182px;">
                                                    <?php echo $this->novoPublicidadeHelper('362x182xDN', $this->basePath('uploads/publicidades/')); ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <?php
                                }
                            }
                            ?>
                            <?php
                            if ($this->noticia->getFonte() != '') {
                                ?>
                                <div style="font-size:10px;"><i>Fonte: <?php echo $this->noticia->getFonte(); ?></i></div>
                                <?php
                            }
                            ?>
                        </div>
                        <?php
                        if (!$noticia->getImagens()->isEmpty()) {
                            $imagens = $noticia->getImagens();
                            ?>
                            <div class="section read_post_list gallery_list">
                                <h2 class="section_title section_title_big">Imagens</h2>
                                <ul class="row">
                                    <!--Post-->
                                    <?php
                                    foreach ($imagens as $imagem) {
                                        $mini = Admin\Controller\NoticiaController::nomeImagemMiniDetalhes($imagem->getArquivo());
                                        ?>
                                        <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <div class="section_post_left">
                                                <div class="scale_image_container with_buttons">
                                                    <a href="#"><img src="<?php echo $this->basePath('/uploads/noticias/' . $mini); ?>" class="scale_image"></a>
                                                    <?php echo ($imagem->getTitulo() != '' ? '<br>Autor: '.$imagem->getTitulo() : '');?>
                                                    <div class="open_buttons clearfix">
                                                        <div class="f_left"><a href="<?php echo $this->basePath('/uploads/noticias/' . $imagem->getArquivo()); ?>" role="button" class="jackbox jackbox_button button button_grey_light" data-group="gallery_1" data-title="<?php echo ($imagem->getTitulo() != '' ? 'Autor: '.$imagem->getTitulo() : '');?>"><i class="fa fa-search-plus"></i></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <?php
                                    }
                                    ?>
                                </ul>  
                            </div>
                            <?php
                        }
                        ?>
                        <br>
                        <div class="fb-comments" data-href="<?php echo (isset($_SERVER["HTTPS"]) ? 'https' : 'http') . '://' . $_SERVER['HTTP_HOST'] . $linkNoticia; ?>" data-numposts="10" data-width="100%"></div>

                        <?php
                        if (isset($this->noticias['vejaTambem'])) {
                            ?>
                            <div class="section">
                                <div class="tabs corcategoria_1">
                                    <!--tabs navigation-->
                                    <div class="clearfix">
                                        <h3 class="section_title">Veja também</h3>
                                    </div>
                                    <!--tabs content-->
                                    <div>
                                        <div class="row">
                                            <ul class="listNoticiasHome">
                                                <?php
                                                foreach($this->noticias['ultimas'] as $noticia) {
//                                                    $noticia = $this->noticias['categoriasDestaque'][0]['noticias'][0];
                                                    if (!$noticia->getImagens()->isEmpty()) {
                                                        $imagem = Admin\Controller\NoticiaController::nomeImagemMini($noticia->getImagens()->first()->getArquivo());
                                                    } else
                                                        $imagem = 'sem_imagem.jpg';

                                                    $linkNoticia = $this->url('noticia/default', array('controller' => 'noticia', 'action' => 'detalhes', 'id' => $noticia->getId(), 'titulo' => Jornal\Controller\NoticiaController::titleLink($noticia->getTitulo())));
                                                    ?>
                                                    <li class="clearfix col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="post_image scale_image_container">
                                                                    <a href="<?php echo $linkNoticia; ?>"><img src="<?php echo $this->basePath('uploads/noticias/' . $imagem); ?>" alt="" class="scale_image"></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-sx-6">
                                                                <?php if ($noticia->getExclusivo()) { ?><span class="button banner_button corcategoria_1">Exclusivo</span><?php } ?><a href="<?php echo $linkNoticia; ?>"><h4><?php echo $noticia->getTitulo(); ?></h4></a>
                                                                <div class="event_date"><?php echo $noticia->getDataPublicacao()->format('d/m/Y H:i:s'); ?></div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <?php
                                                }
                                                ?>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php
                        }
                        ?>

                        <?php
                        if (isset($this->noticias['ultimas'])) {
                            ?>
                            <div class="section">
                                <div class="tabs corcategoria_1">
                                    <!--tabs navigation-->
                                    <div class="clearfix">
                                        <h3 class="section_title">Recentes</h3>
                                    </div>
                                    <!--tabs content-->
                                    <div>
                                        <div class="row">
                                            <ul class="listNoticiasHome">
                                                <?php
                                                foreach($this->noticias['ultimas'] as $noticia) {
//                                                    $noticia = $this->noticias['categoriasDestaque'][0]['noticias'][0];
                                                    if (!$noticia->getImagens()->isEmpty()) {
                                                        $imagem = Admin\Controller\NoticiaController::nomeImagemMini($noticia->getImagens()->first()->getArquivo());
                                                    } else
                                                        $imagem = 'sem_imagem.jpg';

                                                    $linkNoticia = $this->url('noticia/default', array('controller' => 'noticia', 'action' => 'detalhes', 'id' => $noticia->getId(), 'titulo' => Jornal\Controller\NoticiaController::titleLink($noticia->getTitulo())));
                                                    ?>
                                                    <li class="clearfix col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="post_image scale_image_container">
                                                                    <a href="<?php echo $linkNoticia; ?>"><img src="<?php echo $this->basePath('uploads/noticias/' . $imagem); ?>" alt="" class="scale_image"></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-sx-6">
                                                                <?php if ($noticia->getExclusivo()) { ?><span class="button banner_button corcategoria_1">Exclusivo</span><?php } ?><a href="<?php echo $linkNoticia; ?>"><h4><?php echo $noticia->getTitulo(); ?></h4></a>
                                                                <div class="event_date"><?php echo $noticia->getDataPublicacao()->format('d/m/Y H:i:s'); ?></div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <?php
                                                }
                                                ?>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php
                        }
                        ?>
                    </div>
                    <aside id="sidebar" class="col-lg-4 col-md-4 col-sm-12">
                        <div class="slick-class" style="max-width: 317px; margin: auto">
                            <?php $this->novoPublicidadeHelper('280x317', $this->basePath('uploads/publicidades/'), '', -1); ?>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>