<div class="row">
    <!--==============================Breadcrumb================================-->
    <div class="breadcrumb">
        <div class="container">
            <div>
                <span><a href="<?php echo $this->url('home'); ?>">Home</a></span> / <?php echo $this->categoria->getTitulo(); ?>
            </div>
        </div>
    </div>
    <div class="conteudo">
        <!--==============================content================================-->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="section">
                            <ul class="listNoticias">
                            <?php
                            foreach ($this->noticias as $noticia) {
                                if (!$noticia->getImagens()->isEmpty()) {
                                    $imagem = Admin\Controller\NoticiaController::nomeImagemMini($noticia->getImagens()->first()->getArquivo());
                                } else
                                    $imagem = 'sem_imagem.jpg';

                                $linkNoticia = $this->url('noticia/default', array('controller' => 'noticia', 'action' => 'detalhes', 'id' => $noticia->getId(), 'titulo' => Jornal\Controller\NoticiaController::titleLink($noticia->getTitulo())));
                                $categoria = $noticia->getCategoria();
                                ?>
                                <li class="clearfix" style="margin:40px 0;">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="post_image scale_image_container">
                                            <a href="<?php echo $linkNoticia; ?>"><img src="<?php echo $this->basePath('uploads/noticias/' . $imagem); ?>" alt="" class="scale_image"></a>
                                            <div class="post_image_buttons">
                                                <a href="<?php echo $this->url('categoria/default', array('controller' => 'noticia', 'action' => 'listbycategoria', 'id' => $categoria->getId(), 'titulo' => \Jornal\Controller\NoticiaController::titleLink($categoria->getTitulo()))); ?>" class="button banner_button corcategoria_<?php echo $categoria->getCor(); ?>"><?php echo $categoria->getTitulo(); ?></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 col-xs-6">
                                        <?php if ($noticia->getExclusivo()) { ?><span class="button banner_button corcategoria_1">Exclusivo</span><?php } ?><a href="<?php echo $linkNoticia; ?>"><h4><?php echo $noticia->getTitulo(); ?></h4></a>
                                        <div class="event_date"><?php echo $noticia->getDataPublicacao()->format('d/m/Y H:i:s'); ?></div>
                                        <p class="hidden-xs"><?php echo ($noticia->getChamada() != '' ? $noticia->getChamada() : '');?></p>
                                    </div>
                                </li>
                                <?php
                                }
                                ?>    
                            </ul>
                        </div>

                        <div class="pagination_block">
                            <span>Página <?php echo ($this->page + 1) . ' de ' . $this->qtdPg; ?></span><br>
                            <ul class="pagination clearfix">
<?php
//calculo a página inicial
$inicio = $this->page - 3;
if ($inicio < 0)
    $inicio = 0;
$fim = $this->page + 3;
if ($fim > $this->qtdPg)
    $fim = $this->qtdPg;

if (($this->page) > 0) {
    ?>

                                    <li><a href="<?php echo $this->url('categoria/default', array('controler' => 'noticia', 'action' => 'listbycategoria', 'id' => $this->categoria->getId(), 'titulo' => \Jornal\Controller\NoticiaController::titleLink($this->categoria->getTitulo()), 'page' => ($this->page))); ?>"><i class="fa fa-angle-left"></i></a></li>
                                    <?php
                                }
                                for ($i = $inicio; $i < $fim; $i++) {
                                    ?>
                                    <li><a href="<?php echo $this->url('categoria/default', array('controler' => 'noticia', 'action' => 'listbycategoria', 'id' => $this->categoria->getId(), 'titulo' => \Jornal\Controller\NoticiaController::titleLink($this->categoria->getTitulo()), 'page' => ($i + 1))); ?>" class="<?php echo ($this->page == $i ? 'active' : 0); ?>"><?php echo ($i + 1); ?></a></li>
                                    <?php
                                }

                                if (($this->page + 1) < $this->qtdPg) {
                                    ?>

                                    <li><a href="<?php echo $this->url('categoria/default', array('controler' => 'noticia', 'action' => 'listbycategoria', 'id' => $this->categoria->getId(), 'titulo' => \Jornal\Controller\NoticiaController::titleLink($this->categoria->getTitulo()), 'page' => ($this->page + 2))); ?>"><i class="fa fa-angle-right"></i></a></li>
                                    <?php
                                }
                                ?>
                            </ul>
                        </div>

                        <?php
                        if (isset($this->outrasNoticias['ultimas'])) {
                            ?>
                            <div class="section">
                                <div class="tabs corcategoria_1">
                                    <!--tabs navigation-->
                                    <div class="clearfix">
                                        <h3 class="section_title">Recentes</h3>
                                    </div>
                                    <!--tabs content-->
                                    <div>
                                        <div class="row">
                                            <ul class="listNoticiasHome">
                                                <?php
                                                foreach($this->outrasNoticias['ultimas'] as $noticia) {
//                                                    $noticia = $this->noticias['categoriasDestaque'][0]['noticias'][0];
                                                    if (!$noticia->getImagens()->isEmpty()) {
                                                        $imagem = Admin\Controller\NoticiaController::nomeImagemMini($noticia->getImagens()->first()->getArquivo());
                                                    } else
                                                        $imagem = 'sem_imagem.jpg';

                                                    $linkNoticia = $this->url('noticia/default', array('controller' => 'noticia', 'action' => 'detalhes', 'id' => $noticia->getId(), 'titulo' => Jornal\Controller\NoticiaController::titleLink($noticia->getTitulo())));
                                                    ?>
                                                    <li class="clearfix col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="post_image scale_image_container">
                                                                    <a href="<?php echo $linkNoticia; ?>"><img src="<?php echo $this->basePath('uploads/noticias/' . $imagem); ?>" alt="" class="scale_image"></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-sx-6">
                                                                <?php if ($noticia->getExclusivo()) { ?><span class="button banner_button corcategoria_1">Exclusivo</span><?php } ?><a href="<?php echo $linkNoticia; ?>"><h4><?php echo $noticia->getTitulo(); ?></h4></a>
                                                                <div class="event_date"><?php echo $noticia->getDataPublicacao()->format('d/m/Y H:i:s'); ?></div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <?php
                                                }
                                                ?>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php
                        }
                        ?>

                    </div>
                    <aside id="sidebar" class="col-lg-4 col-md-4 col-sm-12">
                        <div class="slick-class" style="max-width: 317px; margin: auto">
                            <?php $this->novoPublicidadeHelper('280x317', $this->basePath('uploads/publicidades/'), '', -1); ?>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>