<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Bem vindo
                </div>
                <div class="panel-body">
                    <?php
                    if($this->pagamento == 'aguardando'){
                    ?>
                    <div class="alert alert-info text-center"><h3>Seu cadastro está aguardando aprovação do moderador.</h3></div>
                    <?php
                    }else{
                    ?>
                    <div class="alert alert-info text-center"><h3>Selecione a opção desejada no menu ao lado.</h3></div>
                    <?php
                    }
                    if(isset($this->layout()->afiliado)){
                        $link = 'http://www.grupotop10.com.br/?id='.$this->layout()->afiliado->getId();
                    ?>
                    <h1>Compartilhe seu link e aumente a sua rede</h1>
                    <p><?php echo $link;?></p>
                    <button type="button" class="btn btn-success btn-sm" data-clipboard-text="<?php echo $link;?>" data-toggle="tooltip" title="Copiar endereço"><i class="fa fa-copy"></i></button>
                    &nbsp;
                    <a href="https://www.facebook.com/dialog/share?app_id=835833123227168&amp;display=popup&amp;href=<?php echo urlencode($link); ?>&amp;redirect_uri=" class="fb-share btn btn-info btn-sm" data-toggle="tooltip" title="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <?php
                    }
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>