<div class="row">
    <!--==============================Breadcrumb================================-->
    <div class="breadcrumb">
        <div class="container">
            <div>
                <span><a href="#">Home</a></span> / Contato
            </div>
        </div>
    </div>
    <div class="conteudo">
        <!--==============================content================================-->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="section">
                            <h2 class="section_title section_title_big">Fale conosco</h2>
                            <p>Seixe sua opinião, dúvida ou sugestão. Campos marcados com <span class="required">*</span> são obrigatórios.</p>
                            <form id="contactform" class="contact_form" method="post" action="">
                                <ul>
                                    <li>
                                        <label>Nome<span class="required">*</span></label>
                                        <input type="text" name="cf_name" id="cf_name" class="form-control">
                                    </li>
                                    <li>
                                        <label>E-mail<span class="required">*</span></label>
                                        <input type="email" name="cf_email" id="cf_email" class="form-control">
                                    </li>
                                    <li>
                                        <label>Assunto</label>
                                        <input type="text" name="cf_subject" id="cf_subject" class="form-control">
                                    </li>
                                    <li>
                                        <label>Mensagem</label>
                                        <textarea name="cf_message" id="cf_message" class="form-control"></textarea>
                                    </li>
                                    <li>
                                        <button class="button button_grey" type="submit" id="cf_submit"><i class="fa fa-spinner fa-spin hidden" id="spin"></i> Enviar mensagem</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                    <!--Featured video-->
                        <div class="section contato-right">
                            <h3 class="section_title">Contatos</h3>
                            <div class="t_align_c">
                                <div class="map_container">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14236.542472255796!2d-49.251106002381384!3d-26.867431997160764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94defd991a10c1a1%3A0xd0bf2091950bc72b!2sJornal+Alternativo!5e0!3m2!1spt-BR!2sbr!4v1459873564759"></iframe>
                                </div>
                            </div>
                            <p>Jornal Alternativo</p>
                            <ul class="contact_info_list">
                                <li>
                                    <div class="clearfix">
                                        <i class="fa fa-map-marker"></i>
                                        <p>Rua Sete de Lagoas, 495</p>
                                        <p>Benedito, Indaial - SC, 89130-000</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="clearfix">
                                        <i class="fa fa-phone"></i>
                                        <p>(47) 3394-3212</p>
                                        <p>(47) 8485-9770</p>
                                        <p>(47) 8435-6259</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="clearfix m_bottom_10">
                                        <i class="fa fa-envelope"></i>
                                        <p><a href="mailto:gerente.alternativo@gmail.com">gerente.alternativo@gmail.com</a></p>
                                        <p><a href="mailto:alternativoindaial@hotmail.com">alternativoindaial@hotmail.com</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>