/* GERAIS*/
*{
    margin: 0;
    padding: 0;
    border: none;
}

article,aside,audio,canvas,command,datalist,details,embed,div,div,footer,header,hgroup,keygen,meter,nav,output,progress,div,source,video,main{display:block}mark,rp,rt,ruby,summary,time{display:inline}
a, abbr, acronym, address, applet, article, aside, audio,b, blockquote, big, body,center, canvas, caption, cite, code, command,datalist, dd, del, details, dfn, dl, div, dt, em, embed,fieldset, div, div, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html,i, iframe, img, ins,kbd, keygen,label, legend, li, meter,nav,object, ol, output,p, pre, progress,q, s, samp, div, small, span, source, strike, strong, sub, sup,table, tbody, tfoot, thead, th, tr, tdvideo, tt,u, ul, var{
    background: transparent;
    border: 0 none;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}

iframe{
    width: 100%;
}

a{
    text-decoration: none;
    outline: none !important;
}

b, strong{
    font-weight: bold !important;
}

ul,ol{
    list-style: none;
}

q{
    quotes: none;
}

table, table td{ 
    padding: 0;
    border: none;
    border-collapse: collapse;
}

img{
    vertical-align: top; 
    max-width: 100%;
}

embed{ 
    vertical-align: top;
}

input,button{
    -webkit-appearance: none;
    outline: none;
}

button::-moz-focus-inner{
    border: 0;
}

html,body{
    height: 100%;
}

.conteudo{
    max-width: 1200px;
    margin: auto;
}
body {
    font: 14px/21px 'Roboto','sans-serif';
    color: #3e454c;
    background: #fff;
    background-attachment: fixed;
    overflow-x: hidden;
}
img{
    width: 100%;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Droid Serif',serif;
    color: #212428;
    line-height: 1.3em;
    font-weight: bold;
}

.clear{
    clear: both;
}

/*TOP)*/
.topo div{
    margin-top: 10px;
}

.logo-main{
    width: 100%;
}
/*NAV BAR*/
@media (min-width: 1000px) {
    .nav-content.sticky{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        background: #fff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        margin-top: -11px;
    }
}

.nav-content{
    border-bottom: 2px solid #383e44;
}

.navbar-custom{
    border-radius: 0;
    margin: 10px 0 0;
}

.navbar-custom .navbar-nav{
    margin-bottom: -3px;
}

.navbar-custom .navbar-nav li a{
    text-transform: uppercase;
    color: #383e44;
}

.navbar-custom .navbar-nav > li > a{
    border-bottom: 2px solid #323292;
}

.navbar-custom .navbar-nav > li.active > a, .navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
    background-color: #323292 !important;
    color:#fff;
}

.navbar-custom .navbar-nav > li.menu_2 > a{
    border-bottom: 2px solid #13b7ff;
}

.navbar-custom .navbar-nav > li.menu_2.active > a,
.navbar-custom .navbar-nav > li.menu_2 > a:hover,
.navbar-custom .navbar-nav > li.menu_2 > a:focus {
    background-color: #13b7ff !important;
    color:#fff;
}

.navbar-custom .navbar-nav > li.menu_3 > a {
    border-bottom: 2px solid #854ec2;
}

.navbar-custom .navbar-nav > li.menu_3.active > a,
.navbar-custom .navbar-nav > li.menu_3 > a:hover,
.navbar-custom .navbar-nav > li.menu_3 > a:focus {
    background-color: #854ec2 !important;
    color:#fff;
}

.navbar-custom .navbar-nav > li.menu_4 > a{
    border-bottom: 2px solid #feb41c;
}


.navbar-custom .navbar-nav > li.menu_4.active > a,
.navbar-custom .navbar-nav > li.menu_4 > a:hover,
.navbar-custom .navbar-nav > li.menu_4 > a:focus {
    background-color: #feb41c !important;
    color:#fff;
}

.navbar-custom .navbar-nav > li.menu_5 > a{
    border-bottom: 2px solid #ec2913;
}

.navbar-custom .navbar-nav > li.menu_5.active > a,
.navbar-custom .navbar-nav > li.menu_5 > a:hover,
.navbar-custom .navbar-nav > li.menu_5 > a:focus {
    background-color: #ec2913 !important;
    color:#fff;
}

.navbar-custom .navbar-nav > li.menu_6 > a{
    border-bottom: 2px solid #00ada7;
}


.navbar-custom .navbar-nav > li.menu_6.active > a,
.navbar-custom .navbar-nav > li.menu_6 > a:hover,
.navbar-custom .navbar-nav > li.menu_6 > a:focus {
    background-color: #00ada7 !important;
    color:#fff;
}

.navbar-custom .navbar-nav > li.menu_7 > a{
    border-bottom: 2px solid #197bbe;
}

.navbar-custom .navbar-nav > li.menu_7.active > a,
.navbar-custom .navbar-nav > li.menu_7 > a:hover,
.navbar-custom .navbar-nav > li.menu_7 > a:focus {
    background-color: #197bbe !important;
    color:#fff;
}

.navbar-custom .navbar-nav > li.menu_8.active > a,
.navbar-custom .navbar-nav > li.menu_8 > a:hover,
.navbar-custom .navbar-nav > li.menu_8 > a:focus {
    background-color: #a13d63 !important;
    color:#fff;
    border-bottom: 2px solid #a13d63;
}

.navbar-custom .navbar-nav > li.menu_8 > a{
    border-bottom: 2px solid #a13d63;
}

.navbar-custom .navbar-nav > li.menu_9.active > a,
.navbar-custom .navbar-nav > li.menu_9 > a:hover,
.navbar-custom .navbar-nav > li.menu_9 > a:focus {
    background-color: #96ca2d !important;
    color:#fff;
}

.navbar-custom .navbar-nav > li.menu_10 > a{
    border-bottom: 2px solid #d1008b;
}

.navbar-custom .navbar-nav > li.menu_10.active > a,
.navbar-custom .navbar-nav > li.menu_10 > a:hover,
.navbar-custom .navbar-nav > li.menu_10 > a:focus {
    background-color: #d1008b !important;
    color:#fff;
}

.navbar-custom .navbar-nav li.active a{
    color: #fff;
}

.bannerHome{
    margin:0; padding: 0 0 0 16px
}
/*DIVERSOS*/
.button.button_orange:hover, .button.button_grey {
    background: #3e454c;
}

.button.button_grey:hover {
    background:#323292;
}

.button {
    padding: 8px 15px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
}
a, button {
    -webkit-transition: color .4s ease, background-color .4s ease;
    transition: color .4s ease, background-color .4s ease;
}

.button.corcategoria_1 {
    background: #323292;
}
.button.banner_button {
    padding: 2px 11px;
    text-transform: none;
    font-size: 12px;
}
.button.button_grey_light{
    background: #f2f2f2;
    color: #212428;
}

.button.button_grey_light:hover,
.button.button_white:hover{
    background: #323292;
    color: #fff;
}

/*TITULOS*/
.section_title {
    color: #3e454c;
    border-top: 1px solid #3e454c;
    padding-top: 6px;
    margin-bottom: 25px;
    line-height: 1em;
    text-transform: uppercase;
    font-family: 'Roboto','sans-serif';
    font-weight: 600;
}
.section_title.section_title_big {
    font-size: 30px;
    border: none;
    padding-top: 10px;
}

.section{
    margin: 20px 0;
}
/**/

/*Rodape*/
footer .row{
    margin-top: 20px;
    border-top: 2px solid #383e44;
    background: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: -20px;
}

footer .news_title{
    padding-top: 10px;
    border-top: 1px solid #383e44;
}

/*Alerts*/
.alert_box.warning{
    color: #feb41c;
}

.alert_box i{
    float: left;
}

.alert a:hover{
    text-decoration: underline;
}

.alert a.button:hover{
    text-decoration: none;
}

.alert strong a{
    font-weight: bold!important;
}

.alert_box p{
    padding-left: 30px;
}

.alert_box.warning input{
    border: 1px solid #feb41c;
}

.alert_box.error{
    color: #ec2913;
}

.alert_box.success{
    color: #96ca2d;
}
/**/

/*Newsletter*/
#newsletter input,#newsletter button{
    height: 30px;
    padding: 4px;
}

#newsletter input{
    width: 250px;
}

#newsletter .alert_box p{
    padding-left: 0;
}
/**/

/* Rodape */
.publicidade_rodape{
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .btn-email{
    background: #fff;
    padding: 0 4px;
}

.footer_bottom_part{
    padding: 24px 0 22px;
    color: #a8aaad;
    border-top: 1px solid #4b5158;
}

.footer_bottom_part p{
    float: left;
}

.footer_bottom_part p span{
    color: #000;
}

.footer_bottom_part .mobile_menu{
    float: right;
}

.footer_bottom_part .mobile_menu nav ul {
    list-style: circle;
}

.footer_bottom_part .mobile_menu nav ul li{
    float: left;
    margin: 0 10px;
}

.footer_bottom_part .mobile_menu nav ul li a{
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

/*ICONS*/
i[class^="fa "]{
    line-height: inherit;
}

[class*="button_type_"]:not(.button_type_1) > i:not([class*="m_"]):only-of-type{
    margin-left:10px;
    margin-right:10px;
}

.widget_social_icons ul li{
    float: left;
    margin-right: 10px;
}


.widget_social_icons ul li a{
    display:block;
    width:39.5px;
    height:40px;
    color:#838a8f;
    text-align: center;
}

.widget_social_icons ul li:hover a{
    color:#fff;
}

.widget_social_icons ul li a i[class^="fa "]{
    line-height: 40px;
}

.widget_social_icons ul .website:hover a{background:#323292;}
.widget_social_icons ul .facebook:hover a,.sw_button.facebook{background:#3b5998;}
.widget_social_icons ul .twitter:hover a,.sw_button.twitter,.tw_color{background:#2daae1;}
.widget_social_icons ul .google_plus:hover a{background:#f63e28;}
.widget_social_icons ul .rss:hover a{background:#ff7e00;}
.widget_social_icons ul .pinterest:hover a{background:#cb2027;}
.widget_social_icons ul .instagram:hover a{background:#835e42;}
.widget_social_icons ul .linkedin:hover a{background:#0073b2;}
.widget_social_icons ul .vimeo:hover a{background:#44b0de;}
.widget_social_icons ul .youtube:hover a{background:#ff3132;}
.widget_social_icons ul .flickr:hover a{background:#ff0084;}
.widget_social_icons ul .envelope:hover a,.sw_button.contact{background:#1abc9c;}

.widget_social_icons.type_2 ul li a,
.widget_social_icons.type_2 ul li a{
    font-size: 14px;
    width: 35px;
    height: 35px;
}

.widget_social_icons.type_2 ul li a i,
.widget_social_icons.type_2 ul li a i{
    line-height: 35px;
}

.widget_social_icons.type_2.type_border ul li a{
    border: 1px solid #e8e8e8;
}

.publicidadesDestaque{
    margin:0; 
    padding: 0 15px 0 0 ;
}
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .bannerHome{
        margin:0; padding: 0 16px 0 16px
    }
    
    .collapse.in{
        display:block !important;
    }
    .navbar-custom{
        background: #383e44;
    }

    .navbar-toggle {
        display: block;
        float: left;
        color: #fff;
    }
    .navbar-toggle .menu-text{
        color: #fff;
        float: left;
        margin-left: 5px;
    }
    .navbar-toggle .menu-icon{
        color: #fff;
        float: left;
        margin-top: 2px;
    }
    .navbar-toggle span.icon-bar{
        background-color: #fff;
    }

    .navbar-custom .navbar-nav li a{
        color: #fff;
    }
    .contato-right{
        margin-top: 30px;
    }
}

@media (max-width: 768px) {


    .footer_bottom_part p{
        float: none;
        text-align: center;
    }

    .footer_bottom_part .mobile_menu{
        float: none;
    }

    .footer_bottom_part .mobile_menu nav ul li{
        float: none;
        margin: 0 10px;
    }

    .footer_bottom_part .mobile_menu nav ul li a{
        font-size: 14px;
        font-weight: 300;
        color: #000;
    }
    
    .centerNoticiasHome{
        margin-top: 20px;
    }
    
    .publicidadesDestaque{
        margin:0; 
        padding: 0 15px 0 15px;
    }
}


/*Detalhes da noticia*/
.a_title{
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 600;
    color: #b0b1b4;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.textDetails img{
    margin: 10px !important;
}

/*----------- Imagens --------------*/

.read_post_list .section_title{
    margin-bottom: 0;
}

.read_post_list > div.section{
    margin-bottom: 20px;
}

.read_post_list ul li{
    margin-top: 35px;
}

.read_post_list ul li:first-child{
    margin-top: 35px;
}

.read_post_list.var2 ul li{
    margin-top: 40px;
}

.read_post_list.var3 ul li{
    margin-top: 40px;
}

.read_post_list.var2 ul li:first-child{
    margin-top: 30px;
}

.read_post_list ul li .button_type_2{
    margin-top: 15px;
}

.gallery_list.read_post_list ul li div{
    margin-bottom: 0;
}


/* Jackbox */
.open_buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
}

.with_buttons:hover .open_buttons > *{
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;  
    visibility: visible;
}

.with_buttons:after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0;
    background: rgba(41,47,56,.5);
    -webkit-transition:opacity .7s ease;
    -moz-transition:opacity .7s ease;
    -o-transition:opacity .7s ease;
    transition:opacity .7s ease;
}

.with_buttons:hover:after{
    opacity:1;  
    visibility: visible;  
}

.open_buttons > *{
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.open_buttons > *:first-child{
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    -ms-transition-delay: .2s;
}

.open_buttons > *:nth-child(2){
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    -ms-transition-delay: .4s;
    margin-left: 3px;
}

.open_buttons > *:nth-child(3){
    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    -o-transition-delay: .6s;
    -ms-transition-delay: .6s;
}

.jackbox_button{
    position: relative;
    display: block;
    padding: 11px 11px 9px 11px;
    font-size: 18px;
}

/* Listas de noticias */
.listNoticias li{
    margin: 10px 0;
}

.post_image_buttons a{
    position: absolute;
    bottom: 0;
    display: inline-block;
}


.post_image_buttons a:hover{
    color:#fff;
}

.scale_image_container .event_date{
    color: #fff;
}

.scale_image_container{
    -webkit-backface-visibility:hidden;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

.scale_image_container:hover .scale_image{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);
}

.scale_image{
    -webkit-transition: all .4s ease;
    transition: all .4s ease;

    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    -ms-transform:scale(1.1);
    transform:scale(1.1);
}

.caption_type_1{
    position:absolute;
    left:0;
    bottom:0;
    -webkit-transform:translateY(10px);
    -moz-transform:translateY(10px);
    -o-transform:translateY(10px);
    -ms-transform:translateY(10px);
    transform:translateY(10px);
    width:100%;

    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.caption_inner{
    background:rgba(34,34,38,.3);
    padding:17px 20px 20px;
}

.scale_image_container:hover .caption_type_1{
    -webkit-transform:translateY(0px);
    -moz-transform:translateY(0px);
    -o-transform:translateY(0px);
    -ms-transform:translateY(0px);
    transform:translateY(0px);
}

.event_date,
.event_info,
.event_activity{
    font-size: 12px;
    color: #b0b1b4;
}

.event_info a{
    color: #b0b1b4;
    margin-left: 15px;
}

.event_info a:first-child{
    margin-left: 0;
}

.event_info a:hover{
    color: #3e454c;
}

.event_date{
    text-transform: uppercase;
}

.event_activity{
    padding-top: 5px;
}

.event_date span{
    text-transform: none;
}

/*ABas coloridas*/
.tabs{
    padding-top: 10px;
}

.tabs.corcategoria_1{
    border-top: 1px solid #323292;
}

.tabs.corcategoria_2{
    border-top: 1px solid #13b7ff;
}

.tabs.corcategoria_3{
    border-top: 1px solid #854ec2;
}

.tabs.corcategoria_4{
    border-top: 1px solid #feb41c;
}

.tabs.corcategoria_5{
    border-top: 1px solid #ec2913;
}

.tabs.corcategoria_6{
    border-top: 1px solid #00ada7;
}

.tabs.corcategoria_7{
    border-top: 1px solid #197bbe;
}

.tabs.corcategoria_8{
    border-top: 1px solid #a13d63;
}

.tabs.corcategoria_9{
    border-top: 1px solid #96ca2d;
}

.tabs.corcategoria_10{
    border-top: 1px solid #d1008b;
}

.tabs .section_title{
    border-top: none;
    float: left;
    padding-top: 0;
    margin-bottom: 0;
    color: #feb41c;
}

.tabs.corcategoria_1 .section_title{
    color: #323292;
}

.tabs.corcategoria_2 .section_title{
    color: #13b7ff;
}

.tabs.corcategoria_3 .section_title{
    color: #854ec2;
}

.tabs.corcategoria_4 .section_title{
    color: #feb41c;
}

.tabs.corcategoria_5 .section_title{
    color: #ec2913;
}

.tabs.corcategoria_6 .section_title{
    color: #00ada7;
}

.tabs.corcategoria_7 .section_title{
    color: #197bbe;
}

.tabs.corcategoria_8 .section_title{
    color: #a13d63;
}

.tabs.corcategoria_9 .section_title{
    color: #96ca2d;
}

.tabs.corcategoria_10 .section_title{
    color: #d1008b;
}

.button.corcategoria_1{
    background: #323292;
}

.button.corcategoria_2{
    background: #13b7ff;
}

.button.corcategoria_3{
    background: #854ec2;
}

.button.corcategoria_4{
    background: #feb41c;
}

.button.corcategoria_5{
    background: #ec2913;
}

.button.corcategoria_6{
    background: #00ada7;
}

.button.corcategoria_7{
    background: #197bbe;
}

.button.corcategoria_8{
    background: #a13d63;
}

.button.corcategoria_9{
    background: #96ca2d;
}

.button.corcategoria_10{
    background: #d1008b;
}

/*----------- Contact page --------------*/
.contact_form{
    margin-top: 20px;
}

.contact_form > ul > li{
    margin-top: 15px;
}

.contact_form ul li label{
    margin-bottom: 5px;
    display: block;
    font-weight: 300;
}

.contact_form ul li textarea{
    height: 225px;
}

.map_container{
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 60%;
    margin-bottom: 15px;
} 

.map_container.var2{
    margin-bottom: 0;
    padding-bottom: 35%;
}

.map_container > iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.contact_info_list li{
    margin-top: 10px;
}

.contact_info_list li i{
    float: left;
}

.contact_info_list li p{
    padding-left: 25px;
}

.message_container{
    margin-top: 10px;
}


/*----------- Pagination --------------*/

.pagination_block{
    margin-top: 40px;
    text-align: center;
    border-top: 1px solid #3e454c;
    padding-top: 5px;
}

.pagination_block.var2{
    margin-top: 0;
    text-align: left;
    border-top: none;
    padding-top: 0;
}

.pagination_block span{
    color: #b0b1b4;
    display: inline-block;
    line-height: 31px;
}

.pagination{
    display: inline-block;
    margin-left: 5px;
}

.pagination li{
    float: left;
}

.pagination li a{
    padding: 5px 11px;
    color: #212428;
    display: block;
    margin-left: 2px;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.pagination li a.active{
    background: #323292;
    color: #fff;
}

.pagination li a:hover{
    background: #323292;
    color: #fff;
}

.carousel-inner{height: 438px;}

.carousel-control .fa{

    position: relative;
    top: 50%;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.carousel-control.right,.carousel-control.left {
    background-image: none;
}

.carousel-caption {
    left: 0;
    bottom: 0;
}
.carousel-caption {
    position: absolute;
    z-index: 10;
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background:rgba(34,34,38,.3);
    padding:17px 20px 20px;
    width: 100%;
}
.carousel-caption h2{
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
}
.news_gallery{
    margin: 10px -15px;
    background: #f2f2f2;
    padding: 25px 0;
}

.news_gallery.news_gallery_var2 .section_title{
    color: #3e454c;
}

.news_gallery .section_title{
    border: none;
    padding-top: 0;
    color: #ec2913;
}
.button.view_button{
  padding: 1px 11px;
  background: #f2f2f2;
  color: #3e454c;
  font-size: 12px;
  float: right;
}

.button.view_button:hover{
  background: #323292;
  color: #fff;
}

.listNoticiasHome{
    margin: 20px 0;
}


.slick-list.draggable{
    min-height: 4400px;
}