@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  font-size: 17px;
  color: #6a6c6f;
  margin: 0;
  padding: 0;
  height: 100%;
}
/* Backgrounds */
.bg-white {
  background-color: #fff;
}
.bg-light-soft {
  background-color: #f1f3f6;
}
.bg-light {
  background-color: #f7f9fa;
}
.landing-page .navbar-form-custom,
.landing-page .navbar-right,
.landing-page #logo {
    display: block;
    margin-top: 25px;
}
.landing-page .navbar-default {
    background: #e6e7eb;
    height: 100px;
}
.landing-page .navbar .navbar-brand {
    font-size: 12px;
    height: auto;
    margin-top: 0px;
    padding: 9px 15px;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    display: block;
    /*background-color: #ec3237;*/
    margin-left: 0;
}
.landing-page .navbar-right{
    background: #e6e7eb;
}

.landing-page .navbar-default .navbar-toggle:hover,
.landing-page .navbar-default .navbar-toggle:focus {
    background: #ec3237;
}
.landing-page .navbar-default .navbar-toggle:hover .icon-bar,
.landing-page .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff !important;
}
.landing-page .navbar-default .navbar-nav > .active > a,
.landing-page .navbar-default .navbar-nav > .active > a:hover,
.landing-page .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #ec3237;
    border: none;
}
.landing-page .navbar-default li a:hover {
    border-bottom: none;
}
.landing-page .brand-desc {
    color: #455463;
    margin: 17px 10px 0 90px;
    width: 180px;
}
.landing-page .navbar-nav > li > a {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 15px;
    color: #455463;
}
.landing-page .navbar-nav > li,
.landing-page .navbar-nav > li > a {
    height: 55px;
}
.landing-page header {
    background: url('../../images/affiliate/header.jpg') 50% 0 no-repeat;
    height: 480px;
    padding-top: 50px;
    margin-bottom: 30px;
}
.landing-page section {
    padding: 50px 0 50px 0;
    border-bottom: 1px solid #e4e5e7;
}
.landing-page section h2 {
    margin-top: 0;
}
.landing-page section p {
    margin-top: 0px;
}
.landing-page header .container {
    position: relative;
}
.landing-page .heading {
    margin-top: 80px;
    color: #000;
    background: rgba(255,255,255,.5);
    max-width: 500px;
    padding: 10px;
    
}
.landing-page .heading h1 {
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 5px;
    letter-spacing: -0.5px;
}
.landing-page h4 {
    font-weight: 600;
}
.landing-page p {
    color: #a7afb8;
}
.landing-page .heading span {
    font-size: 13px;
    font-weight: 600;
}
.landing-page .heading p.small {
    margin-top: 10px;
    color: #a7afb8;
    max-width: 260px;
}
.landing-page .heading-image {
    position: absolute;
    right: 60px;
    top: 120px;
    text-align: right;
}
.landing-page .heading-image p {
    color: #a7afb8;
    margin-bottom: 5px;
}
.landing-page .heading-image img {
    -webkit-box-shadow: 0px 0px 8px 0px #333333;
    -moz-box-shadow: 0px 0px 8px 0px #333333;
    box-shadow: 0px 0px 8px 0px #333333;
    margin-left: 12px;
    margin-top: 12px;
    width: 180px;
    border-radius: 1px;
}
.landing-page .navy-link {
    background: #455463;
    color: #fff;
}
.landing-page .icon-big {
    font-size: 70px;
}
.landing-page .team-member img {
    height: 72px;
}
.landing-page .social-icon a {
    background: #ec3237;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    height: 28px;
    width: 28px;
    display: block;
    border-radius: 4px;
}
.landing-page .list-inline > li {
    padding: 0;
}
.landing-page .social-icon a:hover {
    background: #5abb2d;
}
.landing-page .pricing-plan {
    margin: 20px 10px 0 10px;
    border-radius: 4px;
    padding-bottom: 20px;
    background: #fff;
    border: 1px solid #e4e5e7;
}
.landing-page .pricing-plan li {
    padding: 3px 16px;
    text-align: center;
    color: #aeaeae;
}
.landing-page .pricing-plan .pricing-price span {
    font-weight: 500;
    font-size: 20px;
    color: #ec3237;
}
.landing-page .pricing-title .label {
    font-size: 12px;
}
.landing-page li.pricing-desc {
    font-size: 13px;
    border-top: none;
    padding: 20px 16px 0px 16px;
}
.landing-page li.pricing-title {
    color: #455463;
    padding: 25px 10px 0px 10px;
    border-radius: 4px 4px 0 0;
    font-size: 22px;
    font-weight: 600;
}
.landing-page .client {
    color: #a7afb8;
    background: #f7f9fa;
    padding: 30px 10px;
    margin: 0px 0 20px 0;
    text-transform: uppercase;
    font-weight: 600;
}

.firstDivContent{
    padding-top: 80px;
}

@media (max-width: 1200px) {
    .landing-page .heading-image {
        display: none;
    }
    .landing-page .heading {
        text-align: center;
    }
    .landing-page .heading p.small {
        margin: 10px auto;
    }
    .landing-page .brand-desc {
        display: none;
    }
    .landing-page .navbar .navbar-brand {
        margin-left: 10px;
    }
}

@media (max-width: 767px) {
    .landing-page .navbar-form-custom,
    .landing-page .navbar-right,
    .landing-page #logo {
        display: block;
        margin-top: 0px;
    }
}


/*Aditional*/
/* Panels */
.hpanel > .panel-heading {
  color: inherit;
  font-weight: 600;
  padding: 10px 4px;
  transition: all .3s;
  border: 1px solid transparent;
}
.hpanel .hbuilt.panel-heading {
  border-bottom: none;
}
.hpanel > .panel-footer,
.hpanel > .panel-section {
  color: inherit;
  border: 1px solid #e4e5e7;
  border-top: none;
  font-size: 90%;
  background: #f7f9fa;
  padding: 10px 15px;
}
.hpanel.panel-collapse > .panel-heading,
.hpanel .hbuilt {
  background: #fff;
  border-color: #e4e5e7;
  border: 1px solid #e4e5e7;
  padding: 10px 10px;
  border-radius: 2px;
}
.hpanel .panel-body {
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}
.hpanel.panel-group .panel-body:first-child {
  border-top: 1px solid #e4e5e7;
}
.hpanel.panel-group .panel-body {
  border-top: none;
}
.panel-collapse .panel-body {
  border: none;
}
.hpanel {
  background-color: none;
  border: none;
  box-shadow: none;
  margin-bottom: 25px;
}
.panel-tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  padding: 0;
  position: relative;
}
.hpanel .alert {
  margin-bottom: 0;
  border-radius: 0;
  border: 1px solid #e4e5e7;
  border-bottom: none;
}
.panel-tools a {
  margin-left: 5px;
  color: #9d9fa2;
  cursor: pointer;
}
.hpanel.hgreen .panel-body {
  border-top: 2px solid #62cb31;
}
.hpanel.hblue .panel-body {
  border-top: 2px solid #3498db;
}
.hpanel.hyellow .panel-body {
  border-top: 2px solid #ffb606;
}
.hpanel.hviolet .panel-body {
  border-top: 2px solid #9b59b6;
}
.hpanel.horange .panel-body {
  border-top: 2px solid #e67e22;
}
.hpanel.hred .panel-body {
  border-top: 2px solid #e74c3c;
}
.hpanel.hreddeep .panel-body {
  border-top: 2px solid #c0392b;
}
.hpanel.hnavyblue .panel-body {
  border-top: 2px solid #34495e;
}
.hpanel.hbggreen .panel-body {
  background: #62cb31;
  color: #fff;
  border: none;
}
.hpanel.hbgblue .panel-body {
  background: #3498db;
  color: #fff;
  border: none;
}
.hpanel.hbgyellow .panel-body {
  background: #ffb606;
  color: #fff;
  border: none;
}
.hpanel.hbgviolet .panel-body {
  background: #9b59b6;
  color: #fff;
  border: none;
}
.hpanel.hbgorange .panel-body {
  background: #e67e22;
  color: #fff;
  border: none;
}
.hpanel.hbgred .panel-body {
  background: #e74c3c;
  color: #fff;
  border: none;
}
.hpanel.hbgreddeep .panel-body {
  background: #c0392b;
  color: #fff;
  border: none;
}
.hpanel.hbgnavyblue .panel-body {
  background: #34495e;
  color: #fff;
  border: none;
}
.panel-group .panel-heading {
  background-color: #f7f9fa;
}
.small-header .hpanel {
  margin-bottom: 0;
}
.small-header {
  padding: 0 !important;
}
.small-header .panel-body {
  padding: 15px 25px;
  border-right: none;
  border-left: none;
  border-top: none;
  border-radius: 0;
}
.panel-body h5,
.panel-body h4 {
  font-weight: 600;
}
.small-header .panel-body h2 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 0 0;
}
.small-header .panel-body small {
  color: #838589;
}
.hbreadcrumb {
  padding: 2px 0px;
  margin-top: 6px;
  margin-bottom: 0px;
  list-style: none;
  background-color: #fff;
  font-size: 11px;
}
.hbreadcrumb > li {
  display: inline-block;
}
.hbreadcrumb > li + li:before {
  padding: 0 5px;
  color: #34495e;
}
.hbreadcrumb > .active {
  color: #9d9fa2;
}
.wrapper {
  padding: 10px 20px;
}
.hpanel.collapsed .panel-body,
.hpanel.collapsed .panel-footer {
  display: none;
}
.hpanel.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.hpanel.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.hpanel.collapsed.panel-collapse .panel-body {
  border-width: 0 1px 1px 1px;
  border-color: #e4e5e7;
  border-style: solid;
}
.hpanel.collapsed .hbuilt.panel-heading {
  border-bottom: 1px solid #e4e5e7;
}
body.fullscreen-panel-mode {
  overflow-y: hidden;
}
.hpanel.fullscreen {
  z-index: 2030;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  margin-bottom: 0;
}
.hpanel.fullscreen .showhide {
  display: none;
}
.hpanel.fullscreen .panel-body {
  min-height: calc(100% - 77px);
}
label.error,
label span.error {
  color: #e74c3c;
  margin: 5px 0 0 0;
  font-weight: 400;
  font-size: 10px;
}
label span.error {
  margin-left: 5px;
}
label.error:before {
  content: "\f071";
  font-family: 'FontAwesome';
  margin: 0 4px;
}

body.modal-open {
  padding-right: 0 !important;
  position: absolute;
}
.h-modal-icon {
  font-size: 66px;
}
.inmodal .color-line {
  border-radius: 4px 4px 0 0;
}
.modal-content {
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modal-backdrop.in {
  opacity: 0.4;
}
.modal-backdrop {
  position: fixed;
  bottom: 0;
}
.modal-dialog {
  margin-top: 80px;
}
.modal-title {
  font-size: 30px;
  font-weight: 300;
}
.modal-header {
  padding: 40px 30px;
  background: #f7f9fa;
}
.modal-body {
  padding: 20px 30px;
}
.modal-header small {
  color: #9d9fa2;
}
.modal-footer {
  background: #f7f9fa;
}
.hmodal-info .color-line {
  background: #3498db;
}
.hmodal-warning .color-line {
  background: #ffb606;
}
.hmodal-success .color-line {
  background: #62cb31;
}
.hmodal-danger .color-line {
  background: #c0392b;
}
.hmodal-info h4.modal-title {
  color: #3498db;
}
.hmodal-warning h4.modal-title {
  color: #ffb606;
}
.hmodal-success h4.modal-title {
  color: #62cb31;
}
.hmodal-danger h4.modal-title {
  color: #c0392b;
}

.trustLogo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}